<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Neword">

    <!-- Title Page-->
    <title>Contenu d'une thèse</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <!-- thymeleaft -->
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
    <!-- Bootstrap CSS-->
    <link th:href="@{/vendor/bootstrap-4.1/bootstrap.min.css}" rel="stylesheet" media="all">


</head>

<body class="row">
<!--navigation-->
<div th:replace="~{../templates/fragments/navigation :: navigation}">
</div>
<!-- navigation -->


<div class="col-12 main">

   <div>
        <!-- these detail -->
        <div class=" col text-center" style="width:100%;">
            <h2 class="card alert-info mb-5">Bibliothèques et Bibliographies</br><span th:text="${these1.subject}"></h2>
            <div class="row" >
                <div class="col-3" style="position:fixed !important;" >
                    <div class="card mt-6">
                        <div th:replace="~{../templates/fragments/theseNavigation :: theseNavigation}"></div>
                    </div>
                </div>
                <div class="col-9 offset-3">
                    <h3 class="card alert-info mt-3">Bibliothèques</h3>
                    <ul class="list-group">
                        <li class="list-group-item" th:each="bibliography : ${bibliographies}" th:text="${bibliography}"></li>
                    </ul>
                    <h3 class="card alert-info mt-3">Bibliographies</h3>
                    <ul class="list-group">
                        <li class="list-group-item" th:each="librairy : ${librairies}" th:text="${librairy}"></li>
                    </ul>
                </div>
            </div>

        </div>

        </div>
            </div>
        <!-- these detail-->
</div>
</div>
<!-- scripts-->
<!--vendor scripts -->
<div th:insert="~{../templates/fragments/scripts :: scripts}"></div>
<!--vendor scripts -->

<!-- scripts-->

</body>

</html>