<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Neword">

    <!-- Title Page-->
    <title>Contenu d'une thèse</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <!-- thymeleaft -->
    <!--link th:href="@{/css/style.css}" rel="stylesheet"-->
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
    <link th:href="@{/css/style1.css}" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Bootstrap CSS-->
    <link th:href="@{/vendor/bootstrap-4.1/bootstrap.min.css}" rel="stylesheet" media="all">


</head>

<body class="row">


<div class="col-12 main">
    <!--navigation-->
    <div th:replace="~{../templates/fragments/navigationthese :: navigationthese}">
    </div>
    <!-- navigation -->

    <div>
        <!-- these detail -->
        <div class=" col text-center content mt-5" style="width:100%;">
            <h2 class=" mb-5 ">Etudiant et équipe directrice</span></h2>
            <div class="row">
                <div class="col-3 " style="position:fixed !important;">
                    <div class="card mt-6">
                        <div th:replace="~{../templates/fragments/theseNavigation :: theseNavigation}"></div>
                    </div>
                </div>
                <div class="col-9 offset-3">
            <div >
                <div class="card">
                    <table class="table">
                        <thead class="bg-light">
                        <h4 >Etudiant</h4>
                        </thead>
                        <tbody>
                        <td id="detailStudent" th:text="${these1.student}"></td>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="mt-4">
                <div class="card">
                    <table class="table">
                        <thead class="bg-light">
                        <h4>Encadreur</h4>
                        </thead>
                        <tbody>
                        <td id="detailProf" th:text="${these1.profesor}"></td>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="mt-4">
                <div class="card">
                    <table class="table">
                        <thead class="bg-light">
                        <h4>Chef de travaux/Charge de cours</h4>
                        </thead>
                        <tbody>
                        <td id="detailChiefOfWork" th:text="${these1.workChief}"></td>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="mt-4">
                <div class="card">
                    <table class="table">
                        <thead class="bg-light">
                        <h4 >Assistant</h4>
                        </thead>
                        <tbody>
                        <td id="detailAssistant" th:text="${these1.assistant}"></td>
                        </tbody>
                    </table>
                </div>
            </div>

                    <div class=" pull-right text-right my-4" style="padding:0">
                        <a class="btn btn-success rounded-circle"  data-toggle="modal" data-target="#modal-warning" th:attr="data-target='#modal-warning'+${these1.theseId }">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <span>Editer</span>
                    </div>
            </div>
                <div class="modal card modal-warning alert-warning fade in" th:id="modal-warning+${these1.theseId}" >
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header text-center alert-info">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span></button>
                                <h5 class="modal-title">Modification de l'equipe directrice</h5>
                            </div>
                            <div class="modal-body text-center">
                                <h3>Veuillez s'il vous plait les champs irreguliers</h3>
                            </div>
                            <form class=" text-center" style="width:100%;padding:1rem;" enctype="multipart/form-data" method="post" th:action="@{/these/add/update/equipe}" th:object="${these1}">

                                <div class="mb-4">
                                    <div class="col-12 col-sm-6 col-lg-12">
                                        <div class="form-group">
                                            <span class='error' id="assistantError"></span>
                                            <input type="text" th:field="*{assistant}" id="assistant" class="form-control" placeholder="Nom de l'assistant" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-lg-12">
                                        <div class="form-group">
                                            <span class='error' id="studentError"></span>
                                            <input type="text" th:field="*{student}" id="student" class="form-control" placeholder="Nom de l'étudiant" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-lg-12">
                                        <div class="form-group ">
                                            <span class='error' id="profError"></span>
                                            <input type="text" th:field="*{profesor}" id="prof" class="form-control" placeholder="Nom de l'encadreur/prof" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-lg-12">
                                        <div class="form-group">
                                            <span class='error' id="workChiefError"></span>
                                            <input type="text" th:field="*{workChief}" id="workChief" class="form-control" placeholder="Nom du chef des travaux" />
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer text-center">
                                    <button type="button" class="btn btn-warning pull-left" data-dismiss="modal">Fermer</button>
                                    <button type="submit" class="btn btn-success"><i class="fa fa-check"></i>&nbsp;Enregistrer</button>
                                </div>
                                <div style="display: none;">
                                    <div class="row mb-4">
                                        <!--theseId-->
                                        <input type="hidden" th:field="*{theseId}"  >
                                        <!--theseId-->
                                        <div class="col-4">
                                            <div class="img-upload-div">
                                                <input class="img-input" type="text" th:field="*{resumes}"  style="display:none" placeholder="Sommaire">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        </div>


        <!-- these detail-->

    </div>
</div>
<!-- scripts-->
<!--vendor scripts -->
<div th:insert="~{../templates/fragments/scripts :: scripts}"></div>
<!--vendor scripts -->

<!-- scripts-->
<!-- ##### All Javascript Script ##### -->
<!-- jQuery-2.2.4 js -->
<script th:src="@{/js/jquery/jquery-2.2.4.min.js}"></script>
<!-- Popper js -->
<script th:src="@{/js/bootstrap/popper.min.js}"></script>
<!-- Bootstrap js -->
<script th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
<!-- All Plugins js -->
<script th:src="@{/js/plugins/plugins.js}"></script>
<!-- Active js -->
<script th:src="@{/js/active.js}"></script>
<!-- js -->
<script th:src="@{/js/js.js}"></script>

</body>

</html>