<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Neword">

    <!-- Title Page-->
    <title>Les thèses</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <!-- thymeleaft -->
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
    <link th:href="@{/css/showTheses.css}" rel="stylesheet">
    <!-- Bootstrap CSS-->
    <link th:href="@{/vendor/bootstrap-4.1/bootstrap.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/css/addTheses.css}" rel="stylesheet">
    <!-- thymeleaft-->
    <link href="./css/style.css" rel="stylesheet">
    <link href="./css/dashboard.css" rel="stylesheet">
    <link href="./css/showTheses.css" rel="stylesheet">
    <!-- Bootstrap CSS-->
    <link href="./vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">
    <link href="./css/addTheses.css" rel="stylesheet">
</head>
<body class="row">

<!-- sidebar-->
<!--div th:replace="~{../templates/fragments/sidebar :: sidebar}">
</div-->
<!-- sidebar-->

<div class="col-11 offset-1 main">

    <!--navigation-->
    <div th:replace="~{../templates/fragments/navigation :: navigation}">
    </div>
    <!-- navigation -->
    <!-- showing theses-->
    <div class="row content">
        <table class="table table-bordered text-center">
            <thead>
            <tr>
                <th>Pays</th>
                <th>Région</th>
                <th>Université</th>
                <th>Faculté</th>
                <th>Option</th>
                <th>Sujet</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="these: ${theses}">
                <td th:text="${these.country}"></td>
                <td th:text="${these.regions}"></td>
                <td th:text="${these.university}"></td>
                <td th:text="${these.faculty}"></td>
                <td th:text="${these.options}"></td>
                <td th:text="${these.subject}"></td>
                <td>
                    <a th:href="@{/these/these/} + ${these.theseId}"   class="detailLink" alt="detail">
                        <i class="zmdi zmdi-eye" data-toggle="modal" data-target="#detail"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>

        <!--pagination-->
        <div th:if="${theses.totalPages > 0}" class="pagination row justify-content-end" th:each="pageNumber : ${pageNumbers}">
            <a th:href="@{/these(size=${theses.size}, page=${pageNumber})}" th:text=${pageNumber} th:class="${pageNumber==theses.number + 1} ? active"></a>
        </div>
        <!--pagination-->
    </div>
    <!-- showing theses-->

    <!-- print button-->
    <a th:href="@{/these/createPdf/} + ${currentPage}">
        <button type="button" class="printButton btn btn-success ">
            Imprimer
        </button>
    </a>
    <!-- print button-->
    </div>
    <!-- scripts-->
        <!--vendor scripts -->
            <div th:insert="~{../templates/fragments/scripts :: scripts}"></div>
        <!--vendor scripts -->
    <script th:src="@{/js/dashboard.js}"></script>
    <script th:src="@{/js/showTheses.js}"></script>
    <!-- scripts-->

</body>

</html>