<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Neword">

    <!-- Title Page-->
    <title>Contenu d'une thèse</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <!-- thymeleaft -->
    <!--link th:href="@{/css/style.css}" rel="stylesheet"-->
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
    <link th:href="@{/css/style1.css}" rel="stylesheet">
    <!-- Bootstrap CSS-->
    <link th:href="@{/vendor/bootstrap-4.1/bootstrap.min.css}" rel="stylesheet" media="all">


</head>

<body class="row">

<div class="col-12 main">
    <!--navigation-->
    <div th:replace="~{../templates/fragments/navigationthese :: navigationthese}">
    </div>
    <!-- navigation -->

   <div>
        <!-- these detail -->
        <div class=" col text-center content mt-5" style="width:100%;">
            <h2 class=" mb-5">Bibliothèques et Bibliographies</h2>
            <div class="row" >
                <div class="col-3" style="position:fixed !important;" >
                    <div class="card mt-6">
                        <div th:replace="~{../templates/fragments/theseNavigation :: theseNavigation}"></div>
                    </div>
                </div>
                <div class="col-9 offset-3">
                    <h3>Bibliothèques</h3>
                    <ul class="list-group">
                        <li class="list-group-item" th:each="bibliography : ${bibliographies}" th:text="${bibliography}"></li>
                    </ul>
                    <h3 class=" mt-3">Bibliographies</h3>
                    <ul class="list-group">
                        <li class="list-group-item" th:each="librairy : ${librairies}" th:text="${librairy}"></li>
                    </ul>

                    <div class="text-right mt-4">
                        <a th:href="@{/these/these/}+${these1.theseId}" class="btn btn-primary ">Retour</a>
                    </div>
                </div>

            </div>

        </div>

        </div>
            </div>
        <!-- these detail-->
</div>
</div>
<!-- scripts-->
<!--vendor scripts -->
<div th:insert="~{../templates/fragments/scripts :: scripts}"></div>
<!--vendor scripts -->

<!-- scripts-->
<!-- ##### All Javascript Script ##### -->
<!-- jQuery-2.2.4 js -->
<script th:src="@{/js/jquery/jquery-2.2.4.min.js}"></script>
<!-- Popper js -->
<script th:src="@{/js/bootstrap/popper.min.js}"></script>
<!-- Bootstrap js -->
<script th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
<!-- All Plugins js -->
<script th:src="@{/js/plugins/plugins.js}"></script>
<!-- Active js -->
<script th:src="@{/js/active.js}"></script>


</body>

</html>