<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Neword">

    <!-- Title Page-->
    <title>Les thèses</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <!-- thymeleaft -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link th:href="@{/vendor/bootstrap-4.1/bootstrap.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/css/showTheses.css}" rel="stylesheet">
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
    <link th:href="@{/css/style1.css}" rel="stylesheet">
    <link th:href="@{/css/crew.css}" rel="stylesheet">
    <!--link th:href="@{/css/style.css}" rel="stylesheet"-->
    <style>
        .pagination>li>a, .pagination>li>span { border-radius: 50% !important;margin: 0 5px;}
    </style>
    <!-- thymeleaft-->
</head>
<body class="row " >

<!-- sidebar-->
<!--div th:replace="~{../templates/fragments/sidebar :: sidebar}">
</div-->
<!-- sidebar-->

<div class="col-12 main">
    <!--navigation-->
    <div th:replace="~{../templates/fragments/navigation :: navigation}">
    </div>
    <!-- navigation -->
    <h2 class="text-center mt-5">Thèses Génerale</h2>
    <!-- showing theses-->
    <div class="row content mt-3 card p-5 ">
        <table class="table table-bordered table-hover table-lg display">
            <thead>
            <tr>
                <th>Pays</th>
                <th>Région</th>
                <th>Université</th>
                <th>Faculté</th>
                <th>Option</th>
                <th>Sujet</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="these: ${theses}">
                <td th:text="${these.country}"></td>
                <td th:text="${these.regions}"></td>
                <td th:text="${these.university}"></td>
                <td th:text="${these.faculty}"></td>
                <td th:text="${these.options}"></td>
                <td th:text="${these.subject}"></td>
                <td>
                    <a th:href="@{/these/these/} + ${these.theseId}"   class="detailLink btn" alt="detail"> Ouvrir&nbsp;
                        <i class="zmdi zmdi-eye"></i>
                    </a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a  th:href="@{/these/general/edit/}+${these.theseId}" class="btn">Editer&nbsp;
                        <i class="fa fa-pencil"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        <!--pagination-->
        <div class="row " style="bottom: 1rem;width: 100%;">
            <div class="form-group col-12 col-sm-6 col-lg-3">
                <select class="form-control pagination" id="pageSizeSelect">
                    <option th:each="pageSize : ${pageSizes}" th:text="${pageSize}"
                            th:value="${pageSize}"
                            th:selected="${pageSize} == ${selectedPageSize}"></option>
                </select>
            </div>
            <div th:if="${theses.totalPages != 1}"
                 class="form-group col-12 col-sm-6 col-lg-9 pagination-centered">
                <ul class="pagination">
                    <li th:class="${theses.number == 0} ? disabled" class="page-item" ><a
                            class="page-link"
                            th:href="@{/user(pageSize=${selectedPageSize}, page=1)}">«</a>
                    </li>
                    <li th:class="${theses.number == 0} ? disabled" class="page-item" ><a
                            class="page-link"
                            th:href="@{/user(pageSize=${selectedPageSize}, page=${theses.number})}">←</a>
                    </li>
                    <li
                            th:class="${theses.number == (page - 1)} ? 'active pointer-disabled'"
                            th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}" class="page-item active" >
                        <a class="page-link"
                           th:href="@{/user(pageSize=${selectedPageSize}, page=${page})}"
                           th:text="${page}"></a>
                    </li>
                    <li
                            th:class="${theses.number + 1 == theses.totalPages} ? disabled" class="page-item">
                        <a class="page-link"
                           th:href="@{/user(pageSize=${selectedPageSize}, page=${theses.number + 2})}">→</a>
                    </li>
                    <li
                            th:class="${theses.number + 1 == theses.totalPages} ? disabled" class="page-item">
                        <a class="page-link"
                           th:href="@{/user(pageSize=${selectedPageSize}, page=${theses.totalPages})}">»</a>
                    </li>
                </ul>
            </div>
        </div>
        <!--pagination-->
    </div>

    <!-- showing theses-->

    <!-- print button>
    <a th:href="@{/these/createPdf/} + ${page}">
        <button type="button" class="printButton btn btn-success ">
            Imprimer
        </button>
    </a>
    < print button-->
    </div>
    <!-- scripts-->
        <!--vendor scripts -->
            <div th:insert="~{../templates/fragments/scripts :: scripts}"></div>
        <!--vendor scripts -->
    <script th:src="@{/js/dashboard.js}"></script>
    <script th:src="@{/js/showTheses.js}"></script>
    <!-- scripts-->
<!-- ##### All Javascript Script ##### -->
<!-- jQuery-2.2.4 js -->
<script th:src="@{/js/jquery/jquery-2.2.4.min.js}"></script>
<!-- Popper js -->
<script th:src="@{/js/bootstrap/popper.min.js}"></script>
<!-- Bootstrap js -->
<script th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
<!-- All Plugins js -->
<script th:src="@{/js/plugins/plugins.js}"></script>
<!-- Active js -->
<script th:src="@{/js/active.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function() {
        changePageAndSize();
    });
    function changePageAndSize() {
        $('#pageSizeSelect').change(function(evt) {
            window.location.replace("/these?pageSize=" + this.value + "&page=1");
        });
    }
    /*]]>*/
</script>
</body>

</html>