<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Formulaire d'ajout d'une periode d'une formation professionnelle</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-3 ml-10" >
    <div class="card card-body" style="height: 80%; width: 80%;margin-left: 5rem;margin-top: 5rem">
    <h2 class="text-center">Formulaire d'ajout d'une periode d'une formation professionnelle</h2>
    <form th:action="@{/management/period/save}" th:object="${period}" method="post">
        <div class="form-group">
            <label for="usr">Niveau de la Periode de formation:</label>
            <input type="text" class="form-control" id="usr" th:field="*{title}">
            <input type="hidden" class="form-control"  name="courseId" th:value="${courseId}">
        </div>
        <div class="form-group">
            <label for="periodName"> Intitule du thème de la formation :</label>
            <input type="text" class="form-control" id="periodName" th:field="*{periodName}">
        </div>
        <div class="mt-3 row" style=" width: 100%; padding-left: 15px">
            <div class="col-12 col-sm-12 col-lg-6" style="width: 100%;padding-left: 20px;padding-right: 20px">
                <a th:href="@{/management/course/get/}+${courseId}" class="btn btn-warning" style="width: 100%">Retour</a>
            </div>
            <div class="col-12 col-sm-12 col-lg-6" style="width: 100%;padding-left: 20px;padding-right: 20px">
                <!--button type="submit" class="btn btn-primary" style="width: 100%">Validé</button-->
                <a data-toggle="modal" data-target="#modal-warning" th:attr="data-target='#modal-warning'" class="btn btn-primary" style="width: 100%">Validé</a>
                <div class="modal card modal-warning fade in" th:id="modal-warning" >
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header text-center">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span></button>
                                <h5 class="modal-title">Envoi d'un message de validation a l'administrateur pour activation de la formation</h5>
                            </div>
                            <div class="modal-body text-center">
                                <div class="form-group">
                                    <label > Adresse email destinataire :</label>
                                    <input type="email" class="form-control" name="adresse">
                                </div>
                                <div class="form-group">
                                    <label > Corps du message :</label>
                                    <textarea class="form-control" rows="10" name="contenue"></textarea>
                                </div>
                            </div>
                            <div class="modal-footer text-center">
                                <button type="button" class="btn btn-warning pull-left" data-dismiss="modal">Retour</button>
                                <button type="submit" class="btn btn-danger" ><i class="fa fa-check"></i>&nbsp;Envoye</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
        </div>
</div>

</body>
</html>
