

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Education Civique</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
    <link th:href="@{/css/addTheses.css}" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!--link th:href="@{/css/style1.css}" rel="stylesheet"-->
    <!-- Bootstrap CSS-->
    <link th:href="@{/vendor/bootstrap-4.1/bootstrap.min.css}" rel="stylesheet" media="all">

</head>
<body >
<!--navigation -->
<nav class="nav col-12 row" style="height: 5rem;" >
    <a th:href="@{/groupe/groupes}" class="btn home" style="padding-left: 30px;"><i class="zmdi zmdi-home zmdi-hc-2x"></i><br><span>Acceuil</span></a>
    <div class="col-11 offset-1 text-center"  style="left: 0;">
        <h3 class=" text-center " >Education civique </h3>
    </div>
    <div class="col-4 nav dropdown offset-8 " style="height: 5rem;" >
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Module</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" th:href="@{/management/visitor/}+${session.regionId}">Visiteurs</a>
                <a class="dropdown-item" th:href="@{/management/school/primary/}+${session.regionId}">Educations</a>
                <a class="dropdown-item" th:href="@{/management/other/}+${session.regionId}">Autres services</a>
            </div>
        </li>

        <li class="nav-item dropdown">
        <a th:href="@{#}" class="nav-link dropdown-toggle"  data-toggle="dropdown" >Niveau d'education</a>
        <div class="dropdown-menu" >
            <a class="dropdown-item" th:href="@{/management/school/primary/}+${session.regionId}">primaire</a>
            <a class="dropdown-item" th:href="@{/management/school/secondary/}+${session.regionId}">secondaire</a>
            <a class="dropdown-item" th:href="@{/management/school/civic/}+${session.regionId}">civique</a>
        </div>
        </li>
    </div>&nbsp;

</nav>

<div  style="margin-top: 5.5rem;padding: 2rem;">
    <div class="container">
        <div class="row ">
            <!-- Blog Entries Column -->
            <div class="col-md-8">
                <div class="card">
                    <h1 class="my-4 text-center ">Education civique</h1>
                    <!-- Blog Post -->
                    <div class="container" style="width: 90%" th:each="civic : ${civics_posts}">
                        <div class="card mb-4">
                            <img class="card-img-top" th:src="${civic.pieces[0]}" style="height: 200px; width: 500px" alt="Card image cap">
                            <hr style="	border-top: 1px solid #8c8b8b;">
                            <div class="card-body">
                                <h2 class="card-title text-center" th:text="${civic.title}">Titre de la publication</h2>
                                <p class="card-text" th:text="${civic.description}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
                                <a href="#" class="btn btn-primary" th:href="@{/post/detail/}+${civic.postId}">Voir detail &rarr;</a>
                            </div>
                            <div class="card-footer text-muted">
                                Créer le <span th:text="${civic.creationDate}"></span> by
                                <span th:text="${civic.user.name}"></span>
                            </div>
                        </div>
                        <!-- Pagination -->
                        <ul class="pagination justify-content-center mb-4">
                            <li class="page-item">
                                <a class="page-link" href="#">&larr; Older</a>
                            </li>
                            <li class="page-item disabled">
                                <a class="page-link" href="#">Newer &rarr;</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Search Widget -->
                <div class="card my-2">
                    <h5 class="card-header">Recherche</h5>
                    <div class="card-body">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Chercher dans...">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">Aller!</button>
                </span>
                        </div>
                    </div>
                </div>

                <!-- Categories Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Categories</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <ul class="list-unstyled mb-0">
                                    <li>
                                        <a href="#">Web Design</a>
                                    </li>
                                    <li>
                                        <a href="#">HTML</a>
                                    </li>
                                    <li>
                                        <a href="#">Freebies</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul class="list-unstyled mb-0">
                                    <li>
                                        <a href="#">JavaScript</a>
                                    </li>
                                    <li>
                                        <a href="#">CSS</a>
                                    </li>
                                    <li>
                                        <a href="#">Tutorials</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Side Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Autres modules</h5>
                    <div class="card-body">
                        You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
                    </div>
                </div>


            </div>
        </div>
        <!-- row -->
    </div>
    <a th:if="${session.userRole=='root'}" class="btn addButton btn-primary rounded-circle" th:href="@{/post/civic/form/}+${session.regionId}" style="bottom: 5rem; right: 5%;"> <i class="zmdi zmdi-plus zmdi-hc-2x"></i></a>

</div>
<!-- ##### Footer Area Start ##### -->
<div class="bottom-footer-area" style=" position: fixed;left: 0;bottom: 0;width: 100%;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p style="color: #c6cace;"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This site is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="#" target="_blank">Yesbanana</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>
        </div>
    </div>
</div>
<!-- navigation -->
<script th:src="@{/js/dashboard.js}"></script>
<!-- script -->
<!-- ##### All Javascript Script ##### -->
<!-- jQuery-2.2.4 js -->
<script th:src="@{/js/jquery/jquery-2.2.4.min.js}"></script>
<!-- Popper js -->
<script th:src="@{/js/bootstrap/popper.min.js}"></script>
<!-- Bootstrap js -->
<script th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
<!-- All Plugins js -->
<script th:src="@{/js/plugins/plugins.js}"></script>
<!-- Active js -->
<script th:src="@{/js/active.js}"></script>

</body>
</html>