<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Education primaire</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
    <link th:href="@{/css/addTheses.css}" rel="stylesheet">
    <!--link th:href="@{/css/style1.css}" rel="stylesheet"-->
    <!-- Bootstrap CSS-->
    <!--link th:href="@{/vendor/bootstrap-4.1/bootstrap.min.css}" rel="stylesheet" media="all"-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<br>

<div style="height: 100%">
    <nav class="nav" style="width: 100%">
    <a th:href="@{/groupe/groupes}" class="btn home" style="padding-left: 30px;"><i class="zmdi zmdi-home zmdi-hc-2x"></i><br><span>Acceuil</span></a>
    <h2 class="text-center col-11 offset-1" style="padding-top: 0.5rem;">Education primaire</h2>
    </nav>
    <br>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist" style="height:auto; margin-top: 5rem;width: 100%">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Module</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" th:href="@{/management/visitor/}+${session.regionId}">Visiteurs</a>
                <a class="dropdown-item" th:href="@{/management/school/primary/}+${session.regionId}">Educations</a>
                <a class="dropdown-item" th:href="@{/management/other/}+${session.regionId}">Autres services</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Niveau d'éducation</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" th:href="@{/management/school/primary/}+${session.regionId}">primaire</a>
                <a class="dropdown-item" th:href="@{/management/school/secondary/}+${session.regionId}">secondaire</a>
                <a class="dropdown-item" th:href="@{/management/school/civic/}+${session.regionId}">civique</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#home">Cours d'appui</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#colonie">Colonie de vacances</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#jeu">Jeux éducatif</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#langue">Cours d'anglais et/ou francais</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#transport">Transport securise</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#bib">Bibliothèque en ligne</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content" style="margin-top: 8rem; height: 100%; padding: 2rem;">
        <div id="home" class="container tab-pane active" style="height: inherit"><br>
            <div class="row ">
                <!-- Blog Entries Column -->
                <div class="col-md-8">
                    <div class="card">
                        <h1 class="my-4 text-center ">Cours d'appui</h1>
                        <!-- Blog Post -->
                        <div class="container" style="width: 90%" th:each="templates.course : ${courses_posts}">
                        <div class="card mb-4">
                            <img class="card-img-top" th:src="${course.pieces[0]}"  alt="Card image cap">
                            <hr style="	border-top: 1px solid #8c8b8b;">
                            <div class="card-body">
                                <h2 class="card-title text-center" th:text="${course.title}">Titre de la publication</h2>
                                <p class="card-text" th:text="${course.description}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
                                <a href="#" class="btn btn-primary" th:href="@{/post/detail/}+${course.postId}">Voir detail &rarr;</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="#" class="btn"  th:href="@{#}"><i class="fa fa-thumbs-up"></i>&nbsp;<span th:text="${course.likes}" class="badge badge-success"></span></a>
                                <a href="#" class="btn"  th:href="@{#}"><i class="fa fa-thumbs-down"></i><span th:text="${course.likes}" class="badge badge-danger"></span> </a>
                            </div>
                            <div class="card-footer text-muted">
                                Créer le <span th:text="${course.creationDate}"></span> by
                                <span th:text="${course.user.name}"></span>
                            </div>
                        </div>
                        <!-- Pagination -->
                        <ul class="pagination justify-content-center mb-4">
                            <li class="page-item">
                                <a class="page-link" href="#">&larr; Older</a>
                            </li>
                            <li class="page-item disabled">
                                <a class="page-link" href="#">Newer &rarr;</a>
                            </li>
                        </ul>
                        </div>
                    </div>
                </div>
                <!-- Sidebar Widgets Column -->
                <div class="col-md-4">

                    <!-- Search Widget -->
                    <div class="card my-2">
                        <h5 class="card-header">Recherche</h5>
                        <div class="card-body">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Chercher dans...">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">Aller!</button>
                </span>
                            </div>
                        </div>
                    </div>

                    <!-- Categories Widget -->
                    <div class="card my-4">
                        <h5 class="card-header">Categories</h5>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <ul class="list-unstyled mb-0">
                                        <li>
                                            <a href="#">Web Design</a>
                                        </li>
                                        <li>
                                            <a href="#">HTML</a>
                                        </li>
                                        <li>
                                            <a href="#">Freebies</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-6">
                                    <ul class="list-unstyled mb-0">
                                        <li>
                                            <a href="#">JavaScript</a>
                                        </li>
                                        <li>
                                            <a href="#">CSS</a>
                                        </li>
                                        <li>
                                            <a href="#">Tutorials</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Side Widget -->
                    <div class="card my-4">
                        <h5 class="card-header">Autres modules</h5>
                        <div class="card-body">
                            You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
                        </div>
                    </div>


                </div>
            </div>
            <!-- row -->
            <a th:if="${session.userRole=='root'}" class="btn addButton btn-primary rounded-circle" th:href="@{/post/primary/form/courses/}+${session.regionId}" style="bottom: 5rem; right: 5%;"> <i class="zmdi zmdi-plus zmdi-hc-2x"></i></a>
        </div>
        <div id="langue" class="container tab-pane fade"><br>
            <div class="row ">
                <!-- Blog Entries Column -->
                <div class="col-md-8">
                    <div class="card">
                        <h1 class="my-4 text-center ">Cours d'anglais et/ou francais</h1>
                        <!-- Blog Post -->
                        <div class="container" style="width: 90%" th:each="language : ${courses_languages}">
                            <div class="card mb-4">
                                <img class="card-img-top" th:src="${language.pieces[0]}"  alt="Card image cap">
                                <hr style="	border-top: 1px solid #8c8b8b;">
                                <div class="card-body">
                                    <h2 class="card-title text-center" th:text="${language.title}">Titre de la publication</h2>
                                    <p class="card-text" th:text="${language.description}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
                                    <a href="#" class="btn btn-primary" th:href="@{/post/detail/}+${language.postId}">Voir detail &rarr;</a>
                                    <a href="#" class="btn"  th:href="@{#}"><i class="fa fa-thumbs-up"></i>&nbsp;<span th:text="${language.likes}" class="badge badge-success"></span></a>
                                    <a href="#" class="btn"  th:href="@{#}"><i class="fa fa-thumbs-down"></i><span th:text="${language.likes}" class="badge badge-danger"></span> </a>
                                </div>
                                <div class="card-footer text-muted">
                                    Créer le <span th:text="${language.creationDate}"></span> by
                                    <span th:text="${language.user.name}"></span>
                                </div>
                            </div>
                            <!-- Pagination -->
                            <ul class="pagination justify-content-center mb-4">
                                <li class="page-item">
                                    <a class="page-link" href="#">&larr; Older</a>
                                </li>
                                <li class="page-item disabled">
                                    <a class="page-link" href="#">Newer &rarr;</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Sidebar Widgets Column -->
                <div class="col-md-4">

                    <!-- Search Widget -->
                    <div class="card my-2">
                        <h5 class="card-header">Recherche</h5>
                        <div class="card-body">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Chercher dans...">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">Aller!</button>
                </span>
                            </div>
                        </div>
                    </div>

                    <!-- Categories Widget -->
                    <div class="card my-4">
                        <h5 class="card-header">Categories</h5>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <ul class="list-unstyled mb-0">
                                        <li>
                                            <a href="#">Web Design</a>
                                        </li>
                                        <li>
                                            <a href="#">HTML</a>
                                        </li>
                                        <li>
                                            <a href="#">Freebies</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-6">
                                    <ul class="list-unstyled mb-0">
                                        <li>
                                            <a href="#">JavaScript</a>
                                        </li>
                                        <li>
                                            <a href="#">CSS</a>
                                        </li>
                                        <li>
                                            <a href="#">Tutorials</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Side Widget -->
                    <div class="card my-4">
                        <h5 class="card-header">Autres modules</h5>
                        <div class="card-body">
                            You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
                        </div>
                    </div>


                </div>
            </div>
            <!-- row -->
            <a th:if="${session.userRole=='root'}" class="btn addButton btn-primary rounded-circle" th:href="@{/post/primary/form/languages/}+${session.regionId}" style="bottom: 5rem; right: 5%;"> <i class="zmdi zmdi-plus zmdi-hc-2x"></i></a>

        </div>
        <div id="transport" class="container tab-pane fade"><br>
            <div class="row ">
                <!-- Blog Entries Column -->
                <div class="col-md-8">
                    <div class="card">
                        <h1 class="my-4 text-center ">Transport Securisé</h1>
                        <!-- Blog Post -->
                        <div class="container" style="width: 90%" th:each="transport : ${courses_transports}">
                            <div class="card mb-4">
                                <img class="card-img-top" th:src="${transport.pieces[0]}"  alt="Card image cap">
                                <hr style="	border-top: 1px solid #8c8b8b;">
                                <div class="card-body">
                                    <h2 class="card-title text-center" th:text="${transport.title}">Titre de la publication</h2>
                                    <p class="card-text" th:text="${transport.description}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
                                    <a href="#" class="btn btn-primary" th:href="@{/post/detail/}+${transport.postId}">Voir detail &rarr;</a><a href="#" class="btn"  th:href="@{#}"><i class="fa fa-thumbs-up"></i>&nbsp;<span th:text="${transport.likes}" class="badge badge-success"></span></a>
                                    <a href="#" class="btn"  th:href="@{#}"><i class="fa fa-thumbs-up"></i>&nbsp;<span th:text="${transport.likes}" class="badge badge-success"></span></a>
                                    <a href="#" class="btn"  th:href="@{#}"><i class="fa fa-thumbs-down"></i><span th:text="${transport.likes}" class="badge badge-danger"></span> </a>
                                </div>
                                <div class="card-footer text-muted">
                                    Créer le <span th:text="${transport.creationDate}"></span> by
                                    <span th:text="${transport.user.name}"></span>
                                </div>
                            </div>
                            <!-- Pagination -->
                            <ul class="pagination justify-content-center mb-4">
                                <li class="page-item">
                                    <a class="page-link" href="#">&larr; Older</a>
                                </li>
                                <li class="page-item disabled">
                                    <a class="page-link" href="#">Newer &rarr;</a>
                                </li>
                            </ul>
                        </div></div>
                </div>
                <!-- Sidebar Widgets Column -->
                <div class="col-md-4">

                    <!-- Search Widget -->
                    <div class="card my-2">
                        <h5 class="card-header">Recherche</h5>
                        <div class="card-body">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Chercher dans...">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">Aller!</button>
                </span>
                            </div>
                        </div>
                    </div>

                    <!-- Categories Widget -->
                    <div class="card my-4">
                        <h5 class="card-header">Categories</h5>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <ul class="list-unstyled mb-0">
                                        <li>
                                            <a href="#">Web Design</a>
                                        </li>
                                        <li>
                                            <a href="#">HTML</a>
                                        </li>
                                        <li>
                                            <a href="#">Freebies</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-6">
                                    <ul class="list-unstyled mb-0">
                                        <li>
                                            <a href="#">JavaScript</a>
                                        </li>
                                        <li>
                                            <a href="#">CSS</a>
                                        </li>
                                        <li>
                                            <a href="#">Tutorials</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Side Widget -->
                    <div class="card my-4">
                        <h5 class="card-header">Autres modules</h5>
                        <div class="card-body">
                            You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
                        </div>
                    </div>


                </div>
            </div>
            <!-- row -->
            <a th:if="${session.userRole=='root'}" class="btn addButton btn-primary rounded-circle" th:href="@{/post/primary/form/transport/}+${session.regionId}" style="bottom: 5rem; right: 5%;"> <i class="zmdi zmdi-plus zmdi-hc-2x"></i></a>
        </div>
        <div id="jeu" class="container tab-pane fade"><br>
            <div class="row ">
                <!-- Blog Entries Column -->
                <div class="col-md-8">
                    <div class="card">
                        <h1 class="my-4 text-center ">Jeux d'éducation</h1>
                        <!-- Blog Post -->
                        <div class="container" style="width: 90%" th:each=" game : ${courses_games}">
                            <div class="card mb-4">
                                <img class="card-img-top" th:src="${game.pieces[0]}"  alt="Card image cap">
                                <hr style="	border-top: 1px solid #8c8b8b;">
                                <div class="card-body">
                                    <h2 class="card-title text-center" th:text="${game.title}">Titre de la publication</h2>
                                    <p class="card-text" th:text="${game.description}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
                                    <a href="#" class="btn btn-primary" th:href="@{/post/detail/}+${game.postId}">Voir detail &rarr;</a>
                                    <a href="#" class="btn"  th:href="@{#}"><i class="fa fa-thumbs-up"></i>&nbsp;<span th:text="${game.likes}" class="badge badge-success"></span></a>
                                    <a href="#" class="btn"  th:href="@{#}"><i class="fa fa-thumbs-down"></i><span th:text="${game.likes}" class="badge badge-danger"></span> </a>
                                </div>
                                <div class="card-footer text-muted">
                                    Créer le <span th:text="${game.creationDate}"></span> by
                                    <span th:text="${game.user.name}"></span>
                                </div>
                            </div>
                            <!-- Pagination -->
                            <ul class="pagination justify-content-center mb-4">
                                <li class="page-item">
                                    <a class="page-link" href="#">&larr; Older</a>
                                </li>
                                <li class="page-item disabled">
                                    <a class="page-link" href="#">Newer &rarr;</a>
                                </li>
                            </ul>
                        </div></div>
                </div>
                <!-- Sidebar Widgets Column -->
                <div class="col-md-4">

                    <!-- Search Widget -->
                    <div class="card my-2">
                        <h5 class="card-header">Recherche</h5>
                        <div class="card-body">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Chercher dans...">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">Aller!</button>
                </span>
                            </div>
                        </div>
                    </div>

                    <!-- Categories Widget -->
                    <div class="card my-4">
                        <h5 class="card-header">Categories</h5>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <ul class="list-unstyled mb-0">
                                        <li>
                                            <a href="#">Web Design</a>
                                        </li>
                                        <li>
                                            <a href="#">HTML</a>
                                        </li>
                                        <li>
                                            <a href="#">Freebies</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-6">
                                    <ul class="list-unstyled mb-0">
                                        <li>
                                            <a href="#">JavaScript</a>
                                        </li>
                                        <li>
                                            <a href="#">CSS</a>
                                        </li>
                                        <li>
                                            <a href="#">Tutorials</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Side Widget -->
                    <div class="card my-4">
                        <h5 class="card-header">Autres modules</h5>
                        <div class="card-body">
                            You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
                        </div>
                    </div>


                </div>
            </div>
            <!-- row -->
            <a th:if="${session.userRole=='root'}" class="btn addButton btn-primary rounded-circle" th:href="@{/post/primary/form/games/}+${session.regionId}" style="bottom: 5rem; right: 5%;"> <i class="zmdi zmdi-plus zmdi-hc-2x"></i></a>
        </div>
        <div id="bib" class="container tab-pane fade"><br>
            <div class="row ">
                <!-- Blog Entries Column -->
                <div class="col-md-8">
                    <div class="card">
                        <h1 class="my-4 text-center ">Bibliothèque en ligne</h1>
                        <!-- Blog Post -->
                        <div class="container" style="width: 90%" th:each="library : ${courses_libraries}">
                            <div class="card mb-4">
                                <img class="card-img-top" th:src="${library.pieces[0]}"  alt="Card image cap">
                                <hr style="	border-top: 1px solid #8c8b8b;">
                                <div class="card-body">
                                    <h2 class="card-title text-center" th:text="${library.title}">Titre de la publication</h2>
                                    <p class="card-text" th:text="${library.description}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
                                    <a href="#" class="btn btn-primary" th:href="@{/post/detail/}+${library.postId}">Voir detail &rarr;</a>
                                    <a href="#" class="btn"  th:href="@{#}"><i class="fa fa-thumbs-up"></i>&nbsp;<span th:text="${library.likes}" class="badge badge-success"></span></a>
                                    <a href="#" class="btn"  th:href="@{#}"><i class="fa fa-thumbs-down"></i><span th:text="${library.likes}" class="badge badge-danger"></span> </a>
                                </div>
                                <div class="card-footer text-muted">
                                    Créer le <span th:text="${library.creationDate}"></span> by
                                    <span th:text="${library.user.name}"></span>
                                </div>
                            </div>
                            <!-- Pagination -->
                            <ul class="pagination justify-content-center mb-4">
                                <li class="page-item">
                                    <a class="page-link" href="#">&larr; Older</a>
                                </li>
                                <li class="page-item disabled">
                                    <a class="page-link" href="#">Newer &rarr;</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Sidebar Widgets Column -->
                <div class="col-md-4">

                    <!-- Search Widget -->
                    <div class="card my-2">
                        <h5 class="card-header">Recherche</h5>
                        <div class="card-body">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Chercher dans...">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">Aller!</button>
                </span>
                            </div>
                        </div>
                    </div>

                    <!-- Categories Widget -->
                    <div class="card my-4">
                        <h5 class="card-header">Categories</h5>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <ul class="list-unstyled mb-0">
                                        <li>
                                            <a href="#">Web Design</a>
                                        </li>
                                        <li>
                                            <a href="#">HTML</a>
                                        </li>
                                        <li>
                                            <a href="#">Freebies</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-6">
                                    <ul class="list-unstyled mb-0">
                                        <li>
                                            <a href="#">JavaScript</a>
                                        </li>
                                        <li>
                                            <a href="#">CSS</a>
                                        </li>
                                        <li>
                                            <a href="#">Tutorials</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Side Widget -->
                    <div class="card my-4">
                        <h5 class="card-header">Autres modules</h5>
                        <div class="card-body">
                            You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
                        </div>
                    </div>


                </div>
            </div>
            <!-- row -->
             <a th:if="${session.userRole=='root'}" class="btn addButton btn-primary rounded-circle" th:href="@{/post/primary/form/library/}+${session.regionId}" style="bottom: 5rem; right: 5%;"> <i class="zmdi zmdi-plus zmdi-hc-2x"></i></a>
        </div>
        <div id="colonie" class="container tab-pane fade"><br>
            <div class="row ">
                <!-- Blog Entries Column -->
                <div class="col-md-8">
                    <div class="card">
                        <h1 class="my-4 text-center ">Colonie des vaccances</h1>
                        <!-- Blog Post -->
                        <div class="container" style="width: 90%" th:each="holliday : ${courses_hollidays}">
                            <div class="card mb-4">
                                <img class="card-img-top" th:src="${holliday.pieces[0]}"  alt="Card image cap">
                                <hr style="	border-top: 1px solid #8c8b8b;">
                                <div class="card-body">
                                    <h2 class="card-title text-center" th:text="${holliday.title}">Titre de la publication</h2>
                                    <p class="card-text" th:text="${holliday.description}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
                                    <a href="#" class="btn btn-primary" th:href="@{/post/detail/}+${holliday.postId}">Voir detail &rarr;</a>
                                    <a href="#" class="btn"  th:href="@{#}"><i class="fa fa-thumbs-up"></i>&nbsp;<span th:text="${holliday.likes}" class="badge badge-success"></span></a>
                                    <a href="#" class="btn"  th:href="@{#}"><i class="fa fa-thumbs-down"></i><span th:text="${holliday.likes}" class="badge badge-danger"></span> </a>
                                </div>
                                <div class="card-footer text-muted">
                                    Créer le <span th:text="${holliday.creationDate}"></span> by
                                    <span th:text="${holliday.user.name}"></span>
                                </div>
                            </div>
                            <!-- Pagination -->
                            <ul class="pagination justify-content-center mb-4">
                                <li class="page-item">
                                    <a class="page-link" href="#">&larr; Older</a>
                                </li>
                                <li class="page-item disabled">
                                    <a class="page-link" href="#">Newer &rarr;</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Sidebar Widgets Column -->
                <div class="col-md-4">

                    <!-- Search Widget -->
                    <div class="card my-2">
                        <h5 class="card-header">Recherche</h5>
                        <div class="card-body">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Chercher dans...">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">Aller!</button>
                </span>
                            </div>
                        </div>
                    </div>

                    <!-- Categories Widget -->
                    <div class="card my-4">
                        <h5 class="card-header">Categories</h5>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <ul class="list-unstyled mb-0">
                                        <li>
                                            <a href="#">Web Design</a>
                                        </li>
                                        <li>
                                            <a href="#">HTML</a>
                                        </li>
                                        <li>
                                            <a href="#">Freebies</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-6">
                                    <ul class="list-unstyled mb-0">
                                        <li>
                                            <a href="#">JavaScript</a>
                                        </li>
                                        <li>
                                            <a href="#">CSS</a>
                                        </li>
                                        <li>
                                            <a href="#">Tutorials</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Side Widget -->
                    <div class="card my-4">
                        <h5 class="card-header">Autres modules</h5>
                        <div class="card-body">
                            You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
                        </div>
                    </div>


                </div>
            </div>
            <!-- row -->
            <a th:if="${session.userRole=='root'}" class="btn addButton btn-primary rounded-circle" th:href="@{/post/primary/form/hollidays/}+${session.regionId}" style="bottom: 5rem; right: 5%;"> <i class="zmdi zmdi-plus zmdi-hc-2x"></i></a>
        </div>
    </div>
</div>
<!-- ##### Footer Area Start ##### -->
<div class="bottom-footer-area" style=" position: fixed;left: 0;bottom: 0;width: 100%;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p style="color: #c6cace;"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This site is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="#" target="_blank">Yesbanana</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>
        </div>
    </div>
</div>
<!-- navigation -->
<script th:src="@{/js/dashboard.js}"></script>
<!-- script -->
<!-- ##### All Javascript Script ##### -->

</body>
</html>
