

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Education Primaire et secondaire</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
    <!--link th:href="@{/css/style1.css}" rel="stylesheet"-->
    <!-- Bootstrap CSS-->
    <!--link th:href="@{/vendor/bootstrap-4.1/bootstrap.min.css}" rel="stylesheet" media="all"-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</head>
<body >
<!--navigation -->
<nav class="nav col-12 row" style="height: 5rem;" >
    <a th:href="@{/deals}" class="btn home" style="padding-left: 30px;"><i class="zmdi zmdi-home zmdi-hc-2x"></i><br><span>Acceuil</span></a>
    <div class="col-11 offset-1 text-center"  style="left: 0;">
        <h3 class=" text-center " >Education Primaire et Secondaire </h3>
    </div>
</nav>

<div  style="margin-top: 5rem;padding: 2rem; height: inherit;">
    <h3 class="text-center">Regions</h3>
    <br>
    <div class="row">
        <div class="text-center " th:each="region : ${regions}">
        <div class="card" style="width:300px; height: 300px;">
                <img class="card-img-top" th:src="@{/images/region.png}" th:text="${region.regName[0]} " alt="Card image" style="width:100%; height:130px;">
            <div class="card-body">
                <h4 class="card-title" th:text="${region.regName}">Cameroun</h4>
                <p class="card-text">Capital: <span th:text="${region.chefLieu}"></span></p>
                <a th:href="@{/school/primary/}+${region.regionId}" class="btn btn-primary">Parcourir</a>
            </div>
        </div>
        </div>
    </div>

</div>
<!-- ##### Footer Area Start ##### -->
<div class="bottom-footer-area" style=" position: fixed;left: 0;bottom: 0;width: 100%;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p style="color: #c6cace;"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This site is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="#" target="_blank">Yesbanana</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>
        </div>
    </div>
</div>
<!-- navigation -->
<script th:src="@{/js/dashboard.js}"></script>
<!-- script -->
<!-- ##### All Javascript Script ##### -->
<!-- jQuery-2.2.4 js -->
<script th:src="@{/js/jquery/jquery-2.2.4.min.js}"></script>
<!-- Popper js -->
<script th:src="@{/js/bootstrap/popper.min.js}"></script>
<!-- Bootstrap js -->
<script th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
<!-- All Plugins js -->
<script th:src="@{/js/plugins/plugins.js}"></script>
<!-- Active js -->
<script th:src="@{/js/active.js}"></script>

</body>
</html>