<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>yesbanana</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">

    <!-- Favicon -->
    <link rel="icon" th:src="@{/core-img/yesb.png}">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link th:href="@{/vendor/bootstrap-4.1/bootstrap.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
    <link th:href="@{/css/addTheses.css}" rel="stylesheet">
    <link th:href="@{/css/crew.css} " rel="stylesheet">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style1.css}">

</head>

<body>


<!-- ##### Header Area Start ##### -->
<!--navigation-->
<div th:replace="~{../templates/fragments/navigation :: navigation}">
</div>
<!-- navigation -->
<!-- ##### Header Area End ##### -->
<h2 class="text-center mt-5">Liste Pays</h2>
<div class="row content mt-3">
    <div class="col-1  text-center crew mb-2" th:each="country : ${countries1}" style="padding:.5rem;">
        <div class="card">
            <div  class=" row deleteUpdate " style="position:absolute;z-index:1000;width:100%;margin:auto"    >
                <div class="col-6 text-left" style="padding:0">
                    <a th:href="@{/management/country/university/} + ${country.countryId}" class="btn btn-success rounded-circle" style="color:black;cursor: pointer;text-decoration:none">
                        <i class="zmdi zmdi-eye" ></i>
                    </a>
                </div>
                <div class="col-6 text-right" style="padding:0">
                    <a th:href="@{/management/country/delete/} + ${country.countryId}" th:if="${session.userRole!='user'}" class="btn btn-danger  rounded-circle" >
                        <i class="zmdi zmdi-close" ></i>
                    </a>
                </div>
            </div>
            <div style="background-color:whitesmoke; color:black">
                <div class="card-img-top" style="color:white;line-height:5rem;font-size:5rem;background-color:lightseagreen;border-radius: 50%;width:5rem;margin:auto;height: 5rem;">
                    <span th:text="${country.countryName[0]}"> Yaounde</span>
                </div>
                <span th:text="${country.countryName}"> Yaounde</span>
            </div>
        </div>

    </div>
</div>
<!-- add country button start-->
<button sec:authorize="!hasRole('ROLE_USER')" type="button" class="addButton btn btn-primary rounded-circle" data-toggle="modal" data-target="#addCountry">
    <i class="zmdi zmdi-plus zmdi-hc-2x"></i>
</button>
<!-- add country button end-->
<!--addCountry-->
<div sec:authorize="!hasRole('ROLE_USER')" class=" modal fade" id="addCountry" tabindex="-1" role="dialog" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered"  role="document">
        <form class="add-these-form modal-content card text-center" th:object="${country}" method="post" th:action="@{/management/country/form/save}">
            <div class="row pt-3">
                    <span class='error' id="nameError"></span>
                    <!-- loop over available  country -->
                    <select class="form-control" th:field="*{countryName}" id="countrySelect" style="width: 100%">
                        <option value="">Selection pays</option>
                        <option th:each="countrySel : ${countries}" th:value="${countrySel}" th:text="${countrySel}">Côte d'ivoire</option>
                    </select>
                <div class="form-group mt-3" style="width: 100%">
                    <span class='error' id="countryStreetError"></span>
                    <input type="text" style="width: inherit" class="form-control" th:field="*{countryStreet}" id="countryStreet" placeholder="Capitale" />
                </div>
                </div>
                <div class="form-group row form-button" style="width: 100%">
                    <div class="col-6">
                        <button data-dismiss="modal" style="width:100%;" class="btn btn-danger">Cancel</button>
                    </div>
                    <div class="col-6">
                        <button type="submit" id="submit" style="width:100%;"  class="btn btn-success">Valider</button>
                    </div>
                </div>
        </form>
    </div>
    </div>

<!-- addCountry-->

<!-- ##### Footer Area Start ##### -->
<!--div class="bottom-footer-area" style=" position: fixed;left: 0;bottom: 0;width: 100%;">
    <div class="container">
        <div class="row">
            <div class="col-12"-->
                <!-- p>< Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. >
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This site is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="#" target="_blank">Yesbanana</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. ></p>
            </div>
        </div>
    </div>
</div-->

<!-- ##### Footer Area Start ##### -->

<!-- ##### All Javascript Script ##### -->
<!-- jQuery-2.2.4 js -->
<script th:src="@{/js/jquery/jquery-2.2.4.min.js}"></script>
<!-- Popper js -->
<script th:src="@{/js/bootstrap/popper.min.js}"></script>
<!-- Bootstrap js -->
<script th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
<!-- All Plugins js -->
<script th:src="@{/js/plugins/plugins.js}"></script>
<!-- Active js -->
<script th:src="@{/js/active.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>

</html>