<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Yesbanana</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="OneTech shop project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/new/styles/bootstrap4/bootstrap.min.css}">
    <link th:href="@{/new/plugins/fontawesome-free-5.0.1/css/fontawesome-all.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" th:href="@{/new/styles/cart_styles.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/new/styles/cart_responsive.css}">

    <style>
        .blue-gradient{
            background-image: linear-gradient(40deg,rgb(69,202,252),rgb(48,63,159))!important;
            background-position-x: initial!important;
            background-position-y: initial!important;
            background-size: initial!important;
            background-repeat-x:initial!important;
            background-repeat-y:initial!important;
            background-attachment:initial!important;
            background-origin:initial!important;
            background-clip:initial!important;
            background-color:initial!important;
        }
        .white-text{
            color: #FFFFFF;
        }
        .btn-rounded{
            border-radius: 50%;
        }
        .th-lg{
            font-size: 18px;
        }
    </style>
</head>
<body>

<div class="super_container">
    <div th:replace="~{../templates/fragments/header :: header}"></div>

    <!-- Single Product -->

    <div class="single_product">
        <div class="container">
            <!-- Cart -->

            <div class="cart_section">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 offset-lg-1">
                            <div class="cart_container">
                                <div class="cart_title">Education Primaire</div>
                                <!-- Order Total -->
                                <div class="order_total">
                                    <div class="order_total_content text-md-left m-1 " style="font-size: 16px">
                                        <div>Vous pouvez consulter des livres scolaire pour vos enfants recomomandé par le ministère de l'education et profitez des livres complementaire que vous offres
                                            Yesbanana pour compléter la formation de vos enfants </div>

                                    </div>
                                </div>
                                <div class="cart_items" th:each="niveau : ${niveaux}">
                                    <a href="#" data-toggle="modal" data-target="#basicExampleModal" th:attr="data-target='#basicExampleModal'+${niveau.niveauId}">
                                        <ul class="cart_list mt-4 btn-outline-primary" style="border-radius: 5px">
                                        <li class="cart_item  clearfix">
                                            <div class="cart_item_image"><img th:src="@{/new/images/shopping_cart.jpg}" alt=""></div>
                                            <div class="cart_item_info  text-center" >
                                                <h3 th:text="${niveau.slug}">PREMIERE ANNEE</h3>
                                            </div>
                                        </li>
                                    </ul>
                                    </a>
                                    <!-- Modal -->
                                    <div class="modal fade" th:id="basicExampleModal+${niveau.niveauId}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                         aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title" id="exampleModalLabel">Table de Matieres</h4>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div th:each="matiere : ${niveau.matieres}">
                                                        <a th:href="@{/visitor/primaire/livres/}+${matiere.matiereId}" style="font-size: 18px"><i class="fa fa-arrow-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;<span th:text="${matiere.name}"></span></a>&nbsp;&nbsp;&nbsp;&nbsp; <em th:if="${#lists.size(matiere.primaires)}<=1">(<span th:text="${#lists.size(matiere.primaires)}"></span> livre)</em>
                                                        <em th:unless="${#lists.size(matiere.primaires)}<=1">(<span th:text="${#lists.size(matiere.primaires)}"></span> livres)</em>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;Retour</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--div class="blue-gradient"><h4>En cours....</h4></div-->
            <!--div class="row" th:each="niveau : ${niveaux}">
                <div class="card col-md-4 card-columns au-card-bordered">
                    <span th:text="${niveau.slug}" style="font-size: 18px"></span>
                </div>
                <div class="card col-md-8" >
                    <div class="row" th:each="matiere : ${niveau.matieres}">
                        <div class="card col-md-6 card-columns au-card-bordered">
                            <a th:href="@{/visitor/primaire/matiere/}+${matiere.classe}+'/'+${matiere.name}" style="font-size: 18px">
                                <span th:text="${matiere.name}" style="color: #0b0b0b">blablabla</span> &nbsp;&nbsp;&nbsp;&nbsp;<em th:if="${#lists.size(matiere.primaires)}<=1">(<span th:text="${#lists.size(matiere.primaires)}"></span> livre)</em>
                                <em th:unless="${#lists.size(matiere.primaires)}<=1">(<span th:text="${#lists.size(matiere.primaires)}"></span> livres)</em>
                            </a>
                        </div>
                        <div class="card col-md-6" >
                            <a th:href="@{/visitor/primaire/}+${matiere.primaires[0].educationId}+'/'+${matiere.primaires[0].type}">
                                <span th:text="${matiere.primaires[0].title}" style="font-size: 18px"></span>
                            </a>
                        </div>
                    </div>

                </div>
            </div-->
        </div>

    </div>
</div>

<div th:replace="~{../templates/fragments/footer :: footer}"></div>
<script th:src="@{/new/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/new/styles/bootstrap4/popper.js}"></script>
<script th:src="@{/new/styles/bootstrap4/bootstrap.min.js}"></script>
<script th:src="@{/new/plugins/greensock/TweenMax.min.js}"></script>
<script th:src="@{/new/plugins/greensock/TimelineMax.min.js}"></script>
<script th:src="@{/new/plugins/scrollmagic/ScrollMagic.min.js}"></script>
<script th:src="@{/new/plugins/greensock/animation.gsap.min.js}"></script>
<script th:src="@{/new/plugins/greensock/ScrollToPlugin.min.js}"></script>
<script th:src="@{/new/plugins/easing/easing.js}"></script>
<script th:src="@{/new/js/cart_custom.js}"></script>
</body>
</html>