<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Yesbanana</title>

    <!-- Fontfaces CSS-->
    <link th:href="@{/css/font-face.css}" type="text/css" rel="stylesheet" media="all">
    <link th:href="@{/css/owl.carousel.min.css}" type="text/css" media="all">
    <link  th:href="@{/vendor/font-awesome-4.7/css/font-awesome.min.css}" type="text/css" rel="stylesheet" media="all">
    <link th:href="@{/vendor/font-awesome-5/css/fontawesome-all.min.css}" rel="stylesheet" type="text/css" media="all">
    <link th:href="@{/vendor/mdi-font/css/material-design-iconic-font.min.css}" rel="stylesheet" type="text/css" media="all">

    <!-- Bootstrap CSS-->
    <link th:href="@{/vendor/bootstrap-4.1/bootstrap.min.css}" rel="stylesheet" type="text/css" media="all">

    <!-- Vendor CSS-->
    <link th:href="@{/vendor/animsition/animsition.min.css}" type="text/css" rel="stylesheet" media="all">
    <link th:href="@{/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css}" type="text/css" rel="stylesheet" media="all">
    <link th:href="@{/vendor/wow/animate.css}" rel="stylesheet" type="text/css" media="all">
    <link th:href="@{/vendor/css-hamburgers/hamburgers.min.css}" rel="stylesheet" type="text/css" media="all">
    <link th:href="@{/vendor/slick/slick.css}" rel="stylesheet" media="all" type="text/css">
    <link th:href="@{/vendor/select2/select2.min.css}" rel="stylesheet" media="all" type="text/css">
    <link th:href="@{/vendor/perfect-scrollbar/perfect-scrollbar.css}" rel="stylesheet" media="all" type="text/css">

    <!-- Main CSS-->
    <link th:href="@{/css/theme.css}" rel="stylesheet" media="all" type="text/css">

    <style>
        .fsStyle {
            border: 2px solid #999999;
            border-radius: 2px;
            padding-left: 1em;
            padding-right: 1em;
            text-align: center;
        }
        .legendStyle {
            font-size: 100%;
            color: #222222;
            background-color: transparent;
            margin-bottom:.15px;
            width: auto;
        }
    </style>

</head>

<body class="animsition">
<div class="page-wrapper">
    <div th:replace="~{../templates/fragments/sidebar_these :: sidebar_these}">
    </div>
    <!-- PAGE CONTAINER-->
    <div class="page-container">
        <!-- HEADER DESKTOP-->
        <header class="header-desktop">
            <div class="pt-3 header-title text-center">
                <h2>Bienvenue au portail de Yesbanana</h2>
            </div>
            <div class="pt-3 " >
                <div class="container-fluid">
                    <!-- HEADER MOBILE-->
                    <header class="header-mobile d-block d-lg-none">
                        <div class="header-mobile__bar">
                            <div class="container-fluid">
                                <div class="header-mobile-inner">

                                    <button class="hamburger1 hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <nav class="navbar-mobile1">
                            <div class="container-fluid">
                                <ul class="navbar-mobile__list1 list-unstyled">
                                    <li>
                                        <a th:href="@{/about}">Accueil</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/visitor/help}">Aide</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/visitor/question}">Une question</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/visitor/about_us}">Qui sommes nous?</a>
                                    </li>
                                    <li >
                                        <a th:href="@{/visitor/work_with_us}">Travailler avec nous</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </header>
                    <!-- END HEADER MOBILE-->
                    <nav class="header-wrap d-none d-lg-block">
                        <div style="padding-left: 300px">
                            <div class="form-header"></div>
                            <div class="header-button">
                                <ul class="noti-wrap">
                                    <li class="noti__item nav-link text-center ">
                                        <a class="nav-item" th:href="@{/about}"><i class="fa fa-home"></i>Accueil</a>
                                    </li>
                                    <li class="noti__item nav-link ">
                                        <a class="nav-item" th:href="@{/visitor/help}">Aide</a>
                                    </li>
                                    <li class="noti__item nav-link ">
                                        <a class="nav-item" th:href="@{/visitor/question}">Une question</a>
                                    </li>
                                    <li class="noti__item nav-link">
                                        <a class="nav-item" th:href="@{/visitor/about_us}">Qui sommes nous?</a>
                                    </li>
                                    <li class="noti__item nav-link">
                                        <a class="nav-item" th:href="@{/visitor/work_with_us}">Travailler avec nous</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            <br><br>
        </header>
        <!-- HEADER DESKTOP-->

        <!-- MAIN CONTENT-->
        <div class="main-content">
            <div class="hero-slides owl-carousel">
            </div>
            <div class="section__content section__content--p15">
                <div class="container-fluid">
                    <div class="container m-t-25">
                        <div class="container card border">
                            <div class="card-body" style="height: auto;width: inherit">
                                <h4>Toutes les collections<br>Adultes et jeunes</h4>
                            </div>
                            <br>
                            <div class="card-body" style="height: auto;width: inherit">
                                <h2>Catalogue de Yesbanana</h2>
                            </div>
                        </div>
                        <br><br><br><br>
                        <div class="container card border ">
                            <div class="card-body">
                                    <fieldset class="fsStyle">
                                        <legend class="legendStyle"><span>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Recherche par mot-clé &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></legend>
                                        <div class="row mt-5 mb-4">
                                            <div class="col-md-5">
                                                <input type="checkbox" id="rapide" checked >
                                                <label>&nbsp;Rapide</label>
                                            </div>
                                            <div class="col-md-5">
                                                <input type="checkbox" id="avance">
                                                <label>&nbsp;Avancé</label>
                                            </div>
                                        </div>
                                        <form class="pl-5 pr-5" id="form_rapide" th:action="@{/visitor/rapide/search/catalogues}" method="get">
                                        <div class="row mt-5 mb-5">
                                            <div class="col-md-8 form-group">
                                                <input type="text" class="form-control" name="motCle"  id="search_input" placeholder="Recherche rapide ...">
                                            </div>
                                            <div class="col-md-4 form-group">
                                                <button type="submit" class="btn btn-primary" id="valid_search"><i class="fa fa-search"></i>&nbsp;&nbsp;&nbsp;Chercher</button>
                                            </div>
                                        </div>
                                        </form>
                                        <form class="pl-5 pr-5" id="form_avance" style="display: none" th:action="@{/visitor/avance/search/catalogues}">
                                            <div class="row mt-5 mb-5">
                                                <div class="col-md-8 form-group">
                                                    <input type="text" class="form-control" name="motCle" placeholder="Recherche avancé ...">
                                                </div>
                                                <div class="col-md-4 form-group">
                                                    <button type="submit" class="btn btn-primary" id="search_btn_avance"><i class="fa fa-search"></i>&nbsp;&nbsp;&nbsp;Chercher</button>
                                                </div>
                                            </div>
                                        </form>
                                    </fieldset>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="copyright">
                                <p>Copyright © 2019 Solution Sarl. tous droits resever. Designer par <a th:href="@{/}">Yesbanana</a>.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MAIN CONTENT-->
        <!-- END PAGE CONTAINER-->
    </div>

</div>

<div th:replace="~{../templates/fragments/modules :: modules}"></div>
<script type="text/javascript">
    // toggle password update inputs
  /*  $("#rapide").change(()=>{
        if($("#rapide").is(":checked"))
    {
        $("#form_rapide").css("display","block");
        $("#form_avance").css("display","none");
    }
    });
    $("#avance").change(()=>{
        if($("#avance").is(":checked"))
    {
        $("#form_rapide").css("display","none");
        $("#form_avance").css("display","block");
    }
    });*/

    $(document).ready(function(){
        // change checked button
        $("#avance").click(function(){
            $("#avance").prop("checked", true);
            $("#rapide").prop("checked", false);
            $("#form_rapide").css("display","none");
            $("#form_avance").css("display","block");
        });
        $("#rapide").click(function(){
            $("#rapide").prop("checked", true);
            $("#avance").prop("checked", false);
            $("#form_rapide").css("display","block");
            $("#form_avance").css("display","none");
        });

    });
</script>


</body>

</html>
<!-- end document-->
