<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inscription</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <!-- Main css -->
     <!-- Bootstrap CSS-->
    <link th:href="@{/vendor/bootstrap-4.1/bootstrap.min.css}" rel="stylesheet" media="all">

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

    <div class="main">
        <a th:href="@{/}" class="btn home" style="padding: 30px;"><img th:src="@{/img/core-img/yesb.png}" alt=""></a>
        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div style="font-size:1.2rem;text-align: center;"><i th:if="${error}" th:text="${error}" style="color:red;"></i> </div>
                <div class="signup-content">
                    <div class="signup-form col-6">
                        <h3 class="form-title">Demande d'inscription expert universitaire</h3>
                        <form method="POST" enctype="multipart/form-data" th:object="${user}" th:action="@{/user/create/visitor}" class="register-form" id="register-form">
                            <span class='error' id="nameError"></span>
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="name" id="name" placeholder="Votre Nom" />
                            </div>
                            <span class='error' id="emailError"></span>
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                <input type="email" name="email" id="email" placeholder="Votre Email" />
                            </div>
                            <span class='error' id="numberError"></span>
                            <div class="country">
                                <select name="country" id="countrySelect">
                                    <option value="Cameroun">Cameroun</option>
                                    <option value="Côte d'ivoire">Côte d'ivoire</option>
                                </select>
                                <input type="text" name="number" id="number" placeholder="Votre Numéro" value="+237"/>
                            </div>
                            <span class='error' id="regionError"></span>
                            <div class="form-group">
                                <label for="region"><i class="zmdi zmdi-flag"></i></label>
                                <input type="text" name="region" id="region" placeholder="Votre Région" />
                            </div>
                            <span class='error' id="universityError"></span>                            
                            <div class="form-group">
                                <label for="university"><i class="zmdi zmdi-graduation-cap"></i></label>
                                <input type="text" name="university" id="university" placeholder="Votre Université" />
                            </div>
                            <span class='error' id="facultyError"></span>
                            <div class="form-group">
                                <label for="faculty"><i class="zmdi zmdi-graduation-cap"></i></label>
                                <input type="text" name="faculty" id="faculty" placeholder="Votre Faculté" />
                            </div>
                            <span class='error' id="passwordError"></span>
                            <div class="form-group">
                                <label for="password"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="password" id="password" placeholder="Mot de Passe" />
                            </div>
                            <span class='error' id="repassError"></span>
                            <div class="form-group">
                                <label for="repass"><i class="zmdi zmdi-lock-outline"></i></label>
                                <input type="password" id="repass" placeholder="Confirmation Mot de Passe" />
                            </div>
                                <div style="margin-bottom:-2.2rem"><i class="zmdi zmdi-photo-size-select-large"></i> </div>
                            <div class="img-upload-div">
                                <input class="img-input" type="text" id="image"  placeholder="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Votre photo">
                                <button class="img-upload" type="button" id="addButton">+</button>
                                <input type="file" name="file" id="file_image" style="display:none">
                            </div>
                            <input type="submit" style="display:none">
                            <div class="img-upload-div">
                                <input class="img-input" type="text" id="cv"  placeholder="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ajouter un cv">
                                <button class="img-upload" type="button" id="addButtonCv" style="margin-top: 1.5rem;">+</button>
                                <input type="file" name="file" id="file_image_cv" style="display:none">
                            </div>
                            <span class='error' id="anotherDetailError"></span>
                            <div class="form-group mt-3">
                                <label for="anotherDetail"><i class="zmdi zmdi-graduation-cap"></i></label>
                                <input type="text" name="anotherDetail" id="anotherDetail" placeholder="Vos motivations" />
                            </div>
                            <div class="form-group mt-3">
                                <!-- loop over category -->
                                <select class="form-control" th:field="*{category}">
                                    <option value="">choisir une categorie</option>
                                    <option value="Assistant">Assistant</option>
                                    <option value="Chef des travaux">Chef des travaux</option>
                                    <option value="Professeur">Professeur</option>
                                </select>

                            </div>
                            <div class="form-group mt-3">
                                <table class="table table-bordered table-striped table-highlight">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>Année d'expérience < 5ans</th>
                                        <th>Année d'expérience > 5ans</th>
                                        <th>Sans expérience</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Assistant</td>
                                            <td>
                                                <input type="checkbox" name="amount" th:checked="${amount}" th:value="${50}" th:text="${50}"/>
                                            </td>
                                            <td>
                                                <input type="checkbox" name="amount" th:checked="${amount}" th:value="${80}" th:text="${80}"/>
                                            </td>
                                            <td>
                                                <input type="checkbox" name="amount" th:checked="${amount}" th:value="${30}" th:text="${30}"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Chef des travaux</td>
                                            <td>
                                                <input type="checkbox" name="amount" th:checked="${amount}" th:value="${80}" th:text="${80}"/>
                                            </td>
                                            <td>
                                                <input type="checkbox" name="amount" th:checked="${amount}" th:value="${100}" th:text="${100}"/>
                                            </td>
                                            <td>
                                                <input type="checkbox" name="amount" th:checked="${amount}" th:value="${50}" th:text="${50}"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Professeur</td>
                                            <td>
                                                <input type="checkbox" name="amount" th:checked="${amount}" th:value="${130}" th:text="${130}"/>
                                            </td>
                                            <td>
                                                <input type="checkbox" name="amount" th:checked="${amount}" th:value="${170}" th:text="${170}"/>
                                            </td>
                                            <td>
                                                <input type="checkbox" name="amount" th:checked="${amount}" th:value="${100}" th:text="${100}"/>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </form>
                    </div>
                    <div class="signup-image ">
                         <figure><img th:src="@{/images/signup-image.jpg}" alt="sing up image"></figure>
                        <div class="form-group form-button" >
                            <input type="submit" id="submit" style="width:100%;" name="signup"  class="form-submit" value="Valider" />
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <!--vendor scripts -->
    <div th:insert="~{../templates/fragments/scripts :: scripts}"></div>
    <!--vendor scripts -->
    <script type="module" th:src="@{/js/main.js}"></script>
    <script type="module" th:src="@{/js/dashboard.js}"></script>
</body><!--by neword -->

</html>