<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Modification du groupe</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
    <link th:href="@{/css/style1.css}" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Bootstrap CSS-->
    <link th:href="@{/vendor/bootstrap-4.1/bootstrap.min.css}" rel="stylesheet" media="all">

</head>
<body class="row">
<!--navigation-->
<div th:replace="~{../templates/fragments/navigationcrew :: navigationcrew}">
</div>
<!-- navigation -->
<!-- sidebar-->
<div th:replace="~{../templates/fragments/sidebar :: sidebar}">
</div>
<!-- sidebar-->

<div class="col-md-11 offset-1 main" >


    <!-- update crew form -->
    <h3 class="text-center mt-5">Modifier les informations du groupe</h3>
    <div class=" justify-content-center mt-3" >
        <form class=" card text-center p-5" style="width:40rem;" th:object="${groupe}" th:action="@{/groupe/update/{groupeId}(groupeId=${groupe.groupeId})}" method="post">
            <div class="form-group" >
                <span class='error' id="nameError"></span>
                <input type="text" th:field="*{groupeName}" id="groupeName" class="form-control" placeholder="Nom du groupe" />
                <input type="text" th:field="*{status}"  class="form-control" style="display: none" placeholder="Nom du groupe" />
            </div>
                <span class='error' id="countryError"></span>
                <select class="form-control mb-3" style="width: 100%" th:field="*{groupeCountry}" id="countrySelect">
                    <option value="">Selection pays</option>
                    <option th:each="countrySel : ${countries}" th:value="${countrySel}" th:text="${countrySel}">Côte d'ivoire</option>
                </select>
            <div class="form-group" style="width: 100%">
                <span class='error' id="regionError"></span>
                <input type="text" th:field="*{groupeRegion}" id="groupeRegion" class="form-control" placeholder="Région" />
            </div>
            <div class="form-group">
                <strong>Chef du groupe : </strong>
                <select th:field="*{groupChief}">
                    <option th:each="user : ${users}" class="form-control" th:value="${user.userId}" th:text="${user.name}">Nounamo Patrick</option>
                </select>

            </div>
            <div class="form-group row form-button" style="width: 100%">
                <div class="col-12 col-sm-6 col-lg-6">
                    <a   style="width:100%;" th:href="@{/groupe/groupes}" class="btn btn-danger">Retour</a>
                </div>
                <div class="col-12 col-sm-6 col-lg-6">
                    <button type="submit" id="submit" style="width:100%;"  class="btn btn-success">Valider</button>
                </div>
            </div>
            </form>
    </div>
</div>

<!--script -->
    <!--vendor scripts -->
    <div th:insert="~{../templates/fragments/scripts :: scripts}"></div>
    <!--vendor scripts -->
    <script th:src="@{/js/dashboard.js}"></script>
<!-- script -->
<!-- ##### All Javascript Script ##### -->
<!-- jQuery-2.2.4 js -->
<script th:src="@{/js/jquery/jquery-2.2.4.min.js}"></script>
<!-- Popper js -->
<script th:src="@{/js/bootstrap/popper.min.js}"></script>
<!-- Bootstrap js -->
<script th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
<!-- All Plugins js -->
<script th:src="@{/js/plugins/plugins.js}"></script>
<!-- Active js -->
<script th:src="@{/js/active.js}"></script>

</body>

</html>