<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Modification du groupe</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
    <!-- Bootstrap CSS-->
    <link th:href="@{/vendor/bootstrap-4.1/bootstrap.min.css}" rel="stylesheet" media="all">

</head>
<body class="row">

<!-- sidebar-->
<div th:replace="~{../templates/fragments/sidebar :: sidebar}">
</div>
<!-- sidebar-->

<div class="col-11 offset-1 main" >

    <!--navigation-->
    <div th:replace="~{../templates/fragments/navigation :: navigation}">
    </div>
    <!-- navigation -->
    <!-- update crew form -->
    <h3 class="text-center mt-5">Modifier les informations du groupe</h3>
    <div class="row justify-content-center mt-3" >
        <form class=" card text-center p-5" style="width:40rem;" th:object="${groupe}" th:action="@{/groupe/save}" method="post">
            <!--groupeId-->
            <input type="number" th:field="*{groupeId}"  style="display:none">
            <!--groupeId-->
            <div class="form-group" >
                <span class='error' id="nameError"></span>
                <input type="text" th:field="*{groupeName}" id="groupeName" class="form-control" placeholder="Nom du groupe" />
            </div>

            <div class="form-group" style="width: 100%">
                <span class='error' id="countryError"></span>
                <input type="text" th:field="*{groupeCountry}" id="groupeCountry" class="form-control" placeholder="Pays" />
            </div>
            <div class="form-group" style="width: 100%">
                <span class='error' id="regionError"></span>
                <input type="text" th:field="*{groupeRegion}" id="groupeRegion" class="form-control" placeholder="Région" />
            </div>
            <div class="form-group">
                <strong>Chef du groupe : </strong>
                <select name="admin">
                    <option th:each="user : ${users}" class="form-control" th:text="$user.name">Nounamo Patrick</option>
                </select>

            </div>
            <div class="form-group row form-button" style="width: 100%">
                <div class="col-12">
                    <button type="submit" id="submit" style="width:100%;" name="saveThese" class="btn btn-success">Valider</button>
                </div>
            </div>
            </form>
    </div>
</div>
</div>
</form>
</div>
    <!-- update crew form -->
</div>
<!--script -->
    <!--vendor scripts -->
    <div th:insert="~{../templates/fragments/scripts :: scripts}"></div>
    <!--vendor scripts -->
    <script th:src="@{/js/dashboard.js}"></script>
<!-- script -->

</body>

</html>