<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Neword">

    <!-- Title Page-->
    <title>Contenu d'une thèse</title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <!-- thymeleaft -->
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
    <!-- Bootstrap CSS-->
    <link th:href="@{/vendor/bootstrap-4.1/bootstrap.min.css}" rel="stylesheet" media="all">


</head>

<body>
<div class=" card modal-warning alert-warning"  >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center alert-info">
                <h5 class="modal-title">Modification des elements d'un rapport</h5>
            </div>
            <div class="modal-body text-center">
                <h5>Veuillez renseigner le champ a modifier s'il vous plait</h5>
            </div>
            <form class=" text-center" style="width:100%;padding:1rem;"  method="post" th:action="@{/groupe/rapport/edit}" th:object="${rapport}"  enctype="multipart/form-data">

                <div class="mb-4">
                    <div class="col-12 col-sm-6 col-lg-12">
                        <!--theseId-->
                        <input type="hidden" th:field="*{rapportId}"  >
                        <input type="hidden" name="groupeId" th:value="${groupe.groupeId}"  >
                        <input type="hidden" name="userId" th:value="${user.userId}"  >
                        <!--theseId-->
                        <div class=" mb-4">
                            <div class="col-12 col-sm-6 col-lg-12" style="display: none;">
                                <div class="form-group">
                                    <span class='error' id="universityError"></span>
                                    <input type="text" th:field="*{userName}" class="form-control" id="university" placeholder="Nom" />
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-12 mt-3">
                                <div class="form-group">
                                    <span class='error' id="facultyError"></span>
                                    <input type="text" th:field="*{occupation}" id="faculty" class="form-control" placeholder="Fonction" />
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-12 mt-3">
                                <div class="form-group">
                                    <span class='error' id="optionError"></span>
                                    <input type="text" th:field="*{title}" class="form-control" id="option" placeholder="Titre" />
                                </div>
                            </div>
                        </div>
                        <div class="mb-4">
                            <div class="col-12 col-sm-6 col-lg-12">
                                <div class="form-group">
                                    <span class='error' id="levelError"></span>
                                    <textarea th:field="*{description}" placeholder="Contenu" cols="55" rows="5"></textarea>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-12 mt-3">
                                <div class="form-group">
                                    <span class='error' id="optionError"></span>
                                    <input type="text" th:field="*{recommandation}" class="form-control" id="recommandation" placeholder="Recommandation" />
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-12 mt-3">
                                <div class="form-group">
                                    <span class='error' id="lieuError"></span>
                                    <input type="text" th:field="*{lieu}" class="form-control" id="lieu" placeholder="Lieu" />
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-12 mt-3">
                                <div class="form-group">
                                    <span class='error' id="subjectError"></span>
                                    <p>Date de début</p>
                                    <input type="date" class="form-control" th:field="*{begin_date}" id="subject" placeholder="Date de début" />
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-12 mt-3">
                                <div class="form-group">
                                    <span class='error' id="end_dateError"></span>
                                    <p>Date de fin</p>
                                    <input type="date" class="form-control" th:field="*{end_date}" id="end_date" placeholder="Date de fin" />
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-12 mt-3">
                                <div class="form-group">
                                    <span class='error' id="motCleError"></span>
                                    <p>Pieces:</p>
                                    <input type="file" class="form-control-file border" multiple  name="files"  />
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="modal-footer text-center">
                    <a th:href="@{/groupe/rapports/}+${groupe.groupeId}" class="btn btn-warning pull-left">Retour</a>
                    <button type="submit" class="btn btn-success"><i class="fa fa-check"></i>&nbsp;Enregistrer</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--vendor scripts -->
<div th:insert="~{../templates/fragments/scripts :: scripts}"></div>
<!--vendor scripts -->

<!-- scripts-->
<!-- js -->
<script th:src="@{/js/js.js}"></script>

</body>

</html>