<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Neword">

    <!-- Title Page-->
    <title>Creation d'une thèse</title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <!-- thymeleaft -->
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
    <link th:href="@{/css/showTheses.css}" rel="stylesheet">
    <!-- Bootstrap CSS-->
    <link th:href="@{/vendor/bootstrap-4.1/bootstrap.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/css/addTheses.css}" rel="stylesheet">
    <!--link th:href="@{/css/style1.css}" rel="stylesheet"-->
    <!-- thymeleaft-->
</head>
<body class="row">

<!-- sidebar-->
<!--div th:replace="~{../templates/fragments/sidebar :: sidebar}">
</div-->
<!-- sidebar-->
<!--navigation-->
<div th:replace="~{../templates/fragments/navigationcrewtheseadd :: navigationcrewtheseadd}">
</div>
<!-- navigation -->
<!-- sidebar-->
<div th:replace="~{../templates/fragments/sidebar :: sidebar}">
</div>
<!-- sidebar-->

<div class="col-11 offset-1 main">
    <!-- showing theses-->
    <div class="row content justify-content-center" style="margin-top: 5.5rem;">
        <form class=" text-center" style="width:100%;padding:1rem;" enctype="multipart/form-data" method="post" th:action="@{/these/add/save}" th:object="${these}">
            <!-- user id -->
            <input type="number" name="userId" th:value="${session.userId}" style="display:none">
            <!-- user id -->
            <!--theseId-->
            <input type="number" th:field="*{theseId}"  style="display:none">
            <!--theseId-->
            <!--groupeId-->
            <input type="number" name="groupeId" th:value="${session.groupeId}"  style="display:none">
            <!--groupeId-->
            <div class="row mb-4">
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="form-group">
                        <span class='error' id="universityError"></span>
                        <input type="text" th:field="*{university}" id="university" placeholder="Université/Ecole" />
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="form-group">
                        <span class='error' id="facultyError"></span>
                        <input type="text" th:field="*{faculty}" id="faculty" placeholder="Faculté/Discipline" />
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="form-group">
                        <span class='error' id="optionError"></span>
                        <input type="text" th:field="*{options}" id="option" placeholder="Option" />
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="form-group">
                        <span class='error' id="levelError"></span>
                        <input type="text" th:field="*{level}" id="level" placeholder="Niveau" />
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="form-group">
                        <span class='error' id="subjectError"></span>
                        <input type="text" th:field="*{subject}" id="subject" placeholder="Sujet/Thème" />
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="form-group">
                        <span class='error' id="dateError"></span>
                        <input type="text" th:field="*{theseDate}" id="dateThese" placeholder="Date" />
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="img-upload-div">
                        <div class="custom-file mb-3">
                            <input type="file" multiple class="form-control-file border" id="customFile" name="files">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                        <span class='error' id="countryError"></span>
                        <select class="form-control" style="width: 100%" th:field="*{country}" id="countrySelect">
                            <option value="">Selection pays</option>
                            <option th:each="countrySel : ${countries}" th:value="${countrySel}" th:text="${countrySel}">Côte d'ivoire</option>
                        </select>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="form-group">
                        <span class='error' id="regionError"></span>
                        <input type="text" th:field="*{regions}" id="region" placeholder="Région" />
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="form-group">
                        <span class='error' id="assistantError"></span>
                        <input type="text" th:field="*{assistant}" id="assistant" placeholder="Nom de l'assistant" />
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="form-group">
                        <span class='error' id="studentError"></span>
                        <input type="text" th:field="*{student}" id="student" placeholder="Nom de l'étudiant" />
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="form-group ">
                        <span class='error' id="profError"></span>
                        <input type="text" th:field="*{profesor}" id="prof" placeholder="Nom de l'encadreur/prof" />
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="form-group">
                        <span class='error' id="workChiefError"></span>
                        <input type="text" th:field="*{workChief}" id="workChief" placeholder="Nom du chef des travaux" />
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-12 col-sm-6 col-lg-6">
                    <a style="width:25%;" th:href="@{/groupe/groupe/}+${session.groupeId}"  class="btn btn-warning" >Annuler</a>
                </div>
                <div class="col-12 col-sm-6 col-lg-6">
                    <button style="width:25%;" type="submit"  class="btn btn-success" sec:authorize="hasRole('ROLE_ROOT')"  >Validé</button>
                </div>
            </div>
        </form>
    </div>


</div>


<!-- scripts-->
<!--vendor scripts -->
<div th:insert="~{../templates/fragments/scripts :: scripts}"></div>
<!--vendor scripts -->
<script th:src="@{/js/dashboard.js}"></script>
<script th:src="@{/js/showTheses.js}"></script>
<!-- scripts-->

<!-- ##### All Javascript Script ##### -->
<!-- jQuery-2.2.4 js -->
<script th:src="@{/js/jquery/jquery-2.2.4.min.js}"></script>
<!-- Popper js -->
<script th:src="@{/js/bootstrap/popper.min.js}"></script>
<!-- Bootstrap js -->
<script th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
<!-- All Plugins js -->
<script th:src="@{/js/plugins/plugins.js}"></script>
<!-- Active js -->
<script th:src="@{/js/active.js}"></script>

</body>

</html>