<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Neword">

    <!-- Title Page-->
    <title>Les thèses d'un groupe</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <!-- thymeleaft -->
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
    <link th:href="@{/css/showTheses.css}" rel="stylesheet">
    <!-- Bootstrap CSS-->
    <link th:href="@{/vendor/bootstrap-4.1/bootstrap.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/css/addTheses.css}" rel="stylesheet">
    <!-- thymeleaft-->
    <link th:href="@{/css/style1.css}" rel="stylesheet">
    <link href="./css/style.css" rel="stylesheet">
    <link href="./css/dashboard.css" rel="stylesheet">
    <link href="./css/showTheses.css" rel="stylesheet">
    <!-- Bootstrap CSS-->
    <link href="./vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">
    <link href="./css/addTheses.css" rel="stylesheet">
</head>
<body class="row">
<!--navigation-->
<div th:replace="~{../templates/fragments/navigation :: navigation}">
</div>
<!-- navigation -->
<!-- sidebar-->
<div th:replace="~{../templates/fragments/sidebar :: sidebar}">
</div>
<!-- sidebar-->

<div class="col-11 offset-1 main">
    <!-- groupe name -->
    <h3 class="text-center" th:text="${groupeName}">Cameroun</h3>
    <!-- groupe name -->

    <!-- showing theses-->
    <div class="row content">
        <table class="table table-bordered text-center">
            <thead>
            <tr>
                <th>Université</th>
                <th>Faculté/Ecole</th>
                <th>Niveau</th>
                <th>Thème</th>
                <th>Année</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>         
            <tr th:each="these: ${theses}">
                <td th:text="${these.university}"></td>
                <td th:text="${these.faculty}"></td>
                <td th:text="${these.level}"></td>
                <td th:text="${these.subject}"></td>
                <td th:text="${these.theseDate}"></td>
                <td>
                     <a th:href="@{/groupe/these/} + ${these.theseId}"   class="detailLink" alt="detail">
                        <i class="zmdi zmdi-eye"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>

        <!--pagination-->
        <div th:if="${theses.totalPages > 0}" class="pagination row justify-content-end" th:each="pageNumber : ${pageNumbers}">
            <a th:href="@{/these(size=${theses.size}, page=${pageNumber})}" th:text=${pageNumber} th:class="${pageNumber==theses.number + 1} ? active"></a>
        </div>
        <!--pagination-->
    </div>
    <!-- showing theses-->
    <!-- add these button -->
        <a th:href="@{/these/add/form}" class="addButton btn btn-primary rounded-circle">
        <i class="zmdi zmdi-plus"></i>
        </i>
    </a>
    <!-- add these button -->
    <!-- print button-->
    <a th:href="@{/these/createPdf/} + ${currentPage} " >
        <button type="button" class="printButton btn btn-success ">
            Imprimer
        </button>
    </a>
    <!-- print button-->

   
    <!-- scripts-->
        <!--vendor scripts -->
            <div th:insert="~{../templates/fragments/scripts :: scripts}"></div>
        <!--vendor scripts -->
    <script th:src="@{/js/dashboard.js}"></script>
    <script th:src="@{/js/showTheses.js}"></script>
    <!-- scripts-->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script th:src="@{/js/jquery/jquery-2.2.4.min.js}"></script>
    <!-- Popper js -->
    <script th:src="@{/js/bootstrap/popper.min.js}"></script>
    <!-- Bootstrap js -->
    <script th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
    <!-- All Plugins js -->
    <script th:src="@{/js/plugins/plugins.js}"></script>
    <!-- Active js -->
    <script th:src="@{/js/active.js}"></script>
</body>

</html>
