<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Neword">

    <!-- Title Page-->
    <title>Contenu d'une thèse</title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <!-- thymeleaft -->
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
    <!-- Bootstrap CSS-->
    <link th:href="@{/vendor/bootstrap-4.1/bootstrap.min.css}" rel="stylesheet" media="all">


</head>

<body class="row">
<!--navigation-->
<div th:replace="~{../templates/fragments/navigationcrewthese :: navigationcrewthese}">
</div>
<!-- navigation -->
<!-- sidebar-->
<div th:replace="~{../templates/fragments/sidebar :: sidebar}">
</div>
<!-- sidebar-->

<div class="col-10 offset-2 main">
        <!-- these detail -->
        <div class=" col text-center" style="width:100%;  ">
               <div class="row content" style="margin-top: 5.5rem;">
                <div class="col-3" style="position:fixed !important;">
                    <div class="card mt-6">
                        <div th:replace="~{../templates/fragments/theseNavigationCrew :: theseNavigationCrew}"></div>
                    </div>
                </div>
                <div class="col-8 offset-4">
            <h3 >Bibliothèques</h3>
            <table class="list-group">
                <tr th:each="bibliography : ${bibliographies}" >
                    <div class="card mt-1">
                        <div class="row">
                            <div class="col-12 col-sm-6 col-lg-8">
                                <h5 class="text-center" th:text="${bibliography.auteur}"></h5>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4 row pull-right">
                            <div>
                                <a  th:href="@{/bibliography/edit/}+${bibliography.bibliographyId}">
                                    <i class="fa fa-pencil"></i>
                                </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </div>
                            <div>
                                <a  data-toggle="modal" data-target="#modal-detail" th:attr="data-target='#modal-detail'+${bibliography.bibliographyId}">
                                    <i class="fa fa-eye"></i>
                                </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </div>
                            <div>
                                <a   data-toggle="modal" data-target="#modal-delete" th:attr="data-target='#modal-delete'+${bibliography.bibliographyId}">
                                    <i class="fa fa-trash"></i>
                                </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="modal card modal-warning alert-warning fade in" th:id="modal-detail+${bibliography.bibliographyId}" >
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header text-center alert-info">
                                    <h5 class="modal-title">Contenu d'un element</h5>
                                </div>
                                <div class="modal-body text-center">
                                    <h3>Detail de la bibliothèque</h3>
                                </div>
                                <div class="mb-4">
                                    <div class="col-12 col-sm-6 col-lg-12">
                                        <div class="form-group">
                                            <textarea class="form-control"  rows="1" style="height: 30px" th:text="${bibliography.auteur}" disabled></textarea>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-lg-12 mt-3">
                                        <div class="form-group">
                                            <textarea class="form-control"  rows="1" style="height: 30px" th:text="${bibliography.title}" disabled></textarea>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-lg-12 mt-3">
                                        <div class="form-group ">
                                            <textarea class="form-control"  rows="5" style="height: 100px" th:text="${bibliography.description}" disabled></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer text-center">
                                    <button type="button" class="btn btn-warning pull-left" data-dismiss="modal">Fermer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal card modal-warning alert-warning fade in" th:id="modal-delete+${bibliography.bibliographyId}" >
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header text-center alert-info">
                                    <h5 class="modal-title">Suppresion d'un element</h5>
                                </div>
                                <div class="modal-body text-center">
                                    <h3>Voulez vous vraiment supprimer cet element?</h3>
                                </div>
                                <div class="modal-footer text-center">
                                    <button type="button" class="btn btn-warning pull-left" data-dismiss="modal">Retour</button>
                                    <a  class="btn btn-success" th:href="@{/bibliography/delete/{bibliographyId}(bibliographyId=${bibliography.bibliographyId})}"><i class="fa fa-check"></i>&nbsp;Oui</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </tr>
            </table>
                    <a class="btn btn-success rounded-circle mt-3"  data-toggle="modal" data-target="#modal-add" th:attr="data-target='#modal-add'">
                        <i class="fa fa-plus"></i>
                    </a>
                    <span>Ajouter</span>
                    <div class="modal card modal-warning alert-warning fade in" th:id="modal-add" >
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header text-center alert-info">
                                    <h5 class="modal-title">Ajouter un element de Bibliothèque</h5>
                                </div>
                                <div class="modal-body text-center">
                                    <h5>Veuillez remplir s'il vous plait les trois champs suivans</h5>
                                </div>
                                <form class=" text-center" style="width:100%;padding:1rem;"  method="post" th:action="@{/bibliography/save}" th:object="${bibliography}">

                                    <div class="mb-4">
                                        <div class="col-12 col-sm-6 col-lg-12">
                                            <!--theseId-->
                                            <input type="hidden" name="theseId" th:value="${session.theseId}"  >
                                            <!--theseId-->
                                            <div class="form-group">
                                                <span class='error' id="assistantError"></span>
                                                <input type="text" th:field="*{auteur}" id="assistant" class="form-control" placeholder="Nom de l'auteur" />
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-lg-12 mt-3">
                                            <div class="form-group">
                                                <span class='error' id="studentError"></span>
                                                <input type="text" th:field="*{title}" id="student" class="form-control" placeholder="Titre du livre" />
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-lg-12 mt-3">
                                            <div class="form-group ">
                                                <span class='error' id="profError"></span>
                                                <textarea class="form-control" id="description" rows="5" style="height: 100px" placeholder="Description " th:field="*{description}" type="text"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer text-center">
                                        <button type="button" class="btn btn-warning pull-left" data-dismiss="modal">Fermer</button>
                                        <button type="submit" class="btn btn-success"><i class="fa fa-check"></i>&nbsp;Enregistrer</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <h3 class=" mt-3">Bibliographies</h3>
            <table class="list-group">
                <tr  th:each="bibliotheque : ${bibliothequess}" >
                    <div class="card mt-1">
                        <div class="row">
                            <div class="col-12 col-sm-6 col-lg-8">
                                <a th:href="${bibliotheque.bibliotheques}" th:text="${bibliotheque.bibliotheques}"></a>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4 row pull-right">
                                <div>
                                    <a  th:href="@{/bibliotheque/edit/}+${bibliotheque.bibliothequeId}">
                                        <i class="fa fa-pencil"></i>
                                    </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
                                <div>
                                    <a  data-toggle="modal" data-target="#modal-delete" th:attr="data-target='#modal-delete'+${bibliotheque.bibliothequeId}">
                                        <i class="fa fa-trash"></i>
                                    </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal card modal-warning alert-warning fade in" th:id="modal-delete+${bibliotheque.bibliothequeId}" >
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header text-center alert-info">
                                    <h5 class="modal-title">Suppresion d'un element</h5>
                                </div>
                                <div class="modal-body text-center">
                                    <h3>Voulez vous vraiment supprimer cet element?</h3>
                                </div>
                                <div class="modal-footer text-center">
                                    <button type="button" class="btn btn-warning pull-left" data-dismiss="modal">Retour</button>
                                    <a  class="btn btn-success" th:href="@{/bibliotheque/delete/{bibliothequeId}(bibliothequeId=${bibliotheque.bibliothequeId})}"><i class="fa fa-check"></i>&nbsp;Oui</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </tr>
            </table>
                    <a class="btn btn-success rounded-circle mt-3"  data-toggle="modal" data-target="#modal-add" th:attr="data-target='#modal-add1'">
                        <i class="fa fa-plus"></i>
                    </a>
                    <span>Ajouter</span>
                    <div class="modal card modal-warning alert-warning fade in" th:id="modal-add1" >
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header text-center alert-info">
                                    <h5 class="modal-title">Ajouter un element de Bibliothèque</h5>
                                </div>
                                <div class="modal-body text-center">
                                    <h5>Veuillez remplir s'il vous plait le champ de donnée</h5>
                                </div>
                                <form class=" text-center" style="width:100%;padding:1rem;"  method="post" th:action="@{/bibliotheque/save}" th:object="${bibliotheque}">

                                    <div class="mb-4">
                                        <div class="col-12 col-sm-6 col-lg-12">
                                            <!--theseId-->
                                            <input type="hidden" name="theseId" th:value="${session.theseId}"  >
                                            <!--theseId-->
                                            <div class="form-group">
                                                <span class='error' id="assistantError"></span>
                                                <input type="url" th:field="*{bibliotheques}" id="assistant" class="form-control" placeholder="Renseigner votre lien ici" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer text-center">
                                        <button type="button" class="btn btn-warning pull-left" data-dismiss="modal">Fermer</button>
                                        <button type="submit" class="btn btn-success"><i class="fa fa-check"></i>&nbsp;Enregistrer</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
            </div>
            </div>
        <!-- these detail-->

    </div>
</div>
<!-- scripts-->
<!--vendor scripts -->
<div th:insert="~{../templates/fragments/scripts :: scripts}"></div>
<!--vendor scripts -->

<!-- scripts-->
<!-- js -->
<script th:src="@{/js/js.js}"></script>

</body>

</html>