<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Neword">

    <!-- Title Page-->
    <title>Contenu d'une thèse</title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <!-- thymeleaft -->
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/aos.css}">
    <link rel="stylesheet" th:href="@{/css/ionicons.min.css}">
    <link rel="stylesheet" th:href="@{/css/flaticon.css}">
    <link rel="stylesheet" th:href="@{/css/icomoon.css}">

    <link th:href="@{/css/element.css}" rel="stylesheet">

</head>

<body class="userCrewWrapper">
<!-- sidebar-->
<nav th:replace="~{../templates/fragments/sidebar :: sidebar}">
</nav>
<!-- sidebar-->

<div id="content" style="padding-left: 15px;padding-right: 15px">
    <!--navigation-->
    <div th:replace="~{../templates/fragments/navigationcrewthese :: navigationcrewthese}">
    </div>
    <!-- navigation -->
        <!-- these detail -->
        <div class=" text-center container" style="width:100%;  ">
               <div  style="margin-top: 5.5rem;">
                <div>
            <h3 ><i>Livres</i></h3>
            <table class="list-group">
                <tr th:each="bibliography : ${bibliographies}" >
                    <div class="card mt-1">
                        <div class="row">
                            <div class="col-md-6 text-center">
                                <a class=" btn" data-toggle="modal" data-target="#modal-detail" th:attr="data-target='#modal-detail'+${bibliography.bibliographyId}"  th:text="${bibliography.title}"></a>
                            </div>
                            <div class="col-md-6 row">
                            <div >
                                <a  th:href="@{/bibliography/edit/}+${bibliography.bibliographyId}">
                                    <i class="fa fa-pencil"></i>
                                </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </div>
                                <div th:if="${session.roles[0].role=='ROOT'} or ${session.roles[0].role=='ROOT_MASTER'} or ${session.roles[0].role=='ADMIN_MASTER'}"  class="row">
                                <div  >
                                    <a   data-toggle="modal" data-target="#modal-delete" th:attr="data-target='#modal-delete'+${bibliography.bibliographyId}">
                                        <i class="fa fa-trash"></i>
                                    </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp
                                </div>
                                    <div th:if="${bibliography.disponibility} == true" >
                                        <span><a   data-toggle="modal" data-target="#modal-desactivation" th:attr="data-target='#modal-desactivation'+${bibliography.bibliographyId}" class="btn btn-success rounded-circle"></a></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </div>
                                    <div th:unless="${bibliography.disponibility} == true " >
                                        <span><a  data-toggle="modal" data-target="#modal-activation" th:attr="data-target='#modal-activation'+${bibliography.bibliographyId}" class="btn btn-danger rounded-circle">
                                        </a></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </div>
                                </div>
                        </div>
                        </div>
                    </div>
                    <!-- MODAL DETAIL LIVRE START -->
                    <div class="modal card modal-warning alert-warning fade in" th:id="modal-detail+${bibliography.bibliographyId}" >
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header text-center alert-info">
                                    <h5 class="modal-title">Contenu d'un element</h5>
                                </div>
                                <div class="modal-body text-center">
                                    <h3>Detail d'un Livre</h3>
                                </div>
                                <div class="mb-4 mr-3 ml-3">
                                    <div >
                                        <div class="form-group">
                                            <p class="mt-2 mb-2">Photo Couverture:</p>
                                            <img th:src="${bibliography.couverture}">
                                        </div>
                                    </div>
                                    <div >
                                        <div class="form-group">
                                            <p class="mt-2 mb-2">Auteur:</p>
                                            <textarea class="form-control"  rows="1" style="height: 30px" th:text="${bibliography.auteur}" disabled></textarea>
                                        </div>
                                    </div>
                                    <div class=" mt-3">
                                        <div class="form-group">
                                            <p class="mt-2 mb-2">Titre:</p>
                                            <textarea class="form-control"  rows="1" style="height: 30px" th:text="${bibliography.title}" disabled></textarea>
                                        </div>
                                    </div>
                                    <div class=" mt-3">
                                        <div class="form-group">
                                            <p class="mt-2 mb-2">Edition:</p>
                                            <textarea class="form-control"  rows="1" style="height: 30px" th:text="${bibliography.editeur}" disabled></textarea>
                                        </div>
                                    </div>
                                    <div class=" mt-3">
                                        <div class="form-group">
                                            <p class="mt-2 mb-2">Lieu d'édition:</p>
                                            <textarea class="form-control"  rows="1" style="height: 30px" th:text="${bibliography.lieu_edition}" disabled></textarea>
                                        </div>
                                    </div>
                                    <div class=" mt-3">
                                        <div class="form-group">
                                            <p class="mt-2 mb-2">Date d'édition :</p>
                                            <textarea class="form-control"  rows="1" style="height: 30px" th:text="${bibliography.annee_edition}" disabled></textarea>
                                        </div>
                                    </div>
                                    <div class=" mt-3">
                                        <div class="form-group ">
                                            <p class="mt-2 mb-2">Description:</p>
                                            <textarea class="form-control"  rows="5" style="height: 100px" th:text="${bibliography.description}" disabled></textarea>
                                        </div>
                                    </div>
                                    <div class=" mt-3">
                                        <div class="form-group ">
                                            <p class="mt-2 mb-2">Prix:</p>
                                            <textarea class="form-control" rows="1"  style="height: 30px" th:text="${bibliography.price}" disabled></textarea>
                                        </div>
                                    </div>
                                    <div class=" mt-3">
                                        <div class="form-group ">
                                            <p class="mt-2 mb-2">Lien de téléchargement:</p>
                                            <a   th:text="${bibliography.link}" th:href="${bibliography.link}"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer text-center">
                                    <button type="button" class="btn btn-warning pull-left" data-dismiss="modal">Fermer</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--MODAL DETAIL LIVRE END -->
                    <!--MODAL ACTIVATION LIVRE START -->
                    <div class="modal card modal-warning alert-warning fade in" th:id="modal-activation+${bibliography.bibliographyId}" >
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header text-center alert-info">
                                    <h5 class="modal-title">Publication d'un livre</h5>
                                </div>
                                <div class="modal-body text-center">
                                    <h3>Vous etes entrain de vouloir rendre publique ce livre voulez vous continuer?</h3>
                                    <form class=" text-center" style="width:100%;padding:1rem;"  method="post" th:action="@{/bibliography/disponibility/{bibliographyId}(bibliographyId=${bibliography.bibliographyId})}" th:object="${bibliography}">

                                        <div class="mb-4">
                                            <div >
                                                <!--theseId-->
                                                <input type="hidden" name="theseId" th:value="${bibliography.these.theseId}"  >
                                                <!--theseId-->
                                                <!--input type="hidden" th:field="*{bibliographyId}"-->
                                                <div class="form-group" style="display: none">
                                                    <span class='error' id="assistantError"></span>
                                                    <p class="mt-2 mb-2">Auteur:</p>
                                                    <input type="text" name="auteur" th:value="${bibliography.auteur}" id="assistant" class="form-control" placeholder="Nom de l'auteur" />
                                                </div>
                                            </div>
                                            <div class=" mt-3">
                                                <div class="form-group" style="display: none">
                                                    <span class='error' id="studentError"></span>
                                                    <p class="mt-2 mb-2">Titre:</p>
                                                    <input type="text" name="title" th:value="${bibliography.title}"  class="form-control" placeholder="Titre du livre" />
                                                </div>
                                            </div>
                                            <div class=" mt-3">
                                                <div class="form-group " style=" display: none">
                                                    <span class='error' id="profError"></span>
                                                    <p class="mt-2 mb-2">Description:</p>
                                                    <div class=" mt-3">
                                                        <div class="form-group">
                                                            <span class='error' id="linkError"></span>
                                                            <input type="url" name="link" th:value="${bibliography.link}" id="link" class="form-control" placeholder="Lien de telechargement du livre" />
                                                        </div>
                                                    </div>
                                                    <textarea class="form-control" type="text" id="description" rows="5" style="height: 100px;" placeholder="Description " name="description" th:value="${bibliography.description}" ></textarea>
                                                </div>
                                            </div>
                                            <div class=" mt-3">
                                                <div class="form-group ">
                                                    <span class='error' id="priceError"></span>
                                                    <p class="mt-2 mb-2">Prix:</p>
                                                    <input class="form-control" id="price"  placeholder="Entrer le prix du livre " name="prix" type="text"></input>
                                                    <input class="form-control" id="disponibility"   name="disponibility" th:value="${bibliography.disponibility}" type="text" style="display: none"></input>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer text-center">
                                            <button type="button" class="btn btn-warning pull-left" data-dismiss="modal">Retour</button>
                                            <button  class="btn btn-success" type="submit"><i class="fa fa-check"></i>&nbsp;Oui</button>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!--MODAL ACTIVATION LIVRE END -->
                    <!--MODAL DESACTIVATION LIVRE START -->
                    <div class="modal card modal-warning alert-warning fade in" th:id="modal-desactivation+${bibliography.bibliographyId}" >
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header text-center alert-info">
                                    <h5 class="modal-title">Publication d'un livre</h5>
                                </div>
                                <div class="modal-body text-center">
                                    <h3>Vous etes entrain de vouloir desactiver la visibilte de ce livre voulez vous continuer?</h3>
                                    <form class=" text-center" style="width:100%;padding:1rem;"  method="post" th:action="@{/bibliography/disponibility/{bibliographyId}(bibliographyId=${bibliography.bibliographyId})}" th:object="${bibliography}">

                                        <div class="mb-4">
                                            <div class="">
                                                <!--theseId-->
                                                <input type="hidden" name="theseId" th:value="${bibliography.these.theseId}"  >
                                                <!--theseId-->
                                                <!--input type="hidden" th:field="*{bibliographyId}"-->
                                                <div class="form-group" style="display: none">
                                                    <span class='error' id="assistantError"></span>
                                                    <p class="mt-2 mb-2">Auteur:</p>
                                                    <input type="text" name="auteur" th:value="${bibliography.auteur}" id="assistant" class="form-control" placeholder="Nom de l'auteur" />
                                                </div>
                                            </div>
                                            <div class=" mt-3">
                                                <div class="form-group" style="display: none">
                                                    <span class='error' id="studentError"></span>
                                                    <p class="mt-2 mb-2">Titre:</p>
                                                    <input type="text" name="title" th:value="${bibliography.title}"  class="form-control" placeholder="Titre du livre" />
                                                </div>
                                            </div>
                                            <div class=" mt-3">
                                                <div class="form-group " style=" display: none">
                                                    <span class='error' id="profError"></span>
                                                    <p class="mt-2 mb-2">Description:</p>
                                                    <div class=" mt-3">
                                                        <div class="form-group">
                                                            <span class='error' id="linkError"></span>
                                                            <input type="url" name="link" th:value="${bibliography.link}" id="link" class="form-control" placeholder="Lien de telechargement du livre" />
                                                        </div>
                                                    </div>
                                                    <textarea class="form-control" type="text" id="description" rows="5" style="height: 100px;" placeholder="Description " name="description" th:value="${bibliography.description}" ></textarea>
                                                </div>
                                            </div>
                                            <div class=" mt-3">
                                                <div class="form-group ">
                                                    <span class='error' id="priceError"></span>
                                                    <input class="form-control" id="price"  placeholder="Entrer le prix du livre " th:field="*{price}" style="display: none"></input>
                                                    <input class="form-control" id="disponibility"   name="disponibility" th:value="${bibliography.disponibility}" type="text" style="display: none"></input>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer text-center">
                                            <button type="button" class="btn btn-warning pull-left" data-dismiss="modal">Retour</button>
                                            <button  class="btn btn-success" type="submit"><i class="fa fa-check"></i>&nbsp;Oui</button>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!--MODAL DESACTIVATION LIVRE END -->
                    <!--MODAL DELETE LIVRE START -->
                    <div class="modal card modal-warning alert-warning fade in" th:id="modal-delete+${bibliography.bibliographyId}" >
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header text-center alert-info">
                                    <h5 class="modal-title">Suppresion d'un element</h5>
                                </div>
                                <div class="modal-body text-center">
                                    <h3>Voulez vous vraiment supprimer cet element?</h3>
                                </div>
                                <div class="modal-footer text-center">
                                    <button type="button" class="btn btn-warning pull-left" data-dismiss="modal">Retour</button>
                                    <a  class="btn btn-success" th:href="@{/bibliography/delete/}+${bibliography.bibliographyId}"><i class="fa fa-check"></i>&nbsp;Oui</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--MODAL DELETE LIVRE END -->
                </tr>
            </table>
                    <!-- BUTTON ADD LIVRE START -->
                    <a class="btn btn-success rounded-circle mt-3"  data-toggle="modal" data-target="#modal-add" th:attr="data-target='#modal-add'">
                        <i class="fa fa-plus"></i>
                    </a>
                    <span>Ajouter</span>
                    <!-- BUTTON ADD LIVRE END -->
                    <!-- MODAL ADD LIVRE START -->
                    <div class="modal card modal-warning alert-warning fade in" th:id="modal-add" >
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header text-center alert-info">
                                    <h5 class="modal-title">Ajouter un Livre</h5>
                                </div>
                                <div class="modal-body text-center">
                                    <h5>Veuillez remplir s'il vous plait les champs suivant</h5>
                                </div>
                                <form class=" text-center" style="width:100%;padding:1rem;"  method="post" th:action="@{/bibliography/save}" th:object="${bibliography}" enctype="multipart/form-data">

                                    <div class="mb-4">
                                        <div class="">
                                            <!--theseId-->
                                            <input type="hidden" name="theseId" th:value="${session.theseId}"  >
                                            <!--theseId-->
                                            <div class="form-group">
                                                <span class='error' id="assistantError"></span>
                                                <input type="text" th:field="*{auteur}" id="assistant" class="form-control" placeholder="Nom de l'auteur" />
                                            </div>
                                        </div>
                                        <div class=" mt-3">
                                            <div class="form-group">
                                                <span class='error' id="studentError"></span>
                                                <input type="text" th:field="*{title}" id="student" class="form-control" placeholder="Titre du livre" />
                                            </div>
                                        </div>
                                        <div class=" mt-3">
                                            <div class="form-group">
                                                <span class='error' id="editeurError"></span>
                                                <input type="text" th:field="*{editeur}" id="editeur" class="form-control" placeholder="Editeur du livre" />
                                            </div>
                                        </div>
                                        <div class=" mt-3">
                                            <div class="form-group">
                                                <span class='error' id="lieu_editionError"></span>
                                                <input type="text" th:field="*{lieu_edition}" id="lieu_edition" class="form-control" placeholder="Lieu d'édition du livre" />
                                            </div>
                                        </div>
                                        <div class=" mt-3">
                                            <div class="form-group">
                                                <span class='error' id="studentError"></span>
                                                <input type="text" th:field="*{annee_edition}" id="date_edition" class="form-control" placeholder="Date d'édition du livre" />
                                            </div>
                                        </div>
                                        <div class=" mt-3">
                                            <div class="form-group ">
                                                <span class='error' id="descriptionError"></span>
                                                <textarea class="form-control" id="description" rows="5" style="height: 100px" type="text" th:field="*{description}"  placeholder="Description " ></textarea>
                                            </div>
                                        </div>
                                        <div class="mt-3">
                                            <div class="form-group">
                                                <span class='error' id="linkError"></span>
                                                <input type="url" th:field="*{link}" id="link" class="form-control" placeholder="Lien de telechargement du livre" />
                                            </div>
                                        </div>
                                        <div class="mt-3">
                                            <div class="form-group">
                                                <span class='error' id="motCleError"></span>
                                                <input type="text" th:field="*{motCle}" id="motCle" class="form-control" placeholder="Mot clé" />
                                            </div>
                                        </div>
                                        <div class="img-upload-div">
                                            <div class="custom-file mb-3">
                                                <p class="mt-2 mb-2">Couverture du livre:</p>
                                                <input type="file"  class="form-control-file border" id="customFile" name="file_cover">
                                            </div>
                                        </div>
                                        <div class="img-upload-div">
                                            <div class="custom-file mb-3">
                                                <p class="mt-2 mb-2">Fichiers du Sommaire:</p>
                                                <input type="file"  class="form-control-file border" id="customFile" name="file">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer text-center">
                                        <button type="button" class="btn btn-warning pull-left" data-dismiss="modal">Fermer</button>
                                        <button type="submit" class="btn btn-success"><i class="fa fa-check"></i>&nbsp;Enregistrer</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- MODAL ADD LIVRE END -->
                    <br>
                    <hr>
                    <!-- LIENS VISITES START -->
                    <h3 class=" mt-3"><i>Liens Visités dans le Web</i></h3>
            <table class="list-group">
                <tr  th:each="bibliotheque : ${bibliothequess}" >
                    <div class="card mt-1">
                        <div class="row">
                            <div class="col-md-8">
                                <a th:href="${bibliotheque.bibliotheques}" th:text="${bibliotheque.bibliotheques}"></a>
                            </div>
                            <div class="col-md-4 row pull-right">
                                <div>
                                    <a  th:href="@{/bibliotheque/edit/}+${bibliotheque.bibliothequeId}">
                                        <i class="fa fa-pencil"></i>
                                    </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
                                <div>
                                    <a  data-toggle="modal" data-target="#modal-delete" th:attr="data-target='#modal-delete'+${bibliotheque.bibliothequeId}">
                                        <i class="fa fa-trash"></i>
                                    </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal card modal-warning alert-warning fade in" th:id="modal-delete+${bibliotheque.bibliothequeId}" >
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header text-center alert-info">
                                    <h5 class="modal-title">Suppresion d'un element</h5>
                                </div>
                                <div class="modal-body text-center">
                                    <h3>Voulez vous vraiment supprimer cet element?</h3>
                                </div>
                                <div class="modal-footer text-center">
                                    <button type="button" class="btn btn-warning pull-left" data-dismiss="modal">Retour</button>
                                    <a  class="btn btn-success" th:href="@{/bibliotheque/delete/}+${bibliotheque.bibliothequeId}"><i class="fa fa-check"></i>&nbsp;Oui</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </tr>
            </table>
                    <!-- BUTTON ADD WEB LINK START -->
                    <a class="btn btn-success rounded-circle mt-3"  data-toggle="modal" data-target="#modal-add" th:attr="data-target='#modal-add1'">
                        <i class="fa fa-plus"></i>
                    </a>
                    <span>Ajouter</span>
                    <!-- BUTTON ADD WEB LINK END -->
                    <!-- MODAL ADD WEB LINK START -->
                    <div class="modal card modal-warning alert-warning fade in" th:id="modal-add1" >
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header text-center alert-info">
                                    <h5 class="modal-title">Ajouter un travail d'etudiant</h5>
                                </div>
                                <div class="modal-body text-center">
                                    <h5>Veuillez remplir s'il vous plait le champ de donnée</h5>
                                </div>
                                <form class=" text-center" style="width:100%;padding:1rem;"  method="post" th:action="@{/bibliotheque/save}" th:object="${bibliotheque}">

                                    <div class="mb-4">
                                        <div >
                                            <!--theseId-->
                                            <input type="hidden" name="theseId" th:value="${session.theseId}"  >
                                            <!--theseId-->
                                            <div class="form-group">
                                                <span class='error' id="assistantError"></span>
                                                <input type="url" th:field="*{bibliotheques}" id="assistant" class="form-control" placeholder="Renseigner votre lien ici" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer text-center">
                                        <button type="button" class="btn btn-warning pull-left" data-dismiss="modal">Fermer</button>
                                        <button type="submit" class="btn btn-success"><i class="fa fa-check"></i>&nbsp;Enregistrer</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- MODAL ADD WEB LINK END -->
                    <br>
                    <hr>
                    <h3 ><i>Travaux des étudiants</i></h3>
                    <table class="list-group">
                        <tr th:each="travail : ${travaux}" >
                            <div class="card mt-1">
                                <div class="row">
                                    <div class="col-md-6">
                                        <a class="text-left"  href="#" data-toggle="modal" data-target="#modal-detail" th:attr="data-target='#modal-detail'+${travail.studentWorkId}"  th:text="${travail.subject}"></a>
                                    </div>
                                    <div class="col-md-6 row">
                                        <div >
                                            <a  th:href="@{/studentWork/edit/}+${travail.studentWorkId}">
                                                <i class="fa fa-pencil"></i>
                                            </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        </div>
                                        <div  >
                                            <a   data-toggle="modal" data-target="#modal-delete" th:attr="data-target='#modal-delete'+${travail.studentWorkId}">
                                                <i class="fa fa-trash"></i>
                                            </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp
                                        </div>
                                        </div>
                                </div>
                            </div>
                            <!-- MODAL DETAIL TRAVAUX START -->
                            <div class="modal card modal-warning alert-warning fade in" th:id="modal-detail+${travail.studentWorkId}" >
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header text-center alert-info">
                                            <h5 class="modal-title">Contenu d'un element</h5>
                                        </div>
                                        <div class="modal-body text-center">
                                            <h3>Detail d'un travail d'étudiant</h3>
                                        </div>
                                        <div class="mb-4">
                                            <div >
                                                <div class="form-group">
                                                    <p class="mt-2 mb-2">Nom de l'Etudiant:</p>
                                                    <textarea class="form-control"  rows="1" style="height: 30px" th:text="${travail.studentName}" disabled></textarea>
                                                </div>
                                            </div>
                                            <div class=" mt-3">
                                                <div class="form-group">
                                                    <p class="mt-2 mb-2">Date de Réalisation:</p>
                                                    <textarea class="form-control"  rows="1" style="height: 30px" th:text="${travail.date}" disabled></textarea>
                                                </div>
                                            </div>
                                            <div class=" mt-3">
                                                <div class="form-group ">
                                                    <p class="mt-2 mb-2">Sujet:</p>
                                                    <textarea class="form-control"  rows="5" style="height: 100px" th:text="${travail.subject}" disabled></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer text-center">
                                            <button type="button" class="btn btn-warning pull-left" data-dismiss="modal">Fermer</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--MODAL DETAIL TRAVAUX END -->
                            <!--MODAL DELETE TRAVAUX START -->
                            <div class="modal card modal-warning alert-warning fade in" th:id="modal-delete+${travail.studentWorkId}" >
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header text-center alert-info">
                                            <h5 class="modal-title">Suppresion d'un element</h5>
                                        </div>
                                        <div class="modal-body text-center">
                                            <h3>Voulez vous vraiment supprimer cet element?</h3>
                                        </div>
                                        <div class="modal-footer text-center">
                                            <button type="button" class="btn btn-warning pull-left" data-dismiss="modal">Retour</button>
                                            <a  class="btn btn-success" th:href="@{/studentWork/delete/}+${travail.studentWorkId}"><i class="fa fa-check"></i>&nbsp;Oui</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--MODAL DELETE TRAVAUX END -->
                        </tr>
                    </table>
                    <!-- BUTTON ADD TRAVAUX START -->
                    <a class="btn btn-success rounded-circle mt-3"  data-toggle="modal" data-target="#modal-addTravail" th:attr="data-target='#modal-addTravail'">
                        <i class="fa fa-plus"></i>
                    </a>
                    <span>Ajouter</span>
                    <!-- BUTTON ADD LIVRE END -->

                    <!-- MODAL ADD LIVRE START -->
                    <div class="modal card modal-warning alert-warning fade in" th:id="modal-addTravail" >
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header text-center alert-info">
                                    <h5 class="modal-title">Ajouter un Travail d'étudiant</h5>
                                </div>
                                <div class="modal-body text-center">
                                    <h5>Veuillez remplir s'il vous plait les champs suivant</h5>
                                </div>
                                <form class=" text-center" style="width:100%;padding:1rem;"  method="post" th:action="@{/studentWork/save}" th:object="${studentWork}">

                                    <div class="mb-4">
                                        <div class="">
                                            <!--theseId-->
                                            <input type="hidden" name="theseId" th:value="${session.theseId}"  >
                                            <!--theseId-->
                                            <div class="form-group">
                                                <span class='error' id="assistantError"></span>
                                                <input type="text" th:field="*{studentName}" id="studentName" class="form-control" placeholder="Nom de l'etudiant" />
                                            </div>
                                        </div>
                                        <div class=" mt-3">
                                            <div class="form-group">
                                                <span class='error' id="studentError"></span>
                                                <input type="text" th:field="*{date}" id="student" class="form-control" placeholder="Date de publication" />
                                            </div>
                                        </div>
                                        <div class=" mt-3">
                                            <div class="form-group ">
                                                <span class='error' id="profError"></span>
                                                <textarea class="form-control" id="subject" rows="5" style="height: 100px" type="text" th:field="*{subject}"  placeholder="Entrer un resumé de votre  " ></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer text-center">
                                        <button type="button" class="btn btn-warning pull-left" data-dismiss="modal">Fermer</button>
                                        <button type="submit" class="btn btn-success"><i class="fa fa-check"></i>&nbsp;Enregistrer</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- MODAL ADD LIVRE END -->
                    <div>
                        <br><br><br><br><br>
                        <h3 class="text-center">Livres Disponibles</h3>
                        <hr>
                        <table class="list-group">
                            <tr th:each="disponible : ${disponibles}" >
                                <div class="card mt-1">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <a class="text-center" data-toggle="modal" data-target="#modal-detail" th:attr="data-target='#modal-detail'+${disponible.bibliographyId}"  th:text="${disponible.title}"></a>
                                        </div>
                                        <div class="col-md-6 row pull-right">
                                            <span th:text="'$'+${disponible.price}"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal card modal-warning alert-warning fade in" th:id="modal-detail+${disponible.bibliographyId}" >
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header text-center alert-info">
                                                <h5 class="modal-title">Contenu d'un element</h5>
                                            </div>
                                            <div class="modal-body text-center">
                                                <h3>Detail d'un Livre</h3>
                                            </div>
                                            <div class="mb-4">
                                                <div >
                                                    <div class="form-group">
                                                        <p class="mt-2 mb-2">Auteur:</p>
                                                        <textarea class="form-control"  rows="1" style="height: 30px" th:text="${disponible.auteur}" disabled></textarea>
                                                    </div>
                                                </div>
                                                <div class=" mt-3">
                                                    <div class="form-group">
                                                        <p class="mt-2 mb-2">Titre:</p>
                                                        <textarea class="form-control"  rows="1" style="height: 30px" th:text="${disponible.title}" disabled></textarea>
                                                    </div>
                                                </div>
                                                <div class=" mt-3">
                                                    <div class="form-group ">
                                                        <p class="mt-2 mb-2">Description:</p>
                                                        <textarea class="form-control"  rows="5" style="height: 100px" th:text="${disponible.description}" disabled></textarea>
                                                    </div>
                                                </div>
                                                <div class=" mt-3">
                                                    <div class="form-group ">
                                                        <p class="mt-2 mb-2">Lien de téléchargement:</p>
                                                        <a   th:text="${disponible.link}" th:href="${disponible.link}"></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer text-center">
                                                <button type="button" class="btn btn-warning pull-left" data-dismiss="modal">Fermer</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </tr>
                        </table>
                    </div>
            </div>

            </div>
        <!-- these detail-->
<br>

    </div>
</div>
<!-- scripts-->
<script>
    $(document).ready(function () {

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
        $('#back').on('click', function(){
            $('#sidebar').toggleClass('active')
        });

    });
</script>
</body>

</html>