<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Neword">

    <!-- Title Page-->
    <title>Contenu d'une thèse</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <!-- thymeleaft -->
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
    <!-- Bootstrap CSS-->
    <link th:href="@{/vendor/bootstrap-4.1/bootstrap.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/css/style1.css}" rel="stylesheet">

</head>

<body class="row">
<!--navigation-->
<div th:replace="~{../templates/fragments/navigation :: navigation}">
</div>
<!-- navigation -->
<!-- sidebar-->
<div th:replace="~{../templates/fragments/sidebar :: sidebar}">
</div>
<!-- sidebar-->

<div class="col-11 offset-1 main">

    <div>
        <!-- these detail -->
        <div class=" col text-center" style="width:100%;">
            <h2 class="card alert-info mb-5">Etudiant et équipe directrice</br><span th:text="${these1.subject}"></span></h2>
            <div class="row">
                <div class="col-3" style="position:fixed !important;">
                    <div class="card mt-6">
                        <div th:replace="~{../templates/fragments/theseNavigationCrew :: theseNavigationCrew}"></div>
                    </div>
                </div>
                <div class="col-9 offset-3">
            <div class="mt-4">

                <div class="card">
                    <table class="table">
                        <thead class="bg-light">
                        <h4 >Etudiant</h4>
                        </thead>
                        <tbody>
                        <td id="detailStudent" th:text="${these1.student}"></td>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="mt-4">
                <div class="card">
                    <table class="table">
                        <thead class="bg-light">
                        <h4>Encadreur</h4>
                        </thead>
                        <tbody>
                        <td id="detailProf" th:text="${these1.profesor}"></td>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="mt-4">
                <div class="card">
                    <table class="table">
                        <thead class="bg-light">
                        <h4>Chef de travaux/Charge de cours</h4>
                        </thead>
                        <tbody>
                        <td id="detailChiefOfWork" th:text="${these1.workChief}"></td>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="mt-4">
                <div class="card">
                    <table class="table">
                        <thead class="bg-light">
                        <h4 >Assistant</h4>
                        </thead>
                        <tbody>
                        <td id="detailAssistant" th:text="${these1.assistant}"></td>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="text-right mt-4">
            <a th:href="@{/these/these/}+${these1.theseId}" class="btn btn-primary ">Retour</a>
            </div>
            </div>

            </div>
        </div>
        </div>


        <!-- these detail-->

    </div>
</div>
<!-- scripts-->
<!--vendor scripts -->
<div th:insert="~{../templates/fragments/scripts :: scripts}"></div>
<!--vendor scripts -->

<!-- scripts-->
<!-- ##### All Javascript Script ##### -->
<!-- jQuery-2.2.4 js -->
<script th:src="@{/js/jquery/jquery-2.2.4.min.js}"></script>
<!-- Popper js -->
<script th:src="@{/js/bootstrap/popper.min.js}"></script>
<!-- Bootstrap js -->
<script th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
<!-- All Plugins js -->
<script th:src="@{/js/plugins/plugins.js}"></script>
<!-- Active js -->
<script th:src="@{/js/active.js}"></script>

</body>

</html>