<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Neword">

    <!-- Title Page-->
    <title>Theses Collection</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <!-- thymeleaft -->
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
    <link th:href="@{/css/showTheses.css}" rel="stylesheet">
    <!-- Bootstrap CSS-->
    <link th:href="@{/vendor/bootstrap-4.1/bootstrap.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/css/addTheses.css}" rel="stylesheet">
    <!-- thymeleaft-->
    <link href="./css/style.css" rel="stylesheet">
    <link href="./css/dashboard.css" rel="stylesheet">
    <link href="./css/showTheses.css" rel="stylesheet">
    <!-- Bootstrap CSS-->
    <link href="./vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">
    <link href="./css/addTheses.css" rel="stylesheet">
</head>
<body class="row">

<!-- sidebar-->
<div th:replace="~{../templates/fragments/sidebar :: sidebar}">
</div>
<!-- sidebar-->

<div class="col main">

    <!--navigation-->
    <div th:insert="~{../templates/fragments/navigation :: navigation}">
    </div>
    <!-- navigation -->

    <!-- groupe name -->
    <h3 class="text-center" th:text="${groupeName}">Cameroun</h3>
    <!-- groupe name -->

    <!-- showing theses-->
    <div class="row content">
        <table class="table table-bordered text-center">
            <thead>
            <tr>
                <th>Numéro</th>
                <th>Université</th>
                <th>Faculté/Ecole</th>
                <th>Niveau</th>
                <th>Thème</th>
                <th>Année</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="these, status: ${theses}">
                <td th:text="${status.index+1}"></td>
                <td th:text="${these.university}"></td>
                <td th:text="${these.faculty}"></td>
                <td th:text="${these.level}"></td>
                <td th:text="${these.subject}"></td>
                <td th:text="${these.theseDate}"></td>
                <td>
                    <a th:href="'#'+${these.theseId}"   class="detailLink" alt="detail"><i class="zmdi zmdi-eye" data-toggle="modal" data-target="#detail"></i></a>
                </td>
            </tr>
            </tbody>
        </table>

        <!--pagination-->
        <div th:if="${theses.totalPages > 0}" class="pagination row justify-content-end" th:each="pageNumber : ${pageNumbers}">
            <a th:href="@{/these(size=${theses.size}, page=${pageNumber})}" th:text=${pageNumber} th:class="${pageNumber==theses.number + 1} ? active"></a>
        </div>
        <!--pagination-->
    </div>
    <!-- showing theses-->
    <!-- add these button -->
    <button type="button" class="addButton btn btn-primary rounded-circle" data-toggle="modal" data-target="#addThese">
        <i class="zmdi zmdi-plus"></i>
        </i>
    </button>
    <!-- add these button -->
    <!-- print button-->
    <a th:href="@{/these/createPdf/} + ${currentPage} " >
        <button type="button" class="printButton btn btn-success ">
            Imprimer
        </button>
    </a>
    <!-- print button-->

    <!--addThese-->
    <div class=" modal fade" id="addThese" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" style="width: inherit !important;max-width: inherit !important;" role="document">
            <form class="add-these-form modal-content card text-center" enctype="multipart/form-data" method="post" th:action="@{/these/add/create}">
                <!-- user id -->
                <input type="number" name="userId" th:value="${session.userId}" style="display:none">
                <input type="number" name="groupeId" th:value="${session.groupeId}" style="display:none">
                <!-- user id -->
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <span class='error' id="universityError"></span>
                            <input type="text" name="university" id="university" placeholder="Université/Ecole" />
                        </div>

                        <div class="form-group">
                            <span class='error' id="facultyError"></span>
                            <input type="text" name="faculty" id="faculty" placeholder="Faculté/Discipline" />
                        </div>
                        <div class="form-group">
                            <span class='error' id="optionError"></span>
                            <input type="text" name="options" id="option" placeholder="Option" />
                        </div>
                        <div class="form-group">
                            <span class='error' id="levelError"></span>
                            <input type="text" name="level" id="level" placeholder="Niveau" />
                        </div>
                        <div class="form-group">
                            <span class='error' id="subjectError"></span>
                            <input type="text" name="subject" id="subject" placeholder="Sujet/Thème" />
                        </div>
                        <div class="form-group">
                            <span class='error' id="dateError"></span>
                            <input type="text" name="theseDate" id="dateThese" placeholder="Date" />
                        </div>
                        <div class="img-upload-div">
                            <input class="img-input" type="text" id="abstract" placeholder="Sommaire">
                            <button class="img-upload" type="button" id="addButton">+</button>
                            <input type="file" name="file" id="abstract_file" style="display:none">
                        </div>
                        <div class="form-group">
                            <span class='error' id="countryError"></span>
                            <input type="text" name="country" id="country" placeholder="Pays" />
                        </div>
                        <div class="form-group">
                            <span class='error' id="regionError"></span>
                            <input type="text" name="regions" id="region" placeholder="Région" />
                        </div>
                        <div class="form-group">
                            <span class='error' id="studentError"></span>
                            <input type="text" name="student" id="student" placeholder="Nom de l'étudiant" />
                        </div>
                        <div class="form-group ">
                            <span class='error' id="profError"></span>
                            <input type="text" name="profesor" id="prof" placeholder="Nom de l'encadreur/prof" />
                        </div>
                        <div class="form-group">
                            <span class='error' id="workChiefError"></span>
                            <input type="text" name="workChief" id="workChief" placeholder="Nom du chef des travaux" />
                        </div>
                        <div class="form-group">
                            <span class='error' id="assistantError"></span>
                            <input type="text" name="assistant" id="assistant" placeholder="Nom de l'assistant" />
                        </div>
                        <div class="form-group row form-button">
                            <div class="col-6">
                                <button data-dismiss="modal" style="width:100%;" class="btn btn-danger"
                                   >Cancel</button>
                            </div>
                            <div class="col-6">
                                <button type="submit" id="submit" style="width:100%;" name="saveThese"  class="btn btn-success"
                                  >Valider</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group row">
                            <div class="col-12">
                                <h4>Bibliographie</h4>
                                <ul class="list-group" id="bibliographyList">
                                </ul>
                                <input type="text" value="" style="display:none;" name="bibliography" id="bibliography" placeholder="Bibliographie" />
                                <button style="width:100%"  data-toggle="modal" data-target="#addBibliography"
                                        class="img-upload addBL" type="button" id="addBibliographyBtn">+</button>
                            </div>
                        </div>
                        <div class="form-group row">
                            <input type="text" value="" name="library" style="display:none" id="library" placeholder="Bibliothèque" />

                            <div class="col-12">
                                <h4>Bibliothèque</h4>
                                <ul class="list-group" id="libraryList">
                                </ul>
                                <button style="width:100%" data-toggle="modal" type="button" data-target="#addLibrary"
                                        class="img-upload addBL" id="addlibraryBtn">+</button>
                            </div>

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- addThese-->


    <!-- addBibliography-->
    <div class=" modal fade" id="addBibliography" tabindex="-2" role="dialog">
        <div class=" modal-dialog  modal-dialog-centered" style="box-sizing: content-box" role="document">
            <form class="modal-content card " style="padding:2rem;">
                <div class="form-group">
                    <input type="text" id="bibliographyAuthor" placeholder="Auteur" />
                </div>
                <div class="form-group">
                    <input type="text" id="bibliographyTitle" placeholder="Titre" />
                </div>
                <div class="form-group">
                    <input type="text" id="bibliographyContent" placeholder="Description" />
                </div>
                <div class="text-right">
                    <button type="button" class="btn btn-danger rounded-circle" style="width:3rem"
                            data-dismiss="modal">
                        <i class="zmdi zmdi-close"></i>
                    </button>
                    <button type="button" id="confirmBibliographyAdding" class="btn btn-primary rounded-circle" style="width:3rem">
                        <i class="zmdi zmdi-check"></i>
                        </i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!-- addBibliography-->


    <!-- addLibrary-->
    <div class=" modal fade" id="addLibrary" tabindex="-2" role="dialog">
        <div class="modal-dialog modal-dialog-centered" style="box-sizing: content-box" role="document">
            <form class="modal-content card " style="padding:2rem;">
                <div class="form-group">
                    <input type="text" id="libraryContent" placeholder="Lien" />
                </div>
                <div class="text-right">
                    <button type="button" class="btn btn-danger rounded-circle" style="width:3rem" data-dismiss="modal">
                        <i class="zmdi zmdi-close"></i>
                    </button>
                    <button type="button" id="confirmLibraryAdding" class="btn btn-primary rounded-circle" style="width:3rem">
                        <i class="zmdi zmdi-check"></i>
                        </i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!-- addLibrary-->


    <!-- these detail -->
    <div class="modal fade" id="detail" tabindex="-1" role="dialog">
        <div class=" modal-dialog modal-dialog-centered" style="max-width: inherit" role="document">
            <div class=" detailCard card text-center" style="padding:2rem">
                <div class="modal-content" style="border:none;">
                       <div class="text-right">
                        <i class="zmdi zmdi-delete zmdi-hc-2x" style="color:red;"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                           <a id="detailUpdateRoute" href="" alt="modifier"><i class="zmdi zmdi-brush zmdi-hc-2x" style="color:blue;"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                           <i data-dismiss="modal" class="zmdi zmdi-close zmdi-hc-2x" style="color:green;"></i>
                    </div>
                    <h3>Université et localisation</h3>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th>Université</th>
                            <th>Faculté</th>
                            <th>Option</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td id="detailDate"></td>
                            <td id="detailUniversity"></td>
                            <td id="detailFaculty"></td>
                            <td id="detailOption"></td>
                        </tr>
                        </tbody>
                    </table>

                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Niveau</th>
                            <th>Pays</th>
                            <th>Region</th>
                            <th>Sujet</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td id="detailLevel"></td>
                            <td id="detailCountry"></td>
                            <td id="detailRegion"></td>
                            <td id="detailSubject"></td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="detailabstract"><h4>Sommaire</h4></div>
                    <div><img src="" id="detailAbstract" alt="sommaire"></div>
                    <h3 class="detailStudents">Etudiant et équipe directrice</h3>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Etudiant</th>
                            <th>Encadreur/Prof</th>
                            <th>Chef de travaux/Charge de cours</th>
                            <th>Assistant</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td id="detailStudent"></td>
                            <td id="detailProf"></td>
                            <td id="detailChiefOfWork"></td>
                            <td id="detailAssistant"></td>
                        </tr>
                        </tbody>
                    </table>
                    <h3 class="detailBibliographyLibrary">Références Bibliographique</h3>
                    <div class="row ">
                        <div class=" col-6 detailBibliography">
                            <h4>Bibliographie</h4>
                            <ul class="list-group" id="detailBibliography">
                            </ul>
                        </div>
                        <div class="detailLibrary col-6">
                            <h4>Bibliothèque</h4>
                            <ul class="list-group" id="detailLibrary">

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- these detail-->

    <!-- scripts-->
        <!--vendor scripts -->
            <div th:insert="~{../templates/fragments/scripts :: scripts}"></div>
        <!--vendor scripts -->
    <script th:src="@{/js/dashboard.js}"></script>
    <script th:src="@{/js/showTheses.js}"></script>
    <!-- scripts-->

</body>

</html>