<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Neword">

    <!-- Title Page-->
    <title>Creation d'une thèse</title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <!-- thymeleaft -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>


    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
    <link th:href="@{/css/showTheses.css}" rel="stylesheet">
    <link th:href="@{/css/element.css}" rel="stylesheet">

    <!-- Bootstrap CSS-->
    <link th:href="@{/css/addTheses.css}" rel="stylesheet">
    <!--link th:href="@{/css/style1.css}" rel="stylesheet"-->
    <!-- thymeleaft-->
</head>
<body class="userCrewWrapper">
<!-- sidebar-->
<nav th:replace="~{../templates/fragments/sidebar :: sidebar}">
</nav>
<!-- sidebar-->

<div id="content" style="padding-left: 15px;padding-right: 15px">
    <!--navigation-->
    <div th:replace="~{../templates/fragments/navigationcrewtheseadd :: navigationcrewtheseadd}">
    </div>
    <!-- navigation -->
    <!-- showing theses-->
    <div style="margin-top: 5.5rem;">
        <form class=" text-center" style="width:100%;padding:1rem;" enctype="multipart/form-data" method="post" th:action="@{/these/add/create}" th:object="${these}">
            <!-- user id -->
            <input type="number" name="userId" th:value="${session.userId}" style="display:none">
            <!-- user id -->
            <!--theseId-->
            <input type="number" th:field="*{theseId}"  style="display:none">
            <!--theseId-->
            <!--groupeId-->
            <input type="number" name="groupeId" th:value="${session.groupeId}"  style="display:none">
            <!--groupeId-->
            <div class="row mb-4">
                <div class="col-md-4">
                    <div class="form-group">
                        <span class='error' id="universityError"></span>
                        <input type="text" class="form-control" th:field="*{university}" id="university" placeholder="Université/Ecole" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <span class='error' id="facultyError"></span>
                        <input type="text" class="form-control" th:field="*{faculty}" id="faculty" placeholder="Faculté/Discipline" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <span class='error' id="optionError"></span>
                        <input type="text" class="form-control" th:field="*{options}" id="option" placeholder="Option" />
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-md-4">
                    <div class="form-group">
                        <span class='error' id="levelError"></span>
                        <input type="text" class="form-control" th:field="*{level}" id="level" placeholder="Niveau" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <span class='error' id="subjectError"></span>
                        <input type="text" class="form-control" th:field="*{subject}" id="subject" placeholder="Sujet/Thème" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <span class='error' id="dateError"></span>
                        <input type="text" class="form-control" th:field="*{theseDate}" id="dateThese" placeholder="Date" />
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="form-group col-md-3">
                    <p class="mb-0">Type de fichiers pour le sommaire:</p>
                    <select class="form-control" th:field="*{fileType}">
                        <option value="">Selectionner un type de fichiers</option>
                        <option value="DOCUMENT">DOCUMENTS</option>
                        <option value="IMAGE">IMAGE</option>
                        <option value="VIDEO">VIDEO</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <div class="img-upload-div">
                        <div class="custom-file mb-3">
                            <p class="mt-2 mb-2">Fichiers du Sommaire:</p>
                            <input type="file" multiple class="form-control-file border" id="customFile" name="files">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <span class='error' id="countryError"></span>
                        <input type="text" name="country" id="country" class="form-control" th:value="${session.groupeCountry}" placeholder="Pays" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <span class='error' id="regionError"></span>
                        <input type="text" name="regions" id="region" class="form-control" th:value="${session.groupeRegion}" placeholder="Région" />
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-md-6">
                    <div class="form-group">
                        <span class='error' id="anotherSommairetError"></span>
                        <p>Autre Sommaire:</p>
                        <textarea th:field="*{anotherSommaire}" cols="60" rows="5"></textarea>
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-md-3">
                    <div class="form-group">
                        <span class='error' id="assistantError"></span>
                        <input type="text" class="form-control" th:field="*{assistant}" id="assistant" placeholder="Nom de l'assistant" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <span class='error' id="studentError"></span>
                        <input type="text" class="form-control" th:field="*{student}" id="student" placeholder="Nom de l'étudiant" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group ">
                        <span class='error' id="profError"></span>
                        <input type="text" class="form-control" th:field="*{profesor}" id="prof" placeholder="Nom de l'encadreur/prof" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <span class='error' id="workChiefError"></span>
                        <input type="text" class="form-control" th:field="*{workChief}" id="workChief" placeholder="Nom du chef des travaux" />
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div style="text-align:center">
                    <a data-toggle="modal" data-target="#modal-warning" th:attr="data-target='#modal-warning'" style="width:25%;"   class="btn btn-success" >Valider pour verfication</a>
                    <div class="modal card modal-warning fade in" th:id="modal-warning" >
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header text-center">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span></button>
                                    <h5 class="modal-title">Envoi d'un message de validation a l'administrateur pour activation d'une Thèse</h5>
                                </div>
                                <div class="modal-body text-center">
                                    <div class="form-group">
                                        <input type="email" class="form-control" name="adresse" placeholder="Adresse email destinataire :">
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" rows="10" name="contenue" placeholder="Corps du message :"></textarea>
                                    </div>
                                </div>
                                <div class="modal-footer text-center">
                                    <button type="button" class="btn btn-warning pull-left" data-dismiss="modal">Retour</button>
                                    <button type="submit" class="btn btn-danger" ><i class="fa fa-check"></i>&nbsp;Envoye</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <a style="width:25%;" th:href="@{/groupe/groupe/}+${session.groupeId}"  class="btn btn-warning" >Annuler</a>
    </div>


</div>


<!-- scripts-->
<script th:src="@{/js/dashboard.js}"></script>
<script th:src="@{/js/showTheses.js}"></script>

<script>
    $(document).ready(function () {

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
        $('#back').on('click', function(){
            $('#sidebar').toggleClass('active')
        });

    });
</script>

</body>

</html>