<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Neword">

    <!-- Title Page-->
    <title>Les utilisateurs d'un groupe</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">

    <!-- thymleaf -->

    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
    <link th:href="@{/css/user.css}" rel="stylesheet">
    <!-- Bootstrap CSS-->
    <link th:href="@{/vendor/bootstrap-4.1/bootstrap.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/css/addTheses.css}" rel="stylesheet">

<body class="row">

<!--navigation-->
<div th:replace="~{../templates/fragments/navigationcrew :: navigationcrew}">
</div>
<!-- navigation -->
<!-- sidebar-->
<div th:replace="~{../templates/fragments/sidebar :: sidebar}">
</div>
<!-- sidebar-->
<div class="col-11 offset-1 main">
    <div class="row justify-content-center content" style="margin-top: 5.5rem;">
        <h3 class="col-12 text-center mt-3">Utilisateurs du groupe</h3>
        <div class="col-3" th:each="user: ${users}">
            <div class="user card">
                <div  class=" row deleteUpdate " style="position:absolute;z-index:1000;width:100%;margin:auto"    >
                    <div class="col-6 text-left" style="padding:0">
                        <input type="hidden" th:value="${user.role.role}">
                        <button th:href="'#'+ ${user.userId}" class="btn btn-success rounded-circle updateRoleBtn" data-toggle="modal" data-target="#updateRole">
                            <i class="zmdi zmdi-edit"></i>
                            </button>
                    </div>
                    <div class="col-6 text-right" style="padding:0">
                        <a data-toggle="modal" data-target="#modal-warning" th:attr="data-target='#modal-warning'+${user.userId }"   class="btn btn-danger  rounded-circle" >
                        <i class="zmdi zmdi-close" ></i>
                        </a>
                    </div>
                </div>
                <div class="profile-img-div">
                    <div th:if="${user.img}">
                        <img class="card-img-top user-avatar" th:src="${user.img}" alt="User Avatar">
                    </div>
                    <div th:unless="${user.img}">
                        <img class="card-img-top user-avatar" th:src="${/images/avatar.png}" alt="User avatar">
                    </div>
                </div>
                <div class="card-body">
                     <div class="card-text">
                        <strong>Nom: </strong><span th:text="${user.name}">Neword Orquel</span>
                        <br>
                        <strong>Email: </strong><span th:text="${user.email}">newordn@gmail.com</span>
                        <br>
                        <strong>Numéro: </strong><span th:text="${user.number}">+237693063225</span>
                        <br>
                        <strong>Pays: </strong><span th:text="${user.country}">Cameroun</span>
                        <br>
                        <strong>Region: </strong><span th:text="${user.region}"n>Extreme nord</span>
                        <br>
                        <strong>Université: </strong><span th:text="${user.university}">Maroua</span>
                        <br>
                        <strong>Faculté: </strong><span th:text="${user.faculty}">Enspm</span>
                        <br>
                         <strong>Permission: </strong><span th:if="${user.role.role}=='admin'">Administrateur</span>
                         <span th:if="${user.role.role}=='user'">Utilisateur</span>
                         <span th:if="${user.role.role}=='root'">Super Utilisateur</span>
                         <br>

                    </div>
                </div>
            </div>
            <!-- Delete user modal -->
            <!--div class=" modal fade" id="confirmDeletion" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered" role=" document">

                    <form class=" modal-content card text-center" style="padding:1rem;" method="get" id="updateRoleForm">
                        <h4>Voulez vous supprimer cet utilisateur</h4>
                        <div class='row'>
                            <div class='col-6'><a class="btn btn-danger" type="submit" id="confirmDeletionBtn">Oui</a></div>
                            <div class='col-6'><button class="btn btn-warning" data-dismiss="modal" type="button">Non</button></div>
                        </div>
                    </form>
                </div>
            </div-->
            <div class="modal card modal-warning fade in" th:id="modal-warning+${user.userId }" >
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span></button>
                            <h5 class="modal-title">Supprimer un utilisateur</h5>
                        </div>
                        <div class="modal-body text-center">
                            <h3>Etes vous sure de vouloir supprimer définitivement cette Utilisateur?</h3>
                        </div>
                        <div class="modal-footer text-center">
                            <button type="button" class="btn btn-warning pull-left" data-dismiss="modal">Close</button>
                            <a type="button" class="btn btn-danger" th:href="@{/user/delete/{userId}(userId=${user.userId})}"><i class="fa fa-check"></i>&nbsp;Yes</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Delete user modal -->

        </div>
        <button type="button" class="addButton btn btn-primary rounded-circle" data-toggle="modal" data-target="#addUserIntoCrew">
            <i class="zmdi zmdi-plus zmdi-hc-2x"></i>
            </i>
        </button>
        <!--addUserIntoCrew-->
        <div class=" modal fade" id="addUserIntoCrew" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
            <form class=" modal-content card text-center" th:object="${usersGroupe}" th:action="@{/groupe/add/users}" style="padding:1rem;" method="post">
                <input type="text" th:field="*{usersIds}" name="usersIds" id="usersId" value="" style="display:none">
                <div class="form-group row">
                    <div class="col-6">
                        <button data-dismiss="modal" style="width:100%;" class="btn btn-danger">Cancel</button>
                    </div>
                    <div class="col-6">
                        <button type="submit" id="submit" style="width:100%;"  class="btn btn-success">Valider</button>
                    </div>
                </div>
                <ul class="list-group">
                    <li  th:each=" user : ${users1}"  th:value="${user.userId}" th:text="${user.name}" class="list-group-item user-item">
                        Testing
                    </li>
                </ul>

            </form>
        </div>

</div>
        <!-- addUserIntoCrew-->
    </div>
    </div>
<!-- update role-->
<div class=" modal fade" id="updateRole" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role=" document">
        <form class=" modal-content card text-center" th:action="@{/groupe/updateRole}" style="padding:1rem;" method="get" id="updateRoleForm">
            <h5>Permissions</h5>
            <input type="number" style="display:none" id="updateRoleUserId" name="userId">
            <select name="role" class="custom-select">
                <option value="root" id="root">Super Administrateur</option>
                <option value="admin" id="admin" >Administrateur</option>
                <option value="user" id="user">Utilisateur</option>
            </select>
            <div class="text-right">
                <button class="btn btn-danger" type="button" data-dismiss="modal" >
                    <i class="zmdi zmdi-close"></i>
                </button>
                <button class="btn btn-success" id="confirmRoleAdding">
                    <i class="zmdi zmdi-check"></i>
                </button>
            </div>
        </form>
    </div>
</div>
<!-- update role-->
    <!--vendor scripts -->
    <div th:insert="~{../templates/fragments/scripts :: scripts}"></div>
    <!--vendor scripts -->
    <script th:src="@{/js/users.js}"></script>
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap-4.1/bootstrap.min.js}"></script>
<script th:src="@{/vendor/bootstrap-4.1/popper.min.js}"></script>
<!-- ##### All Javascript Script ##### -->
<!-- jQuery-2.2.4 js -->
<script th:src="@{/js/jquery/jquery-2.2.4.min.js}"></script>
<!-- Popper js -->
<script th:src="@{/js/bootstrap/popper.min.js}"></script>
<!-- Bootstrap js -->
<script th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
<!-- All Plugins js -->
<script th:src="@{/js/plugins/plugins.js}"></script>
<!-- Active js -->
<script th:src="@{/js/active.js}"></script>

</body>

</html>