<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Formation professionnel</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
    <link th:href="@{/css/myStyle.css}" rel="stylesheet">
    <link th:href="@{/css/addTheses.css}" rel="stylesheet">
    <!--link th:href="@{/css/style1.css}" rel="stylesheet"-->
    <!-- Bootstrap CSS-->
    <link th:href="@{/vendor/bootstrap-4.1/bootstrap.min.css}" rel="stylesheet" media="all">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<br>

<div style="height: 100%">
    <nav class="nav" style="width: 100%">
        <a th:href="@{/deals}" class="btn home" style="padding-left: 30px;"><i class="zmdi zmdi-home zmdi-hc-2x"></i><br><span>Acceuil</span></a>
        <h2 class="text-center col-11 offset-1" style="padding-top: 0.5rem;">Péparation à l'emploi et Formation professionnelle</h2>
    </nav>
        <br>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist" style="height:auto; margin-top: 5rem;width: 100%">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/course/administration}">Administration et Finance</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/course/languages}">Anglais et/ou Francais</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  th:href="@{/course/its}">IT</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  th:href="@{/course/logistiques}">Logistiques</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active"  th:href="@{/course/protections}">Protection</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  th:href="@{/course/resource}">Resources Humaines</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  th:href="@{/course/leaderships}">Leadership</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  th:href="@{/course/managements}">Management</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  th:href="@{/course/washs}">Wash</a>
        </li>
        <li class="nav-item">
            <a class="nav-link "  th:href="@{/course/alphabetisations}">Alphabetisation</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  th:href="@{/course/entreprenariats}">Entrepreneuriat</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content " style="margin-top: 4rem; height: inherit; padding: 2rem;">
        <!-- PROTECTION  START -->
        <div id="protection" class="container tab-pane active mt-3"><br>
            <!-- HEADER TYPE TITLE START -->
            <h3 class="my-4 text-center sticky">Protection</h3>
            <!-- HEADER TYPE TITLE END -->
            <!-- EVENT RELEASES START-->
            <div class="row mb-4">
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="card " style="height: 300px;">
                        <img class="card-img-top" th:src="@{/img/core-img/docs.png}"   alt="Card image cap">
                        <div class="card-body text-center">
                            <h2><span class="counter text-primary">1912</span></h2>
                            <h5>Evenements historiques</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="card" style="height: 300px;">
                        <img class="card-img-top"  th:src="@{/img/core-img/events.png}" alt="Card image cap">
                        <div class="card-body text-center">
                            <h2><span class="counter text-primary" th:text="${listSize4}">89</span></h2>
                            <h5>Planifications des événements</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="card" style="height: 300px;">
                        <img class="card-img-top" th:src="@{/img/core-img/earth.png}"  alt="Card image cap">
                        <div class="card-body text-center">
                            <h2><span class="counter text-primary" th:text="${courses5Size}"></span></h2>
                            <h5>Cours disponibles</h5>
                        </div>
                    </div>
                </div>
            </div>
            <!-- EVENT RELEASES END-->
            <!-- ONLINE COURSE START-->
            <div class="container" style="padding-top: 30px;">
                <div class="row">
                    <div class="col-12 card bg-dark">
                        <div class="section-heading">
                            <h3 class="text-white" style="padding-top: 1.5rem;">Cours en ligne</h3>
                        </div>
                    </div>
                </div>
                <div class="row my-2" >
                    <!-- Single Popular Course -->
                    <div class="col-12 col-sm-6 col-lg-6 my-2" th:each="course : ${courses5}">
                        <div class="card">
                            <div class=" row" style="margin-left: 0; margin-right: 0">
                                <div class="col-lg-2" style="padding:20px">
                                    <div  style="background-color:forestgreen; height: 30px; width: 30px; border-radius: 50%"></div>
                                </div>
                                <div class="col-lg-8" style="padding:10px">
                                    <span th:text="${course.title}"></span>
                                </div>
                                <div class="col-lg-2" style="padding: 10px">
                                    <a  th:href="@{/course/get/}+${course.courseId}" style="padding: 0">
                                        <span class="badge" style="line-height:2rem;font-size:2rem;width:100%;height: inherit; "><i class="fa fa-chevron-right"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div><br>
                </div>
                <div class="pagination-div" style="display: none;">
                    <span th:if="${courses5.hasPrevious()}">
                        <a th:href="@{/course/all(courses3=${courses5.number-1},size=${courses5.size})}">Previous</a>
                    </span>
                    <th:block th:each="i: ${#numbers.sequence(0, courses5.totalPages - 1)}">
                        <span th:if="${courses5.number == i}" class="selected">[[${i}+1]]</span>
                        <span th:unless="${courses5.number == i}">
                            <a th:href="@{/course/all(courses5=${i},size=${courses5.size})}">[[${i}+1]]</a>
                         </span>
                    </th:block>
                    <span th:if="${courses5.hasNext()}">
                        <a th:href="@{/course/all(courses5=${courses5.number+1},size=${courses5.size})}">Next</a>
                    </span>
                </div>
                <div class="mt-3" style="padding-right: 200px;padding-left: 200px">
                    <a class="btn btn-primary" th:href="@{/course/protection}" style="width: 100%">Voir plus <i class="fa fa-long-arrow-right"></i> </a>
                </div>
            </div>
            <!-- ONLINE COURSE END-->
            <!-- AVAILABLE EVENTS START-->
            <div class="container" style="padding-top: 30px; padding-bottom: 3rem;">
                <div class="row">
                    <div class="col-12 bg-secondary card ">
                        <div class="section-heading">
                            <h3 class="text-center text-white" style="padding-top: 1.5rem;">Planning des événement avenir</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Single Upcoming Events -->
                    <div class="col-12 col-md-6 col-lg-4 my-2" th:each=" admin : ${lists4}">
                        <div class="single-upcoming-events">
                            <!-- Events Thumb -->
                            <div class="events-thumb ">
                                <img th:src="${admin.image}" class="card-image-top" style="height: 240px" alt="">
                                <h6 class="event-date" th:text="${admin.releaseDate}">Date de l'événement</h6>
                                <h4 class="event-title" th:text="${admin.title}">Titre de l'événement</h4>
                            </div>
                            <!-- Date & Fee -->
                            <div class="date-fee d-flex justify-content-between">
                                <div class="date">
                                    <p th:text="${admin.creationDate}"><i class="fa fa-clock"></i> 26 Aout @ 9:00</p>
                                </div>
                                <div class="events-fee">
                                    <a href="#" th:text="'$'+${admin.price}"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-3" style="padding-right: 200px;padding-left: 200px">
                    <a class="btn btn-primary" th:href="@{/event/protection}" style="width: 100%">Voir plus <i class="fa fa-long-arrow-right"></i> </a>
                </div>
                <div class="row " style="bottom: 1rem;width: 100%;display: none">
                    <div class="form-group col-12 col-sm-6 col-lg-3">
                        <select class="form-control pagination" id="pageSizeSelect">
                            <option th:each="pageSize : ${pageSizes}" th:text="${pageSize}"
                                    th:value="${pageSize}"
                                    th:selected="${pageSize} == ${selectedPageSize}"></option>
                        </select>
                    </div>
                    <div th:if="${lists4.totalPages != 1}"
                         class="form-group col-12 col-sm-6 col-lg-9 pagination-centered">
                        <ul class="pagination">
                            <li th:class="${lists4.number == 0} ? disabled" class="page-item" ><a
                                    class="page-link"
                                    th:href="@{/event/it(pageSize=${selectedPageSize}, page=1)}">«</a>
                            </li>
                            <li th:class="${lists4.number == 0} ? disabled" class="page-item" ><a
                                    class="page-link"
                                    th:href="@{/event/it(pageSize=${selectedPageSize}, page=${lists4.number})}">←</a>
                            </li>
                            <li
                                    th:class="${lists4.number == (page - 1)} ? 'active pointer-disabled'"
                                    th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}" class="page-item active" >
                                <a class="page-link"
                                   th:href="@{/event/it(pageSize=${selectedPageSize}, page=${page})}"
                                   th:text="${page}"></a>
                            </li>
                            <li
                                    th:class="${lists4.number + 1 == lists4.totalPages} ? disabled" class="page-item">
                                <a class="page-link"
                                   th:href="@{/event/it(pageSize=${selectedPageSize}, page=${lists4.number + 2})}">→</a>
                            </li>
                            <li
                                    th:class="${lists4.number + 1 == lists4.totalPages} ? disabled" class="page-item">
                                <a class="page-link"
                                   th:href="@{/event/it(pageSize=${selectedPageSize}, page=${lists4.totalPages})}">»</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- AVAILABLE EVENTS END-->
            <!-- ##### Footer Area Start ##### -->
            <footer class="footer-area">
                <!-- Top Footer Area -->
                <div class="top-footer-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <!-- Footer Logo -->
                                <div class="footer-logo">
                                    <a th:href="@{/}"><img th:src="@{/img/core-img/yesb.png}" alt=""></a>
                                </div>
                                <!-- Copywrite -->
                                <p><a href="#"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> Tous les droits sont réservés | cette page faite <i class="fa fa-heart-o" aria-hidden="true"></i> par <a href="https://yesbanana.org" target="_blank">Yesbanana</a>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Bottom Footer Area -->
                <div class="bottom-footer-area d-flex justify-content-between align-items-center">
                    <!-- Contact Info -->
                    <div class="contact-info">
                        <a href="#"><span>Phone:</span> +237 694 126 158</a>
                        <a href="#"><span>Email:</span> admin@yesbanana.org</a>
                    </div>
                    <!-- Follow Us -->
                    <div class="follow-us">
                        <span>Suivez-nous</span>
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    </div>
                </div>
            </footer>
            <!-- ##### Footer Area End ##### -->
        </div>
        <!-- PROTECTION  END -->
    </div>
</div>

<!-- navigation -->
<script th:src="@{/js/dashboard.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function() {
        changePageAndSize();
    });
    function changePageAndSize() {
        $('#pageSizeSelect').change(function(evt) {
            window.location.replace("/event/it?pageSize=" + this.value + "&page=1");
        });
    }
    /*]]>*/
</script>
<!-- script -->
</body>
</html>
