<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Universite et autres services</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
    <link th:href="@{/css/addTheses.css}" rel="stylesheet">
    <link th:href="@{/css/myStyle.css}" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!--link th:href="@{/css/style1.css}" rel="stylesheet"-->
    <!-- Bootstrap CSS-->
    <link th:href="@{/vendor/bootstrap-4.1/bootstrap.min.css}" rel="stylesheet" media="all">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<br>

<div style="height: 100%">
    <nav class="nav" style="width: 100%">
        <a th:href="@{/deals}" class="btn home" style="padding-left: 30px;"><i class="zmdi zmdi-home zmdi-hc-2x"></i><br><span>Acceuil</span></a>
        <h2 class="text-center col-11 offset-1" style="padding-top: 0.5rem;">Universite et autres services</h2>
    </nav>
    <br>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs sticky-top" role="tablist" style="height:auto; margin-top: 5rem;width: 100%">
        <li class="nav-item">
            <a class="nav-link"  th:href="@{/external/secure/region/region/university/}+${region.regionId}">Universites</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  th:href="@{/external/secure/region/region/logement/}+${region.regionId}">Logements</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  th:href="@{/external/secure/region/region/transport/}+${region.regionId}">Transport</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" th:href="@{/external/secure/region/region/approvisionnement/}+${region.regionId}">Approvisionnement</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content" style="margin-top: 4.5rem; height: 100%; padding: 2rem;">
        <div id="procurement" class="container tab-pane active"><br>
           <h3>Approvisionnement</h3>
            <!-- ##### Footer Area Start ##### -->
            <footer class="footer-area">
                <!-- Top Footer Area -->
                <div class="top-footer-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <!-- Footer Logo -->
                                <div class="footer-logo">
                                    <a th:href="@{/}"><img th:src="@{/img/core-img/yesb.png}" alt=""></a>
                                </div>
                                <!-- Copywrite -->
                                <p><a href="#"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> Tous les droits sont réservés | cette page faite <i class="fa fa-heart-o" aria-hidden="true"></i> par <a href="https://yesbanana.org" target="_blank">Yesbanana</a>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Bottom Footer Area -->
                <div class="bottom-footer-area d-flex justify-content-between align-items-center">
                    <!-- Contact Info -->
                    <div class="contact-info">
                        <a href="#"><span>Phone:</span> +237 694 126 158</a>
                        <a href="#"><span>Email:</span> admin@yesbanana.org</a>
                    </div>
                    <!-- Follow Us -->
                    <div class="follow-us">
                        <span>Suivez-nous</span>
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    </div>
                </div>
            </footer>
            <!-- ##### Footer Area End ##### -->
        </div>
    </div>
</div>
<!-- navigation -->
<script th:src="@{/js/dashboard.js}"></script>
<!-- script -->
<!-- ##### All Javascript Script ##### -->

</body>
</html>
