<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Yesbanana Registration</title>

    <!-- Font Icon -->
    <link rel="stylesheet" th:href="@{/connexion/fonts/material-icon/css/material-design-iconic-font.min.css}">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.css">
    <!-- Main css -->
    <link rel="stylesheet" th:href="@{/connexion/css/style.css}">
</head>
<body>

    <div class="main">
        <a th:href="@{/}" class="btn btn-light" style="padding-left: 30px;"><i class="zmdi zmdi-home zmdi-hc"></i><br><span>Acceuil</span></a>
        <div class="container">
        	                <div style="font-size:1.2rem;text-align: center;"><i th:if="${error}" th:text="${error}" style="color:red;"></i> </div>
            <form method="POST" enctype="multipart/form-data" th:object="${user}" th:action="@{/user/visitor/buy/save}" class="appointment-form" id="appointment-form">
                <h2 class="text-center">Formulaire d'abonnement a la bibliotheque virtuelle</h2>
                <div class="form-group-1">
                    <input  type="text" name="name" id="name" placeholder="Nom..."  />
                    <input type="email" name="email"  placeholder="Email..." id="email"  />

                    <input type="text" name="number" id="number" placeholder="Téléphone..."  />
                   <input type="password" name="password" id="password" placeholder="Mot de Passe..."  />
                   <input type="password"  id="repass" placeholder="Confirmer..."  />

                </div>
                <div class="row">
                    <div class="col text-center mb-3">
                        <span class="share-advice" style="font-size: 16px">Bien vouloir partager sur un des reseaux avant de confirmer votre abonnement</span>
                    </div>
                </div>
                <!-- Custom Social Network Button -->
                <div class="row mb-5">
                    <div class="col-3 text-center ">
                        <button type="button" id="share-btn-facebook"   class="col-xs-3 share-btn" th:attr="data-url=${sharelink}"><i class="fa fa-facebook fa-2x text-info"></i></button>
                    </div>
                    <div class="col-3 text-center">
                        <button type="button" id="share-btn-twitter"    class="col-xs-3 share-btn" th:attr="data-url=${sharelink}"><i class="fa fa-twitter fa-2x text-info"></i></button>
                    </div>
                    <div class="col-3 text-center">
                        <button type="button" id="share-btn-linkedin"   class="col-xs-3 share-btn" th:attr="data-url=${sharelink}"><i class="fa fa-linkedin fa-2x text-info"></i></button>
                    </div>
                    <div class="col-3 text-center">
                        <button type="button" onclick="showDiv()"   class="col-xs-3 share-btn" ><i class="fa fa-exclamation-circle fa-2x text-info"></i>Autres...</button>
                    </div>
                </div>
                <!-- Modal -->
                <div id="other_share_show" class="text-black-50 mt-4"  style="display: none" >
                    <div class="card" >
                            <div class="card-header">
                                <h5 class="card-title"><span>Autre methode de partage</span></h5>
                            </div>
                            <div class="card-body">
                                <p style="font-size: 16px"><span >Bien vouloir entrer 3 numeros de telephones pour partager</span></p>
                                <div class="form-group">
                                    <label for="numbers1">Numero 1 :</label>
                                    <input type="text" name="numbers1" class="form-control" id="numbers1">
                                </div>
                                <div class="form-group">
                                    <label for="numbers2">Numero 2 :</label>
                                    <input type="text" name="numbers2" class="form-control" id="numbers2">
                                </div>
                                <div class="form-group">
                                    <label for="numbers3">Numero 3 :</label>
                                    <input type="text" name="numbers3" class="form-control" id="numbers3">
                                </div>
                            </div>
                    </div>
                </div>
                <!-- End -->
                <div class="form-submit mt-4">
                	<a th:href="@{/login}" class="signup-image-link mb-3">Se connecter</a>
                    <input type="submit" name="submit" id="submit" class="submit mt-3" value="Enregistrer" style="width:80%;margin:auto" />
                </div>
            </form>
        </div>
        <!-- The Modal -->
        <div class="modal fade" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title" style="color: #000000">Partager sur les réseaux sociaux</h4>
                        <button type="button" class="close" data-dismiss="modal">×</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <p style="color: #000000">
                            <a type="button" id="facebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?url=https://www.facebook.com" class="btn btn-social btn-facebook"><span class="fa fa-facebook"></span>    Facebook</a>
                            <a type="button" id="twitter" class="btn btn-social btn-twitter" target="_blank" href="https://twitter.com/intent/tweet?text=my share text&amp;url=https://twitter.com"> <span class="fa fa-twitter"></span> Twitter</a>
                            <a type="button" id="linkedin" class="btn btn-social btn-linkedin" target="_blank" href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://www.linkedin.com"> <span class="fa fa-linkedin"></span> LinkedIn</a>
                        </p>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" id="closemodal" >Fermer</button>
                    </div>

                </div>
            </div>
        </div>
        <!-- End modal -->

    </div>

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script th:src="@{/connexion/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/connexion/js/main.js}"></script>
    <script type="module" th:src="@{/js/main.js}"></script>
    <script type="module" th:src="@{/js/dashboard.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        $(document).ready(function(){

            $("#submit").prop("disabled", true);

            
            /* Social Network Share */
            $('#share-btn-twitter').click(e=>{
                e.preventDefault();
                
                /*<![CDATA[*/
                    let sharetext = /*[[${sharetext}]]*/ '';
                    let sharevia = /*[[${sharevia}]]*/ '';
                /*]]>*/

                let clickedBtn = e.currentTarget;
                let url = clickedBtn.getAttribute('data-url');

                let shareUrl = "https://twitter.com/intent/tweet?url="+ encodeURIComponent(url);
                if(sharetext != ''){
                    shareUrl += "&text=" + encodeURIComponent(sharetext);
                }
                if(sharevia != ''){
                    shareUrl += "&via=" + encodeURIComponent(sharevia);
                }

                createPopup(shareUrl, "Partagez sur Twitter");
                $("#submit").prop("disabled", false); 

            });

            $('#share-btn-facebook').click(e=>{
                e.preventDefault();

                let clickedBtn = e.currentTarget;
                let url = clickedBtn.getAttribute('data-url');

                let shareUrl = "https://www.facebook.com/sharer/sharer.php?u="+ encodeURIComponent(url);

                createPopup(shareUrl, "Partagez sur Facebook");
                $("#submit").prop("disabled", false); 
            });

            $('#share-btn-linkedin').click(e=>{
                e.preventDefault();

                let clickedBtn = e.currentTarget;
                let url = clickedBtn.getAttribute('data-url');

                let shareUrl = "https://www.linkedin.com/shareArticle?url="+ encodeURIComponent(url);

                createPopup(shareUrl, "Partagez sur LinkedIn");
                $("#submit").prop("disabled", false); 

            });


            function createPopup(url, title, scrollbars = "yes", width = 640, height = 350){

                let left = window.screenLeft || window.screenX; // screen width
                let top = window.screenTop || window.screenY; // screen height

                let currentWidth = window.innerWidth || document.documentElement.clientWidth; // current frame width
                let currentHeight = window.innerHeight || document.documentElement.clientHeight; // current frame height

                let popupLeft = left + currentWidth / 2 - width / 2;
                let popupTop = top + currentHeight / 2 - height / 2;

                window.open(url, title, "scrollbars=" + scrollbars + ", width="+ width + ", height=" + height + ", top=" + popupTop + ", left=" + popupLeft);
                
            }
         
            
        });

        function showDiv() {
            $("#submit").prop("disabled", true);
            var x = document.getElementById("other_share_show");
            if (x.style.display === "block") {
                x.style.display = "none";
                $('#numbers1').val('');
                $('#numbers2').val('');
                $('#numbers3').val('');
            } else {
                x.style.display = "block";
            }
            $("#submit").prop("disabled", false);

        }

    </script>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>