
<!--addCrew-->
<div  class=" modal fade in" id="login" tabindex="-1" role="dialog" data-keyboard="false" th:fragment="login"  xmlns:th="http://www.w3.org/1999/xhtml" >
    <div class="modal-dialog modal-dialog-centered card p-3"  style="pointer-events:auto;" role="document" >
        <form  id="contact_form"  method="POST" th:action="@{/visitor/livres/specifiques}">
            <h2 class="card-header bg-primary text-center" style="color: #FFFFFF;">Formulaire de demande d'une documentation specifique</h2>
            <div class="card-body mt-3 p-0">
                <div  class="contact_form_inputs d-flex mt-4 flex-md-row flex-column justify-content-between align-items-between">
                    <input style="width: 100%" type="text" id="contact_form_name" name="name" class="form-control" placeholder="Nom d'utilisateur..."  >
                </div>
                <div  class="contact_form_inputs d-flex mt-4 flex-md-row flex-column justify-content-between align-items-between">
                    <input style="width: 100%" type="email" id="contact_form_email" class="form-control" placeholder="Adresse e-mail..." name="email"  >
                </div>
                <div  class="contact_form_inputs d-flex mt-4 flex-md-row flex-column justify-content-between align-items-between">
                    <input style="width: 100%" type="text" id="contact_form_phone" class="form-control" placeholder="Num telephone..." name="telephone"  >
                </div>
                <div  class="contact_form_inputs d-flex mt-4 flex-md-row flex-column justify-content-between align-items-between">
                    <input style="width: 100%" type="text" id="contact_form_theme" class="form-control" placeholder="Domaine de recherche" name="theme"  >
                </div>
                <div  class="contact_form_inputs  mt-5 ">
                        <p>Proposition de paiement:</p>
                        <table class="table table-bordered table-striped table-highlight">
                            <thead>
                            <tr>
                                <th>5 livres</th>
                                <th>10 livres</th>
                                <th>20 livres</th>
                                <th>30 livres</th>
                                <th> > 30 livres</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <input type="checkbox" name="amount" th:checked="${amount}" th:value="${3}" th:text="' $'+${3}"/>
                                    <input type="text" name="number"  th:value="${5}" style="display: none"/>
                                </td>
                                <td>
                                    <input type="checkbox" name="amount" th:checked="${amount}" th:value="${5}" th:text="' $'+${5}"/>
                                    <input type="text" name="number"  th:value="${10}" style="display: none"/>
                                </td>
                                <td>
                                    <input type="checkbox" name="amount" th:checked="${amount}" th:value="${8}" th:text="' $'+${8}"/>
                                    <input type="text" name="number"  th:value="${20}" style="display: none"/>
                                </td>
                                <td>
                                    <input type="checkbox" name="amount" th:checked="${amount}" th:value="${12}" th:text="' $'+${12}"/>
                                    <input type="text" name="number"  th:value="${30}" style="display: none"/>
                                </td>
                                <td>
                                    <input type="checkbox" name="amount" th:checked="${amount}" th:value="${18}" th:text="' $'+${18}"/>
                                    <input type="text" name="number"  th:value="${30}" style="display: none"/>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                </div>
            </div>
            <div class="form-group row form-button" style="width: 100%">
                <div class="col-6">
                    <button data-dismiss="modal" style="width:100%;background-color: #f5e211!important; " class="button cart_button" >Cancel</button>
                </div>
                <div class="col-6">
                    <button type="submit" id="submit" style="width:100%;"  class="button cart_button">Valider</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- addCrew-->