<div th:fragment="management_header" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

    <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
            <li  class="nav-item  dropdown"><a href="#" class="nav-link ">Bibliothèque et recherche universitaire</a>
                <ul class="dropdown-menu">
                    <li class="dropdown-item" th:if="${session.roles[0].role == 'ROOT'} or ${session.roles[0].role == 'ROOT_MASTER'} or ${session.roles[0].role == 'ADMIN_MASTER'}">
                        <a th:href="@{/groupe/groupes}" class="black nav-link" >Regions</a>
                    </li>
                    <li class="dropdown-item" th:if="${session.roles[0].role == 'ROOT'} or ${session.roles[0].role == 'ROOT_MASTER'} or ${session.roles[0].role == 'ADMIN_MASTER'}">
                        <a th:href="@{/these/all}" class="black nav-link"  >Theses Générales</a>
                    </li>
                    <li class="dropdown-item" th:if="${session.roles[0].role == 'ROOT'} or ${session.roles[0].role == 'ROOT_MASTER'} or ${session.roles[0].role == 'ADMIN_MASTER'}">
                        <a th:href="@{/groupe/faculties}" class="black nav-link" >Livres par faculté</a>
                    </li>
                    <li class="dropdown-item" th:if="${session.roles[0].role == 'ROOT'} or ${session.roles[0].role == 'ROOT_MASTER'} or ${session.roles[0].role == 'LIVRE'} or ${session.roles[0].role == 'ADMIN_MASTER'}" >
                        <a th:href="@{/groupe/livres}" class="black nav-link" >Consulter et ajouter des livres</a>
                    </li>
                    <li class="dropdown-item" th:if="${session.roles[0].role == 'ROOT'} or ${session.roles[0].role == 'ROOT_MASTER'} or ${session.roles[0].role == 'ADMIN_MASTER'} or ${session.roles[0].role == 'BOURSE'}" >
                        <a th:href="@{/groupe/bourses}" class="black nav-link" >Bourses</a>
                    </li>
                    <li class="dropdown-item" th:if="${session.roles[0].role == 'ROOT'} or ${session.roles[0].role == 'ROOT_MASTER'} or ${session.roles[0].role == 'ADMIN_MASTER'} or ${session.roles[0].role == 'ESPACE_UNIVERSITAIRE'}" >
                        <a th:href="@{/event/events}" class="black nav-link" >Info universitaires</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item "><a th:href="@{/user/users}" class="nav-link " th:if="${session.roles[0].role == 'ROOT'} or ${session.roles[0].role == 'ROOT_MASTER'}" >Staffs</a></li>
            <!--li class="nav-item "><a th:href="@{/user}" class="nav-link " th:if="${roles[0].role == 'ROOT_MASTER'}" >Staffs</a></li-->
            <li class="nav-item "><a th:href="@{/stats}" class="nav-link " th:if=" ${session.roles[0].role == 'ROOT'} or ${session.roles[0].role == 'ROOT_MASTER'}" >Statistiques</a></li>
            <!--li class="nav-item "><a th:href="@{/stats}" class="nav-link " th:if="${roles[0].role == 'ROOT'}" >Statistiques</a></li-->
            <li class="nav-item "><a th:href="@{/management/countries/university}" class="nav-link " th:if=" ${session.roles[0].role == 'ROOT'} or ${session.roles[0].role == 'ROOT_MASTER'} or ${session.roles[0].role == 'ADMIN_MASTER'}" >Universités</a></li>
            <!--li class="nav-item "><a th:href="@{/management/countries/university}" class="nav-link " th:if="${roles[0].role == 'ROOT_MASTER'}" >Universités</a></li>
            <li class="nav-item "><a th:href="@{/management/countries/university}" class="nav-link " th:if="${roles[0].role == 'ADMIN_MASTER'}" >Universités</a></li-->
            <li class="nav-item dropdown" th:if=" ${session.roles[0].role == 'ROOT'} or ${session.roles[0].role == 'ROOT_MASTER'}">
                <a href="#" class="nav-link" data-toggle="dropdown">Travailler avec nous</a>
                <ul class="dropdown-menu">

                    <li class="dropdown-item" >
                        <a th:href="@{/management/student}" class="black nav-link" >Etudiant</a>
                    </li>

                    <li class="dropdown-item" id="starter2"><a  th:href="@{/groupe/publications/livres}" class=" black nav-link">Publication de Livres</a>                    </li>
                    <li class="dropdown-item" ><a  th:href="@{/groupe/publications/syllabus}" class=" black nav-link">Publication de Syllabus</a>                    </li>
                    <li class="dropdown-item" id="starter1" ><a href="#" class="black nav-link">Expert universitaires et professionnels</a>
                        <ul id="hide1">
                            <li class="dropdown-item" ><a th:href="@{/management/chiefs}" class="black nav-link">Chef des travaux</a></li>
                            <li class="dropdown-item" ><a th:href="@{/management/professeurs}" class="black nav-link">Professeurs</a></li>
                            <li class="dropdown-item" ><a th:href="@{/management/assistants}" class="black nav-link">Assistant</a></li>
                            <li class="dropdown-item" ><a th:href="@{/management/master}" class="black nav-link">Master1&2</a></li>
                            <li class="dropdown-item" ><a th:href="@{/management/doctorat}" class="black nav-link" id="ender1">Phd/Doctorat</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown" th:if=" ${session.roles[0].role == 'ROOT'} or ${session.roles[0].role == 'ROOT_MASTER'} or ${session.roles[0].role == 'ECOLE'}">
                <a  href="#" class="nav-link" data-toggle="dropdown" >Educations et Autres</a>
                <ul class="dropdown-menu">
                    <li class="dropdown-item" th:if=" ${session.roles[0].role == 'ROOT'} or ${session.roles[0].role == 'ROOT_MASTER'}"><a  th:href="@{/management/countries/other}" class="black nav-link" >Autres services</a></li>
                    <li class="dropdown-item" th:if=" ${session.roles[0].role == 'ROOT'} or ${session.roles[0].role == 'ROOT_MASTER'} or ${session.roles[0].role == 'ECOLE'}"><a  th:href="@{/primaire/primaires}" class="black nav-link">Education primaire</a></li>
                    <li class="dropdown-item" th:if=" ${session.roles[0].role == 'ROOT'} or ${session.roles[0].role == 'ROOT_MASTER'}"><a  th:href="@{/colonie/colonies}" class="black nav-link">Colonie de vacances</a></li>
                    <li class="dropdown-item" th:if=" ${session.roles[0].role == 'ROOT'} or ${session.roles[0].role == 'ROOT_MASTER'}"><a  th:href="@{/publicite/publicites}" class="black nav-link">Publicitees</a></li>
                </ul>
            </li>
            <li class="nav-item"><a th:href="@{/entrepreneuriat/entrepreneuriats}" class="nav-link" th:if=" ${session.roles[0].role == 'ROOT'} or ${session.roles[0].role == 'ROOT_MASTER'}" >Entrepreneuriat</a></li>
            <!--li class="nav-item"><a th:href="@{/management/entrepreneuriat/administration}" class="nav-link" th:if="${roles[0].role == 'ROOT_MASTER'}" >Formations</a></li-->
            <li class="nav-item dropdown text-center" sec:authorize="isFullyAuthenticated()">
                <!-- insert the profile image-->
                <a href="#">
                    <img class="profile-img" th:src="${session.avatar}" alt="avatar">
                </a>
                <ul class="dropdown-menu">
                    <!-- insert the profile image-->
                    <li class="dropdown-item" >
                        <a class="black nav-link" th:href="@{/user/detail/}+${session.userId}">Profil</a>
                    </li>
                    <li class="dropdown-item" id="ender3">
                        <a class="black nav-link" th:href="@{/logout}" >Deconnexion</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

</div>