<div th:fragment="navbar2(activeTab)" xmlns:th="http://www.w3.org/1999/xhtml">
<ul class="nav nav-tabs"  style="width:100%;margin-top: 4.5rem;">
    <li class="nav-item" th:class="${activeTab == admin}?'active':''">
        <a th:href="@{/training/admin}" class="nav-link btn btn-default"><span>Administration et finances</span></a>&nbsp;
        <!--a href="#bib" id="bib-tab" data-toggle="tab" role="tab" aria-controls="bib" aria-seleted="true" class=" nav-link active  btn btn-default"><span>Bibliotheques en ligne</span></a-->&nbsp;
    </li>
    <li class="nav-item" th:class="${activeTab == english}?'active':''">
        <a th:href="@{/training/english/french}"  class="btn btn-default nav-link"><span>Anglais et/ou français</span></a>&nbsp;
        <!--a href="#home" id="home-tab" data-toggle="tab" role="tab" aria-controls="home" aria-seleted="false" class="btn btn-default nav-link"><span>Cours d'appui</span></a-->&nbsp;
    </li>
    <li class="nav-item" th:class="${activeTab == it}?'active':''">
        <a th:href="@{/training/it} " class="btn btn-default nav-link"><span>IT</span></a>&nbsp;
        <!--a href="#transport" id="transport-tab" data-toggle="tab" role="tab" aria-controls="transport" aria-seleted="false" class="btn btn-default nav-link"><span>Transports sécurisés</span></a-->&nbsp;
    </li>
    <li class="nav-item" th:class="${activeTab == logistic}?'active':''">
        <a th:href="@{/training/logistic}" class="btn btn-default nav-link"><span>Logistique</span></a>&nbsp;
        <!--a href="#language" id="language-tab" data-toggle="tab" role="tab" aria-controls="language" aria-seleted="false" class="btn btn-default nav-link"><span>Cours d'anglais et/ou françcais</span></a-->&nbsp;
    </li>
    <li class="nav-item" th:class="${activeTab == protection}?'active':''">
        <a th:href="@{/training/protection}" class="btn btn-default nav-link"><span>Protection</span></a>&nbsp;
        <!--a href="#games" id="games-tab" data-toggle="tab" role="tab" aria-controls="games" aria-seleted="false" class="btn btn-default nav-link"><span>Jeux éducatif</span></a-->&nbsp;
    </li>
    <li class="nav-item" th:class="${activeTab == resource}?'active':''">
        <a th:href="@{/training/resource}" class="btn btn-default nav-link"><span>Ressource humaine</span></a>&nbsp;
        <!--a href="#games" id="games-tab" data-toggle="tab" role="tab" aria-controls="games" aria-seleted="false" class="btn btn-default nav-link"><span>Jeux éducatif</span></a-->&nbsp;
    </li>
    <li class="nav-item" th:class="${activeTab == leadership}?'active':''">
        <a th:href="@{/training/leadership}" class="btn btn-default nav-link"><span>Leadership</span></a>&nbsp;
        <!--a href="#games" id="games-tab" data-toggle="tab" role="tab" aria-controls="games" aria-seleted="false" class="btn btn-default nav-link"><span>Jeux éducatif</span></a-->&nbsp;
    </li>
    <li class="nav-item" th:class="${activeTab == management}?'active':''">
        <a th:href="@{/training/management}" class="btn btn-default nav-link"><span>Management</span></a>&nbsp;
        <!--a href="#games" id="games-tab" data-toggle="tab" role="tab" aria-controls="games" aria-seleted="false" class="btn btn-default nav-link"><span>Jeux éducatif</span></a-->&nbsp;
    </li>
    <li class="nav-item" th:class="${activeTab == wash}?'active':''">
        <a th:href="@{/training/wash}" class="btn btn-default nav-link"><span>Wash</span></a>&nbsp;&nbsp;&nbsp;&nbsp;
        <!--a th:href="@{/school/primary/hollyday}" id="holliday-tab" data-toggle="tab" role="tab" aria-controls="holliday" aria-seleted="false" class="btn btn-default nav-link"><span>Colonies de vacances</span></a-->&nbsp;&nbsp;&nbsp;&nbsp;
    </li>
</ul>
</div>