				<div class="col-lg-3" th:fragment="side_bibliotheque_recherche"  xmlns:th="http://www.w3.org/1999/xhtml">

					<!-- Shop Sidebar -->
					<div class="shop_sidebar">
						<div class="sidebar_section">
							<div class="sidebar_title">Eléments de recherche</div>
							<hr>
							<ul class="sidebar_categories">
								<!--li><a th:href="@{/visitor/students_work}">Travaux des étudiants</a></li>
								<hr>
								<li><a th:href="@{/visitor/students_work/faculties}">Travaux des étudiants par facultés</a></li>
								<hr-->
								<li><a th:href="@{/visitor/livres}">Rechercher un Livre</a></li>
								<hr>
								<li><a th:href="@{/external/secure/country/countries}">Livres par faculté et département</a></li><hr>
								<li><a data-toggle="modal" data-target="#login" class="btn">Documentation specifique</a></li>
								<!--hr>
								<li><a th:href="@{/visitor/syllabuses}">Rechercher un Syllabus</a></li>
								<hr>
								<li><a th:href="@{/visitor/syllabuses/faculties}">Syllabus par facultés</a></li-->
							</ul>
						</div>
					</div>

				</div>