				<div class="col-lg-3" th:fragment="side_travailler_avec_nous"  xmlns:th="http://www.w3.org/1999/xhtml">

					<!-- Shop Sidebar -->
					<div class="shop_sidebar">
						<div class="sidebar_section">
							<div class="sidebar_title">Travailler avec nous ?</div>
							<hr>
							<ul class="sidebar_categories">
								<li><a th:href="@{/visitor/why_work/with_us}">Pourquoi travailler avec nous?&nbsp;&nbsp;<i class="fa fa-angle-double-right"></i></a></li><hr>
								<li><a th:href="@{/visitor/student}">Etudiant&nbsp;&nbsp;<i class="fa fa-angle-double-right"></i></a></li><hr>
								<li><a th:href="@{/visitor/expert/professional}">Expert professionnel&nbsp;&nbsp;<i class="fa fa-angle-double-right"></i></a></li><hr>
								<li><a th:href="@{/visitor/expert/universitory}">Expert universitaire&nbsp;&nbsp;<i class="fa fa-angle-double-right"></i></a></li><hr>
								<li><a th:href="@{/visitor/teacher/primaire}">Enseignant du primaire&nbsp;&nbsp;<i class="fa fa-angle-double-right"></i></a></li><hr>
								<li><a th:href="@{/visitor/teacher/secondaire}">Enseignant du secondaire&nbsp;&nbsp;<i class="fa fa-angle-double-right"></i></a></li><hr>
								<li><a th:href="@{/visitor/publish/book/form}">Publier un livre&nbsp;&nbsp;<i class="fa fa-angle-double-right"></i></a></li><hr>
								<li><a th:href="@{/visitor/publish/sylabus/form}">Publier un syllabus&nbsp;&nbsp;<i class="fa fa-angle-double-right"></i></a></li><hr>
							</ul>
						</div>
					</div>

				</div>