				<div class="col-lg-3" th:fragment="side_creation_entreprise"  xmlns:th="http://www.w3.org/1999/xhtml">

					<!-- Shop Sidebar -->
					<div class="shop_sidebar">
						<div class="sidebar_section">
							<div class="sidebar_title">Creation d'entreprise</div>
							<hr>
							<ul class="sidebar_categories">
								<li><a th:href="@{/course/administration}">Administration et Finances</a></li><hr>
								<li><a th:href="@{/course/languages}">Anglais et/ou Francais</a></li><hr>
								<li><a th:href="@{/course/resource}">Resources Humaines</a></li><hr>
								<li><a th:href="@{/course/alphabetisations}">Alphabétisation</a></li><hr>
								<li><a th:href="@{/course/entreprenariats}">Entrepreneuriat</a></li>
							</ul>
						</div>
					</div>

				</div>