<div th:fragment="side_bibliotheque_recherche"  xmlns:th="http://www.w3.org/1999/xhtml">
				<div class="col-lg-3" style="width: auto!important;">

					<!-- Shop Sidebar -->
					<div class="shop_sidebar">
						<div class="sidebar_section">
							<div class="sidebar_title">Eléments de recherche</div>
							<hr>
							<ul class="sidebar_categories">
								<li><a th:href="@{/visitor/catalogues}">Catalogue</a></li>
								<hr>
								<li><a th:href="@{/visitor/livres}">Recherche Livres</a></li>
								<hr>
								<li><a th:href="@{/external/secure/country/countries}">Livres par faculté/option</a></li>
								<hr>
								<li><a th:href="@{/visitor/syllabuses}">Syllabus</a></li>
								<hr>
								<li><a th:href="@{/visitor/students_work}">Travaux des étudiants</a></li>
							</ul>
						</div>
					</div>

				</div>
	</div>