				<div class="col-lg-3" th:fragment="side_top_info"  xmlns:th="http://www.w3.org/1999/xhtml">

					<!-- Shop Sidebar -->
					<div class="shop_sidebar">
						<div class="sidebar_section">
							<div class="sidebar_title">Top Infos</div>
							<hr>
							<ul class="sidebar_categories">
								<li><a th:href="@{/visitor/events/}+${type}+'/'+'photo'" ><span>Photo class : beaux gars et belles filles</span></a></li><hr>
								<li><a th:href="@{/visitor/events/}+${type}+'/'+'look'" ><span>New look a Kinshasa</span></a></li><hr>
								<!--li><a th:href="@{/visitor/events/}+${type}+'/'+'concert'" ><span>Concerts</span></a></li><hr-->
								<li><a th:href="@{/visitor/events/}+${type}+'/'+'miss'" ><span>Concours de Miss Inter-universitaire</span></a></li><hr>
								<li><a th:href="@{/visitor/events/}+${type}+'/'+'sport'" ><span>Sports</span></a></li>
							</ul>
						</div>
					</div>

				</div>