				<div class="col-lg-3" th:fragment="side_encadrement_travaux_scientifiques"  xmlns:th="http://www.w3.org/1999/xhtml" >

					<!-- Shop Sidebar -->
					<div class="shop_sidebar">
						<div class="sidebar_section">
							<div class="sidebar_title">Eléments</div>
							<hr>
							<ul class="sidebar_categories">
								<li><a th:href="@{/visitor/what_are/encadreur}">Qui est encadreur?<i class="fas fa-chevron-down"></i></a></li>
								<hr>
								<li><a th:href="@{/visitor/professeurs}">Professeur</a></li>
								<hr>
								<li><a th:href="@{/visitor/chef/travaux}">Chef de travaux</a></li>
								<hr>
								<li><a th:href="@{/visitor/enseignants/primaire}">Enseignants ecoles primaire</a></li>
								<hr>
								<li><a th:href="@{/visitor/enseignants/secondaire}">Enseignants ecoles secondaire</a></li>
								<hr>
								<li><a th:href="@{/visitor/expert/yesb}">Expert YesB</a></li>
							</ul>
						</div>
					</div>

				</div>

				