<div th:fragment="side_travailler_avec_nous"  xmlns:th="http://www.w3.org/1999/xhtml">
				<div class="col-lg-3" style="width: 100%!important;">

					<!-- Shop Sidebar -->
					<div class="shop_sidebar">
						<div class="sidebar_section">
							<div class="sidebar_title">Travailler avec nous ?</div>
							<hr>
							<ul class="sidebar_categories">
								<li><a th:href="@{/visitor/student}">Etudiant</a></li><hr>
								<li><a th:href="@{/visitor/expert/professional}">Expert professionnel</a></li><hr>
								<li><a th:href="@{/visitor/expert/universitory}">Expert universitaire</a></li><hr>
								<li><a th:href="@{/visitor/teacher/primaire}">Enseignant du primaire</a></li><hr>
								<li><a th:href="@{/visitor/teacher/secondaire}">Enseignant du secondaire</a></li>
							</ul>
						</div>
					</div>

				</div>
	</div>