<!-- sidebar-->
<nav id="sidebar" class="bg-light fixed-top active" th:if="${roles[0].role == 'USER'}"   xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="sidebar"
     xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="sidebar-header">
        <button  class="btn text-white" id="back" ><i class="fa fa-arrow-left"></i><br><span>Retour</span></button>
    </div>

    <span style="color:white;font-size:.7rem;position:absolute;bottom: 0;left:0">@neword,@derteuffel</span>
</nav>
<!-- sidebar-->

<!-- sidebar-->
<nav id="sidebar" class="bg-light fixed-top active"  th:unless="${roles[0].role == 'USER'}"  xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="sidebar"
     xmlns:sec="http://www.w3.org/1999/xhtml">

    <div class="sidebar-header">
        <button  class="btn text-white" id="back" ><i class="fa fa-arrow-left"></i><br><span>Retour</span></button>
    </div>
    <ul class="list-unstyled components">
       <li> <a th:href="@{/groupe/groupe/} + ${session.groupeId}" class="btn text-success"><i class="zmdi zmdi-graduation-cap zmdi-hc-2x"></i><br>Thèses</a></li>
        <li> <a th:href="@{/groupe/groupe/users/} + ${session.groupeId}" class="btn text-success"><i class="zmdi zmdi-account zmdi-hc-2x"></i><br>Utilisateurs</a></li>
        <li> <a th:href="@{/groupe/stats/}" class=" btn text-success"><i class="zmdi zmdi-trending-down zmdi-hc-2x"></i><br>Statistiques</a></li>
        <li> <a th:href="@{/groupe/training/}+ ${session.groupeId}" class=" btn text-success"><i class="zmdi zmdi-group-work zmdi-hc-2x"></i><br>Accompa...</a></li>
    </ul>
    <br>
    <h4>
    <span style="color:white;font-size:.7rem;left:0">@neword,@derteuffel</span>
    </h4>
</nav>
<!-- sidebar-->