<!--navigation -->

<nav   xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="theseNavigation" id="element">
    <ul class="list-group">
        <a th:href="@{/these/these/} + ${these1.theseId}" class="alert-info active theseNavigation" style="text-decoration: none; ">
            <li class="list-group-item" >
                Somaire
            </li>
        <a th:href="@{/these/equipe/} + ${these1.theseId}" class="alert-info active theseNavigation" style="text-decoration: none; ">
        <li class="list-group-item" >
                        Etudiant et équipe directrice<span class="sr-only">(current)</span>
        </li>
        </a>
        <a th:href="@{/these/biblib/} + ${these1.theseId}" class="alert-info theseNavigation" style="text-decoration: none; ">
        <li class="list-group-item" >
                        Bibliothèques et Bibliographie
        </li>
        </a>
        <a th:href="@{/these/all}" class="alert-info theseNavigation" style="text-decoration: none; ">
            <li class="list-group-item">
                Thèses générale
            </li>
        </a>
    </ul>
    
</nav>
<!-- navigation -->