

.addButton
{
    position:fixed;
    bottom:1rem;
    right:8%;
}
.add-these-form input
{
    width:100%;
}
.add-these-form
{
    padding:2rem;
    padding-top:0rem;
    width:70%;
    margin:auto;
}
.printButton
{
    position:fixed;
    bottom:1rem;
    left:10%;
}