<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>yesbanana</title>

    <!-- Favicon -->
    <link rel="icon" th:src="@{/core-img/yesb.png}">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style1.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/myStyle.css}">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

</head>

<body>
<!-- ##### Preloader ##### -->
<div id="preloader">
    <i class="circle-preloader"></i>
</div>

<!-- ##### Header Area Start ##### -->
<header class="header-area">

    <!-- Top Header Area -->
    <div class="top-header">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-12 h-100">
                    <div class="header-content h-100 d-flex align-items-center justify-content-between">
                        <div class="academy-logo">
                            <a th:href="@{/}"><img th:src="@{/img/core-img/yesb.png}" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Navbar Area -->
    <div class="academy-main-menu">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="academyNav">

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- close btn -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                <li><a th:href="@{/}">Acceuil</a></li>
                                <li><a th:href="@{/deals}">Commencez avec nous?</a></li>
                                <li><a href="#">Travailler avec nous</a>
                                    <ul class="dropdown">
                                        <li><a href="#">Expert</a>
                                            <ul class="dropdown">
                                                <li><a th:href="@{/visitor/expert/universitory}">Universitaire</a></li>
                                                <li><a th:href="@{/visitor/expert/professional}">Professionnel</a></li>
                                            </ul>
                                        </li>
                                        <li><a th:href="@{/visitor/student}">Etudiant</a></li>
                                        <li><a href="#">Enseignant</a>
                                            <ul class="dropdown">
                                                <li><a th:href="@{/visitor/teacher/primaire}">Primaire</a></li>
                                                <li><a th:href="@{/visitor/teacher/secondaire}">Secondaire</a></li>
                                            </ul>
                                        </li>
                                        <li><a th:href="@{/user/visitor/form}">Publication</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <!-- Nav End -->
                    </div>

                    <!-- Calling Info -->
                    <div class="calling-info">
                        <div class="call-center">
                            <a href="#"> <span>solutioneducationafrique@gmail.com</span></a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ##### Header Area End ##### -->


<!-- ##### Course Area Start ##### -->
<div class="academy-courses-area section-padding-100-0">
    <div class="container">
        <div class="row">
            <!-- Single Course Area -->
            <div class="col-12 col-sm-6 col-lg-4" style="padding: 0.5rem;">
                <div class="single-course-area d-flex align-items-center mb-100 wow fadeInUp card" data-wow-delay="300ms" style="height: 300px;">
                    <a th:href="@{/external/secure/country/countries}">
                    <div class="course-icon">
                        <i class="icon-id-card"></i>
                    </div>
                    <div class="course-content">
                        <h4>Université</h4>
                        <p>Sujets, Logement, Transport, Approvi-<br>sionnement</p>
                    </div>
                </a>
                </div>
            </div>
            <!-- Single Course Area -->
            <div class="col-12 col-sm-6 col-lg-4" style="padding: 0.5rem;">
                <div class="single-course-area d-flex align-items-center mb-100 wow fadeInUp card" data-wow-delay="400ms" style="height: 300px;">
                    <a th:href="@{/education}" class="btn">
                    <div class="course-icon">
                        <i class="icon-worldwide"></i>
                    </div>
                    <div class="course-content">
                        <h5>Education Primaire et <br>secondaire</h5>
                        <p>Cours d'appui, Transport sécu-<br>risé, colonie des vacances, jeu<br>éducatif, Cours d'anglais et/ou<br>francais, Bibliothèque en ligne</p>
                    </div>
                    </a>
                </div>
            </div>
            <!-- Single Course Area -->
            <div class="col-12 col-sm-6 col-lg-4" style="padding: 0.5rem;">
                <div class="single-course-area d-flex align-items-center mb-100 wow fadeInUp card" data-wow-delay="500ms" style="height: 300px;">
                    <a th:href="@{/school/project}">
                    <div class="course-icon">
                        <i class="icon-map"></i>
                    </div>
                    <div class="course-content">
                        <h5>Concours des talents et<br> projets</h5>
                        <p>Concours de projets, Conseils,<br>Accompagnement d'un expert</p>
                    </div>
                    </a>
                </div>
            </div>
            <!-- Single Course Area -->
            <div class="col-12 col-sm-6 col-lg-4" style="padding: 0.5rem;">
                <div class="single-course-area d-flex align-items-center mb-100 wow fadeInUp card" data-wow-delay="600ms" style="height: 300px;">
                    <a th:href="@{/course/all}">
                    <div class="course-icon">
                        <i class="icon-like"></i>
                    </div>
                    <div class="course-content">
                         <h5>Formation professionnelle</h5>
                        <p>Administration et finances, Anglais <br> et/ou francais, IT, Wash, Resources <br>
                        Humaines, Leadership, Management<br> Logistique</p>
                    </div>
                    </a>
                </div>
            </div>
            <!-- Single Course Area -->
            <div class="col-12 col-sm-6 col-lg-4" style="padding: 0.5rem;">
                <div class="single-course-area d-flex align-items-center mb-100 wow fadeInUp card" data-wow-delay="700ms" style="height: 300px;">
                    <a th:href="@{/other/services}">
                    <div class="course-icon">
                        <i class="icon-responsive"></i>
                    </div>
                    <div class="course-content">
                        <h4>Jobs et Stages</h4>
                        <p>Petits jobs et stages pour etudiants <br>
                        pendant de courtes périodes</p>
                    </div>
                    </a>
                </div>
            </div>
            <!-- Single Course Area -->
            <div class="col-12 col-sm-6 col-lg-4" style="padding: 0.5rem;">
                <div class="single-course-area d-flex align-items-center mb-100 wow fadeInUp card" data-wow-delay="800ms" style="height: 300px;">
                    <a th:href="@{/other/markets}">
                    <div class="course-icon">
                        <i class="icon-message"></i>
                    </div>
                    <div class="course-content">
                         <h4>Super marché en ligne</h4>
                    </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Course Area End ##### -->

<!-- ##### Footer Area Start ##### -->
<footer class="footer-area">
    <!-- Top Footer Area -->
    <div class="top-footer-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Footer Logo -->
                    <div class="footer-logo">
                        <a href="index.html"><img src="img/core-img/logo2.png" alt=""></a>
                    </div>
                    <!-- Copywrite -->
                    <p><a href="#"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> Tous les droits sont réservés | cette page faite <i class="fa fa-heart-o" aria-hidden="true"></i> par <a href="https://yesbanana.org" target="_blank">Yesbanana</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Bottom Footer Area -->
    <div class="bottom-footer-area d-flex justify-content-between align-items-center">
        <!-- Contact Info -->
        <div class="contact-info">
            <a href="#"><span>Phone:</span> +237 694 126 158</a>
            <a href="#"><span>Email:</span> admin@yesbanana.org</a>
        </div>
        <!-- Follow Us -->
        <div class="follow-us">
            <span>Suivez-nous</span>
            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </div>
    </div>
</footer>
<!-- ##### Footer Area End ##### -->

<!-- ##### All Javascript Script ##### -->
<!-- jQuery-2.2.4 js -->
<script src="js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="js/bootstrap/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="js/bootstrap/bootstrap.min.js"></script>
<!-- All Plugins js -->
<script src="js/plugins/plugins.js"></script>
<!-- Active js -->
<script src="js/active.js"></script>
</body>

</html>