<div style="position:fixed;top:10rem;right:1rem" xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="addToPayWidgetFragment">
    <form method="post" th:action="@{/payment/article/panier}">
        <input type="hidden" name="name" value="Cours d'anglais">
        <input type="hidden" name="prix" value="2">
        <button type="submit" style="cursor:hand" class="btn btn-primary" ><i class="fa fa-shopping-cart"></i><br>Ajouter au panier</button>
    </form>
</div>


<!--div th:replace="~{../templates/payment/addToPayWidget :: addToPayWidgetFragment}">
</div>

