<div xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="pay (cours,prix)">

        <a onclick="event.preventDefault();addToPanier(this)" th:href="@{/payment/article/panier/} + ${cours} + '/' + ${prix}"  style="cursor:hand" class="btn btn-primary" ><i class="fa fa-shopping-cart"></i></a>

    <script type="text/javascript">
        // sending form data with ajax
        // submit a form data with a file usign ajax jquery
        let addToPanier = (link) =>
        {
            url = link.href;
            console.log(url);
            $.ajax(
                    {
                        type: 'GET',
                        crossOrigin:true,
                        url: url,
                        cache: false,
                        processData: false,
                        contentType: false
                    }
            ).done(
                    (response)=>{
                console.log(response);
            alert("Article ajouter");
        }
        ).fail(
                (error)=>{
            console.log(error);
        }
        )
        }
    </script>
</div>

<!-- how to call it in views
<div th:replace="fragments/addToPayWidget.html
          :: pay(cours=' le nom du cours', value='prix ')">
    </div>
-->



